<!-- IF NOT SIGNED IN -->
<!-- <div class="instagramFeed">
<div class="instagram">
  <span class="hoosinstagram">#hoosin</span>
</div>
</div> -->
<div class="white-background">
<div class="text-center">
  <p class="clearfix">
    <h2 class='muted'>the social network that is</h2>
    <h1>more social and less network</h1>
  </p>
  <div class="hidden-lg hidden-md hidden-sm visible-xs">
    <p class="hi-video">
      <object width="340" height="180"><param name="movie" value="//www.youtube.com/v/NEWfGtsFkig?hl=en_US&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/NEWfGtsFkig?hl=en_US&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="300" height="180" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </p>
    <p class="no-column">
      Welcome to hoos.in, a private network with one goal: to make it easy for you and your friends to plan and enjoy memorable, exciting, and creative adventures you can come up with. You and all your friends have awesome ideas: "salsa dancing", "build a snow fort", "city-wide squitgun fight", "foam party", "full-moon bike ride", or "going to a concert". Stay on the same page. Bring your crowd. Make planning and doing things easy, simple, and fun.
    </p>
  </div>
  <div class="visible-lg visible-md visible-sm hidden-xs"
    <p class="hi-video">
      <object width="420" height="315"><param name="movie" value="//www.youtube.com/v/NEWfGtsFkig?hl=en_US&amp;version=3&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/NEWfGtsFkig?hl=en_US&amp;version=3&amp;rel=0" type="application/x-shockwave-flash" width="440" height="280" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </p>
    <p class="columns">
      <span class='indent'>Welcome</span> to hoos.in, a private network with one goal: to make it easy for you and your friends to plan and enjoy memorable, exciting, and creative adventures you can come up with. You and all your friends have awesome ideas: "salsa dancing", "build a snow fort", "city-wide squitgun fight", "foam party", "full-moon bike ride", or "going to a concert". Stay on the same page. Bring your crowd. Make planning and doing things easy, simple, and fun.
    </p>
  </div>
  <p>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup" class="connect-box">
      <form action="http://hoos.us6.list-manage2.com/subscribe/post?u=1b4b442e588d92853aa6ca188&amp;id=3da03053fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h2></h2>
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email flat-input" id="mce-EMAIL" placeholder="email address">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  
          <input type="submit" value="i am .interested" name="subscribe" id="mc-embedded-subscribe" class="btn btn-warning">
      </form>
    </div>
    <script type="text/javascript">
    var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='MMERGE4';ftypes[4]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='url';
    try {
        var jqueryLoaded=jQuery;
        jqueryLoaded=true;
    } catch(err) {
        var jqueryLoaded=false;
    }
    var head= document.getElementsByTagName('head')[0];
    if (!jqueryLoaded) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
        head.appendChild(script);
        if (script.readyState && script.onload!==null){
            script.onreadystatechange= function () {
                  if (this.readyState == 'complete') mce_preload_check();
            }    
        }
    }

    var err_style = '';
    try{
        err_style = mc_custom_error_style;
    } catch(e){
        err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
    }
    var head= document.getElementsByTagName('head')[0];
    var style= document.createElement('style');
    style.type= 'text/css';
    if (style.styleSheet) {
      style.styleSheet.cssText = err_style;
    } else {
      style.appendChild(document.createTextNode(err_style));
    }
    head.appendChild(style);
    setTimeout('mce_preload_check();', 250);

    var mce_preload_checks = 0;
    function mce_preload_check(){
        if (mce_preload_checks>40) return;
        mce_preload_checks++;
        try {
            var jqueryLoaded=jQuery;
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
        head.appendChild(script);
        try {
            var validatorLoaded=jQuery("#fake-form").validate({});
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        mce_init_form();
    }
    function mce_init_form(){
        jQuery(document).ready( function($) {
          var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
          var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
          $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
          options = { url: 'http://hoos.us6.list-manage2.com/subscribe/post-json?u=1b4b442e588d92853aa6ca188&id=3da03053fa&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                        beforeSubmit: function(){
                            $('#mce_tmp_error_msg').remove();
                            $('.datefield','#mc_embed_signup').each(
                                function(){
                                    var txt = 'filled';
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            var bday = false;
                                            if (fields.length == 2){
                                                bday = true;
                                                fields[2] = {'value':1970};//trick birthdays into having years
                                            }
                                          if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                          } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                            this.value = '';
                          } else {
                              if (/\[day\]/.test(fields[0].name)){
                                                  this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                         
                              } else {
                                                  this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                              }
                                          }
                                        });
                                });
                            $('.phonefield-us','#mc_embed_signup').each(
                                function(){
                                    var fields = new Array();
                                    var i = 0;
                                    $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                    $(':hidden', this).each(
                                        function(){
                                            if ( fields[0].value.length != 3 || fields[1].value.length!=3 || fields[2].value.length!=4 ){
                                            this.value = '';
                          } else {
                              this.value = 'filled';
                                          }
                                        });
                                });
                            return mce_validator.form();
                        }, 
                        success: mce_success_cb
                    };
          $('#mc-embedded-subscribe-form').ajaxForm(options);
          
          
        });
    }
    function mce_success_cb(resp){
        $('#mce-success-response').hide();
        $('#mce-error-response').hide();
        if (resp.result=="success"){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(resp.msg);
            $('#mc-embedded-subscribe-form').each(function(){
                this.reset();
          });
        } else {
            var index = -1;
            var msg;
            try {
                var parts = resp.msg.split(' - ',2);
                if (parts[1]==undefined){
                    msg = resp.msg;
                } else {
                    i = parseInt(parts[0]);
                    if (i.toString() == parts[0]){
                        index = parts[0];
                        msg = parts[1];
                    } else {
                        index = -1;
                        msg = resp.msg;
                    }
                }
            } catch(e){
                index = -1;
                msg = resp.msg;
            }
            try{
                if (index== -1){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);            
                } else {
                    err_id = 'mce_tmp_error_msg';
                    html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                    
                    var input_id = '#mc_embed_signup';
                    var f = $(input_id);
                    if (ftypes[index]=='address'){
                        input_id = '#mce-'+fnames[index]+'-addr1';
                        f = $(input_id).parent().parent().get(0);
                    } else if (ftypes[index]=='date'){
                        input_id = '#mce-'+fnames[index]+'-month';
                        f = $(input_id).parent().parent().get(0);
                    } else {
                        input_id = '#mce-'+fnames[index];
                        f = $().parent(input_id).get(0);
                    }
                    if (f){
                        $(f).append(html);
                        $(input_id).focus();
                    } else {
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);
                    }
                }
            } catch(e){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);
            }
        }
    }

    </script>
    <!--End mc_embed_signup-->
  </p>
  <% if false %>
  <p>
    <%= link_to "more social, less network", "http://blog.hoos.in" %>
    <div id="auth-status">
        <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn btn-facebook btn-large"><i class="icon-facebook"></i> log.in w Facebook</span></a>
    </div>
  </p>
  <p class="text-center">- or -</p>
  <p>  
    <%= link_to "log.in", new_user_session_path, class:"" %> | 
    <%= link_to "sign up", new_user_registration_path, class:"" %> w email
  </p>
  <% end %>
  <p class="clear-both">
  <% if false %>
    <a href="http://www.appszoom.com/android_applications/social/hoosin_dfatz.html"><%= image_tag "email/android_store.png" %></a>
    <a href="http://itunes.com/apps/hoosin">
      <%= image_tag "email/iphone_store.png", class:'span5' %>
    </a>
  <% end %>
  </p>
  <div class"connect-box">
    <div class="fb-like" data-href="http://www.facebook.com/hoosinapp" data-send="false" data-width="250" data-show-faces="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="come do great things on hoos.in" data-via="ajbraus" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="connect-box">
    <a href="https://www.facebook.com/hoosinapp/app_267091300008193" target="_blank">
      <div class="connect instagram-circle">
        <i class="icon-camera-retro"></i>
      </div>
    </a>
    <a href="http://www.facebook.com/hoosinapp" target="_blank">
      <div class="connect facebook">
        <i class="icon-facebook"></i>
      </div>
    </a>
    <a href="http://www.twitter.com/hoos_in" target="_blank">
      <div class="connect twitter">
        <i class="icon-twitter"></i>
      </div>
    </a>
    <a href="http://blog.hoos.in" target="_blank">
      <div class="connect blog">
        <i class="icon-pencil"></i>
      </div>
    </a>
  </div>
  <div class="press-box">
    <h2 class="muted">concept featured .in:</h2>
    <ul>
      <li>
        <%= link_to "http://host.madison.com/wsj/business/life-after-epic-from-epic-grad-to-entrepreneur/article_3511799e-9e42-11e2-a742-001a4bcf887a.html", target: "_blank" do %>
          <%= image_tag 'wsj.png' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>