<%= div_for comment do %>
  <div class="comment_picture">
  	<%= link_to user_path(comment.user), target: "blank" do %>
  		<%= small_profile_picture(comment.user) %>
  	<% end %>
  </div>
  <div class="comment_content">
		<%= auto_link(comment.content) %>
  </div>
  <div class="comment_data">
  	<span class="comment_creator"><%= comment.user.first_name %></span> <br> <span class="comment_created_at"><%= comment.created_at.strftime "%l:%M%P, %a %b %e"%></span>
		<% if current_user == comment.user %>
			<%= link_to event_comment_path(@event, comment), :method => :delete, id:"delete_comment" do %>
				<i class="icon-remove"></i>
			<% end %>
		<% end %>
	</div>
<% end %>