<%= div_for comment do %>
  <p class="comment_content">
    <%= auto_link(comment.content) %>
  </p>
  <div class="comment_data">
  	<span class="comment_creator"><%= comment.creator %></span> | <span class="comment_created_at"><%= comment.created_at.strftime "%l:%M%P, %A %B %e"%></span> |
		<% if current_user.name == comment.creator %>
			<%= link_to 'Remove', event_comment_path(@event, comment), :method => :delete %>
		<% end %>
	</div>
<% end %>