<%= div_for comment do %>
  <p class="comment_content">
    <%= comment.content %>
  </p>
  <p class="comment_data">
  	<span class="comment_created_at"><%= @comment_created_at %></span> | <span class="comment_creator"><%= comment.creator %></span><br>
		<% if current_user.name == comment.creator %>
			<%= link_to 'Remove', event_comment_path(@event, comment), :method => :delete %>
		<% end %>
	</p>
<% end %>