<div class="guests_groups">
	<div class="activity_guests">
		<% if event.rsvps.any? %>
			<h4>Guests <%= event.total_guests %></h4>
			<% event.guests.each do |g| %>
				<table>
					<tr>
						<td>
							<%= link_to user_path(g) do %>
								<%= raster_profile_picture(g) %> 
							<% end %>
						</td>
						<td>
							<%= g.name %>
						</td>
					<tr>
				</table>
			<% end %>
		<% end %>
		<% if event.groups.any? %>
			<% event.groups.each do |group| %>
				<% group.guests.each do |guest| %>
					<table>
						<tr>
							<td>
								<%= link_to user_path(guest) do %>
									<%= raster_profile_picture(guest) %> 
								<% end %>
							</td>
							<td>
								<%= guest.name %>
							</td>
						<tr>
					</table>
				<% end %>
			<% end %>
		<% end %>
	</div>
<div class="groups">
	<% if event.groups.any? %>
		<h4>Groups</h4>
			<% event.groups.each do |group| %>
				<%= render partial: 'shalendar/group', locals: { :group => group } %>
			<% end %>
	<% end %>
</div>