<li class="part activities">
  <%= link_to event.parent do %>
    <% if event.has_image? %>
      <span class="activity_event">
        <%= image_tag event.image(:large) %>
      </span>
    <% end %>

	<div class="vendorEventDetails">
		<div class="activity_time"><%= event.start_time %></div>
		<div class="suggestionTitle">
			<%= event.title %>
		</div>
  
  <% end %>

		<div class="guests_groups">
      <div class="activity_guests">
        <h4>Guests <%= event.guest_count %></h4>
        <%= render partial: 'shared/user', collection: event.guests, as: :user %>
      </div>
    </div>
	</div>

<% if false %>
	<ul class="suggestion_options">
    <li>
      <%= render partial: 'social/email', locals: { :event => event } %>
    </li>
    <li>
      <%= render partial: 'social/twitter', locals: { :event => event } %>
    </li>
    <li>
      <%= render partial: 'social/facebook', locals: { :event => event } %> 
		</li>
  </ul>
<% end %>
</li>

