<div id='datepicker'>
  <%= render partial: 'shalendar/datepicker' %>
</div>

<div id='yt'><a href='#<%= Time.now.to_date %>' id='todayButton' class='btn-today'>Today</a></div>

<div class="home" id="scrollContainer">
<% for i in -3..26 %>
	<div class="each_day clearfix">		
		<div class="date_bar marker clearfix <% if i == 0 %> red <% end %>" <% if i == 0 %> id="today" <% end %>>
      <div class="date"><%= (Time.now.to_date + (i)).strftime("%A %b %e") %></div>
<!--       <div class="friend_only hide_all" title="Only Show My Plans">
      	<span class="fadeInBlue"><i class="icon-ok-sign"></i> <span class="only">only</span>
      </div> -->
<!--       <div class="friend_only hide_public" title=".invites only">
      	<span class="fadeInOrange"><i class="icon-envelope-alt"></i> <span class="only">only</span></span>
      </div> -->
		</div>
    <div class="day_container clearfix">
  		<div class="idea_container clearfix" data-date="<%= Time.now.to_date + i %>">
  		</div>
    </div>
	</div>
<% end %>
</div>
  <%= render partial: "shalendar/event", collection: @times %>