<div id="datepicker">
	<div id="datewindow"></div>
	<div class="weeks_months"></div>
	<% for i in -3..16 do %>
		<table class="datePickerDay" data-date=<%= "#{@date + i}" %> <%= "class='weeks'" if i == 1 || i == 7 || i == 14 %>
			<tr>
				<td class='months'>
					<%= (@date + i).day == 1 ? raw("#{(@date + i).strftime("%b")}")  : raw("&nbsp;") %>
				</td>
			<tr>
				<th>
					<%= i == 0 ? raw("<span class='red'>#{(@date + i).strftime("%a").slice!(0..1) + (@date + i).strftime("-%e")}</span>") : (@date + i).strftime("%a").slice!(0..1) + (@date + i).strftime("-%e") %>
		  	</th>
		  </tr>
		  <tr>
		  	<td class="ideas_cloud">
		  		<%= @invite_counts[i+3] %>
		  	</td>
		  </tr>
		  	<td class="plan_box">
		  		<%= @plan_counts[i+3] %>
		  	</td>
		  </tr>
		</table>
	<% end %>
</div>