<div id="datepicker">
	<div id="datewindow"></div>
	<div class="weeks_months"></div>
	<% for i in -3..16 do %>
		<%= link_to datepicker_path(date: Date.today + i), remote: true do %>
		<table data-date=<%= "#{Date.today + i}" %> <%= "class='weeks'" if i == 1 || i == 7 || i == 14 %>
			<tr>
				<td class='months'>
					<%= (Date.today + i).day == 1 ? raw("#{(Date.today + i).strftime("%b")}")  : raw("&nbsp;") %>
				</td>
			<tr>
				<th>
					<%= i == 0 ? raw("<span class='red'>#{(Date.today + i).strftime("%e") + "<br/>" + (Date.today + i).strftime(" %a").slice!(0..2) }</span>") : raw((Date.today + i).strftime("%e") + "<br/>" + (Date.today + i).strftime(" %a").slice!(0..2)) %>
		  	</th>
		  </tr>
		  <tr>
		  	<td class="plan_box">
		  		<%= @forecastoverview[i+3][1] %>
		  	</td>		  	
		  </tr>
		  	<td class="ideas_cloud">
		  		<%= @forecastoverview[i+3][0] %>
		  	</td>
		  </tr>
		</table>
		<% end %>	
	<% end %>
</div>