<% if user_signed_in? %>
	<div class="event shield
		<% if event.ends_at.present? %>
			<%= event.ends_at < Time.now ? 'over' : '' %>
		<% end %> 
		<%= current_user.in?(event) ? 'in' : '' %>
		<%= event.one_time? ? 'one_time' : '' %>"
		data-event-id='<%= event.id %>'>
<% else %>
	<div class="event shield 
		<% if event.starts_at.present? %>
			<%= event.ends_at < Time.now ? 'over' : '' %>">
		<% end %>
<% end %>
	<%= link_to event do %>
		<div class="shield_top">
			<div class="event_shield_icons">
				<% if event.family_friendly? %>
					<i class="icon-home"></i>
				<% end %>
				<% if event.promo_vid.present? %>
					<i class="icon-video"></i>
				<% end %>
		  </div>
			<div class="rsvp_check"><%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %></div>
  		<div class="guests"><span id="guestCount"><%= event.guest_count %></span></div>
		</div>
	<% end %>
	<%= link_to event do %>
		<div class="event_blerb">
			<div class="title"><%= event.title %></div>
		</div>
		<% if event.has_image? %>
			<div class="promo_img">
				<%= image_tag event.image(:medium) %>
			</div>
		<% end %>
	<% end %>

	<% if event.one_time? && @currently_ideas 
		 	@relevant_instances = [event]
		 else 
			@relevant_instances = event.instances.reject { |e| e.over? } 
			if user_signed_in?
				@relevant_instances = @relevant_instances.reject { |e| current_user.out?(e) }
			end
		 end 
	%>
	<%= link_to event do %>
		<%= render partial: 'events/time', collection: @relevant_instances, as: :event %>
	<% end %>
	<% if !event.one_time? %>
		<%= link_to event_new_time_path(event) do %>
			<div class="add_time fadeInOrange"><i class="icon-time"></i> add new time</div>
		<% end %>
	<% end %>
</div>