<tr>
	<td>
	<% if current_user.rsvpd?(event) %>
	<div class="event plan" data-event-id="<%= event.id %>"> <a href="/events/<%= event.id %>">
	<% else %>
	<div class="event idea" data-event-id="<%= event.id %>"> <a href="/events/<%= event.id %>">
	<% end %>
		<div class="event_time"><%= event_start_time(event) %> - <%= event_end_time(event) %></div></br>
		<div class="event_pic"><%= raster_profile_picture(event.user) %></div>
		<div class="event_blerb"><%= event_blerb(event) %></div>
		<div class="friends_attending"><i class="icon-group"></i> <%= "#{friends_attending(event)}" %></div>
		<div class="guest_count right"><span class="guest-count"><%= event.guests.count%></span>/<%= event.min %></div>
		<div class="rsvp_check right"><%= render :partial => "rsvp_check", :locals => { :event => event } %></div>
		<div class="host right">Host: <%= event.user.name %></div>
	</div>
</a></td>
</tr>
