<% if user_signed_in? %>
	<div class="event shield
		<% if event.ends_at.present? %>
			<%= event.ends_at < Time.zone.now ? 'over' : '' %>
		<% end %> 
		<%= current_user.in?(event) ? 'in' : 'invite' %>
		<%= event.has_future_instance? ? 'time' : 'idea' %>
		<%= event.one_time? ? 'one_time' : '' %>"
		data-event-id='<%= event.id %>'>
<% else %>
	<div class="event shield 
		<% if event.starts_at.present? %>
			<%= event.ends_at < Time.zone.now ? 'over' : '' %>
		<% end %>
		">
<% end %>
<%= link_to event_path(event) do %>
		<% if user_signed_in? %>
			<div class="shield_top">
				<div class="rsvp_check">
					<%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %>
				</div>
				<u class="creator">
					<% if current_user.is_friends_with?(event.user) %>
						<i class="icon-star" style="color:gold;"></i>
					<% elsif current_user.is_inmates_with?(event.user) %>
						<i class="icon-star" style="color:lightgrey;"></i>
					<% end %>
					<%= event.user.first_name_with_last_initial %>
				</u>
			</div>
		<% end %>

		<div class="event_blerb">
			<div class="title"><%= event.title %></div>
		</div>

		<% if event.has_image? %>
			<div class="promo_img">
				<%= image_tag event.image(:medium) %>
			</div>
		<% end %>
		<%= render :partial => 'shared/guest_count', :locals => { :event => event } %>		
		
		<% if user_signed_in? %>
		<div class="facepile">
	  	<% if user_signed_in? %>
  			<% event.friends_and_inmates_in(current_user).each do |guest| %>
    			<span title="<%= guest.first_name %>"><%= raster_profile_picture(guest) %></span>
  			<% end %>
  		<% else %>
  			<% event.guests.each do |guest| %>
    			<span title="<%= guest.first_name_with_last_initial %>"><%= raster_profile_picture(guest) %></span>
  			<% end %>
  		<% end %>
		</div>
			<% if event.one_time?
		 			@relevant_instances = [event]
				 else 
					@relevant_instances = event.instances.reject { |e| e.over? } 
					if user_signed_in?
						@relevant_instances = @relevant_instances.reject { |e| current_user.out?(e) }
					end
				 end 
			%>
			<%= render partial: 'events/time', collection: @relevant_instances, as: :event %>
		<% end %>
<% end %>
	<% if user_signed_in? %>
		<% if !event.one_time? && current_user.in?(event) %>
			<div>
				<%= link_to event_new_time_path(event) do %>
				<div class="add_time fadeInGreen"><i class="icon-time"></i> add new time</div>
			<% end %>
			</div>
		<% end %>
	<% end %>
</div>