<% if user_signed_in? %>
	<% if current_user.rsvpd?(event) %>
			<div class="event rsvpd <%= event.ends_at < Time.now.in_time_zone(current_user.time_zone) ? 'over' : ''%>" data-event-id="<%= event.id %>" <%= event.id == @next_plan.id ? style="box-shadow: 0px 0px 34px -6px #388EE5;" : '' if @next_plan %>>
	<% elsif event.is_public? %>
		<div class="event <%= event.ends_at < Time.now.in_time_zone(current_user.time_zone) ? 'over' : '' %>" data-event-id="<%= event.id %>">
	<% else %>
			<div class="event not_rsvpd <%= event.ends_at < Time.now.in_time_zone(current_user.time_zone) ? 'over' : '' %>" data-event-id="<%= event.id %>" <%= event.id == @next_plan.id ? "style='box-shadow: 0px 0px 34px -6px #388EE5;'" : '' if @next_plan %> data-inviter-id="<%= event.inviter_id %>">
	<% end %>
<% else %>
	<div class="event <%= event.ends_at < @time_in_zone ? 'over' : '' %>" data-event-id="<%= event.id %>">
<% end %>

	<%= link_to event_path(event) do %>
		<div class="event_time">			
			<% if event.starts_at.hour > 4 && event.starts_at.hour < 12 %>
				<%= image_tag "morning.png" %>
			<% elsif event.starts_at.hour >= 12 && event.starts_at.hour < 18 %>
				<%= image_tag "noon.png" %>
			<% else %>
				<%= image_tag "night.png" %>
			<% end %>
			<span><%= event_start_time(event) %> - <%= event.nice_duration %> hrs</span>
		</div>

    <% if !event.promo_url.nil? && event.promo_url != "" %>
      <div class="promo_img">
        <%= image_tag("#{event.promo_url}") %>
      </div>
    <% elsif !event.promo_img_file_size.nil? %>
      <div class="promo_img">
        <%= image_tag("#{event.promo_img.url(:large)}") %>
      </div>
		<% elsif !event.suggestion.nil? %>
			<div class="event_promo_img">
				<%= image_tag event.suggestion.promo_img.url(:medium) %>
			</div>
		<% end %>
	
		<div class="event_blerb"><%= event.title %></div>
	
		<% if event.is_public? %>
			<div class="event_pic" title="Created by: <%= event.user.name %>"><%= raster_profile_picture(event.user) %></div>
		<% else %>
			<div class="event_pic" title="Invited by: <%= User.find_by_id(event.inviter_id).name%>"><%= raster_profile_picture(User.find_by_id(event.inviter_id)) %></div>
		<% end %>

		<div class="event_shield_icons">
			<% if event.is_public? %>
				<i class="purple icon-bullhorn"></i>
				<% if event.family_friendly? %>
					<i class="purple icon-home"></i>
				<% end %>
			<% end %>
			<% if event.guests_can_invite_friends? %>
	     	<i class="purple icon-plus" title="Guests may Share with Friends"></i>
	    <% end %>
	  </div>
		<div class="guest_count">
			<% if event.tipped? %>	
				<i class="purple icon-group"></i> <span class="count" id="guestCount"><%= event.guests.count %></span>
			<% else %>
				<i class="purple icon-group"></i> <span id="guestCount" class="count red"><%= event.guests.count%><span id="eventMin">/<%= event.min %></span></span>
			<% end %>
		</div>
		<% unless event.is_public? %>
			<% unless event.user == User.find_by_id(event.inviter_id) %>
				<div class="host">by: <%= event.user.first_name.capitalize %> 
					<% if event.user.last_name %>
						<%= event.user.last_name.capitalize%>
					<% end %> 
				</div>
			<% end %>

			<% if event.user == current_user && event.tipped? == false %>
				<div class="force_tip">
					<%= link_to raw("&#xf08d;"), tip_path(:event_id => event.id), :confirm => "Tip this idea? This cannot be reversed and will send notifications to all RSVPs.", :method => :put, :title => "Tip this Idea", :class => "fa-input", remote:true, id:"tipPin" %>
				</div>
			<% elsif event.is_public? %>

			<% else %>
			<div class="rsvp_check"><%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %></div>
			<% end %>
		<% end %>
	<!-- ENDING LINK_TO -->
	<% end %>
</div>
