<% if Relationship.find_by_follower_id(event.inviter_id).toggled? %>
	<% if current_user.rsvpd?(event) %>
		<% if event.ends_at < Time.now %>
			<div class="event rsvpd over" data-event-id="<%= event.id %>">
		<% else %>
			<div class="event rsvpd" data-event-id="<%= event.id %>">
		<% end %>
	<% else %>
		<% if event.ends_at < Time.now %>
			<div class="event not_rsvpd over" data-event-id="<%= event.id %>" data-inviter-id="<%= event.inviter_id %>">
		<% else %>
			<div class="event not_rsvpd" data-event-id="<%= event.id %>" data-inviter-id="<%= event.inviter_id %>">
		<% end %>
	<% end %>
<% else %>
	<% if current_user.rsvpd?(event) %>
		<% if event.ends_at < Time.now %>
			<div class="event rsvpd over" data-event-id="<%= event.id %>">
		<% else %>
			<div class="event rsvpd" data-event-id="<%= event.id %>">
		<% end %>
	<% else %>
		<% if event.ends_at < Time.now %>
			<div class="event not_rsvpd over" data-event-id="<%= event.id %>" data-inviter-id="<%= event.inviter_id %>" style="display:none;">
		<% else %>
			<div class="event not_rsvpd" data-event-id="<%= event.id %>" data-inviter-id="<%= event.inviter_id %>" style="display:none;">
		<% end %>
	<% end %>
<% end %>

<% if @next_plan %>
	<% if event.id == @next_plan.id %>
		<div class="next_plan"></div>
	<% end %>
<% end %>
	<a href="/events/<%= event.id %>">
		<div class="event_time"><%= event_start_time(event) %> - <%= event_end_time(event) %></div></br>

		<div class="event_pic"><%= raster_profile_picture(User.find_by_id(event.inviter_id)) %></div>
	
		<div class="event_blerb"><%= event.short_event_title %></div>
	
		<div class="guest_count">
			<% if current_user.rsvpd?(event) && event.guests_can_invite_friends? %>
				<% if current_user.rsvps.find_by_plan_id(event.id).invite_all_friends? %>
					<i class="gold icon-group" title="You shared this idea with your friends"></i>
				<% else %>
					<i class="purple icon-group" title="You may share this idea with your friends."></i>
				<% end %>
			<% elsif event.guests_can_invite_friends? %>
      	<i class="purple icon-group" title="You may share this idea with your friends."></i>
      <% end %>
			<% if event.tipped? %>	
				<span class="count" id="guestCount"><%= event.guests.count %></span>
			<% else %>
				<span id="guestCount" class="count red"><%= event.guests.count%><span id="eventMin">/<%= event.min %></span></span>
			<% end %>
		</div>

		<% if event.user == current_user && event.tipped? == false %>
			<div class="force_tip">
				<%= link_to raw("&#xf08d;"), tip_path(:event_id => event.id), :confirm => "Tip this idea? This cannot be reversed and will send notifications to all RSVPs.", :method => :put, :title => "Tip this Idea", :class => "fa-input", remote:true, id:"tipPin" %>
			</div>
		<% else %>
			<div class="rsvp_check"><%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %></div>
		<% end %>
			<div class="host">by: <%= event.user.first_name.capitalize %> 
				<% if event.user.last_name %>
					<%= event.user.last_name.capitalize%>
				<% end %> 
			</a>
		</div>
</div>

