		<% if user_signed_in? %>
	<div class="event shield 
		<%= event.ends_at < @time_in_zone ? 'over' : '' %> 
		<%= event.is_public? && !current_user.invited?(event) && !current_user.rsvpd?(event) ? 'public' : '' %>
		<%= current_user.rsvpd?(event) ? 'rsvpd' : '' %>
		data-event-id='<%= event.id %>' ">
<% else %>
	<div class="event shield <%= event.ends_at < @time_in_zone ? 'over' : '' %>">
<% end %>
	<%= link_to event do %>
		<% if user_signed_in? %>
			<div class="status_icon">
				<% if current_user.rsvpd?(event) %>
					<i class="icon-ok-sign blue"></i>
				<% elsif current_user.invited?(event) %>
					<i class="icon-envelope blue" title="<%= User.find_by_id(event.inviter_id).name %>"></i>
				<% end %>
			</div>
		<% end %>
		<div class="event_time">			
			<% if event.starts_at.hour > 4 && event.starts_at.hour < 12 %>
				<%= image_tag "morning.png" %>
			<% elsif event.starts_at.hour >= 12 && event.starts_at.hour < 18 %>
				<%= image_tag "noon.png" %>
			<% else %>
				<%= image_tag "night.png" %>
			<% end %>
			<span><%= event_start_time(event) %> (<%= event.nice_duration %> hrs)</span>
		</div>

		<div class="event_blerb">
			<span title="Created by: <%= event.user.name %>"><%= raster_profile_picture(event.user) %></span><span class="title"><%= event.title %></span>
		</div>
				<% if event.tipped? %>	
				<div class="meter">
					<span style="width: <%= (event.guests.count.to_f/event.min.to_f*100).round %>%;"><span></span></span>
				</div>
			<% else %>
				<div class="meter animate orange">
					<span style="width: <%= (event.guests.count.to_f/event.min.to_f*100).round %>%;"><span></span></span>
				</div>
			<% end %>
	<% if event.has_image? %>
		<div class="promo_img">
			<% if event.parent.blank? %>
				<% if !event.promo_url.blank? %>
					<%= image_tag("#{event.promo_url}") %>
				<% elsif event.promo_img.url(:medium) != "/promo_imgs/medium/missing.png" %>
					<%= image_tag("#{event.promo_img.url(:medium)}") %>
				<% end %>
			<% else %>
				<% if !event.parent.promo_url.blank? %>
					<%= image_tag("#{event.parent.promo_url}") %>
				<% elsif event.parent.promo_img.url(:medium) != "/promo_imgs/medium/missing.png" %>
					<%= image_tag("#{event.parent.promo_img.url(:medium)}") %>
				<% end %>
			<% end %>
		</div>
	<% end %>
<div class="shield_bottom">
		<div class="event_shield_icons">
			<% if event.is_public? %>
				<i class="icon-bullhorn"></i>
			<% end %>
			<% if event.categories.any? %>
				<%= event.categories.first.name.capitalize %>
			<% end %>
			<% if event.family_friendly? %>
				<i class="icon-home"></i>
			<% end %>
			<% if event.promo_vid.present? %>
				<i class="icon-video"></i>
			<% end %>
			<% if event.is_big_idea? %>
				<i class="icon-cloud"></i>
			<% end %>
	  </div>

		<% unless event.is_public? %>
		<div class="rsvp_check"><%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %></div>
		<% end %>	
	  <div class="guests <%= !event.tipped? ? 'not_tipped' : '' %>"><i class="icon-group"></i> <%= event.guests.count %></div>

	</div>
	<!-- ENDING LINK_TO -->
	<% end %>
</div>

<% if false %>
			<% if event.user == current_user && event.tipped? == false && event.tipped? == true %>
				<div class="force_tip">
					<%= link_to raw("&#xf08d;"), tip_path(:event_id => event.id), :confirm => "Tip this idea? This cannot be reversed and will send notifications to all RSVPs.", :method => :put, :title => "Tip this Idea", :class => "fa-input", remote:true, id:"tipPin" %>
				</div>
			<% end %>
		<% unless event.is_public? %>
			<% unless event.user == User.find_by_id(event.inviter_id) %>
				<div class="host">by: <%= event.user.first_name.capitalize %> 
					<% if event.user.last_name %>
						<%= event.user.last_name.capitalize%>
					<% end %> 
				</div>
			<% end %>
		<% end %>
<% end %>