<% if current_user.rsvpd?(event) %>
		<div class="event rsvpd <%= event.ends_at < Time.now.in_time_zone(current_user.time_zone) ? 'over' : ''%>" data-event-id="<%= event.id %>" <%= event.id == @next_plan.id ? style="box-shadow: 0px 0px 34px -6px #388EE5;" : '' if @next_plan %>>
<% else %>
		<div class="event not_rsvpd <%= event.ends_at < Time.now.in_time_zone(current_user.time_zone) ? 'over' : '' %>" data-event-id="<%= event.id %>" <%= event.id == @next_plan.id ? "style='box-shadow: 0px 0px 34px -6px #388EE5;'" : '' if @next_plan %> data-inviter-id="<%= event.inviter_id %>">
<% end %>

	<%= link_to event_path(event) do %>
		<div class="event_time">			
			<% if event.starts_at.hour > 4 && event.starts_at.hour < 12 %>
				<%= image_tag "morning.png" %>
			<% elsif event.starts_at.hour >= 12 && event.starts_at.hour < 18 %>
				<%= image_tag "noon.png" %>
			<% else %>
				<%= image_tag "night.png" %>
			<% end %>
			<span><%= event_start_time(event) %> - <%= event_end_time(event) %></span>
		</div>


    <% if !event.promo_url.nil? && event.promo_url != "" %>
      <div class="promo_img">
        <%= image_tag("#{event.promo_url}") %>
      </div>
    <% elsif !event.promo_img_file_size.nil? %>
      <div class="promo_img">
        <%= image_tag("#{event.promo_img.url(:large)}") %>
      </div>
		<% elsif !event.suggestion.nil? %>
			<div class="event_promo_img">
				<%= image_tag event.suggestion.promo_img.url(:medium) %>
			</div>
		<% end %>
	
		<div class="event_blerb"><%= event.title %></div>
	
		<div class="event_pic" title="Invited by: <%= User.find_by_id(event.inviter_id).name%>"><%= raster_profile_picture(User.find_by_id(event.inviter_id)) %></div>
		<div class="guest_count">
			<% if current_user.rsvpd?(event) && event.guests_can_invite_friends? %>
				<% if current_user.rsvps.find_by_plan_id(event.id).invite_all_friends? %>
					<i class="gold icon-group" title="Shared With Friends"></i>
				<% else %>
					<i class="purple icon-group" title="You may share this idea with your friends."></i>
				<% end %>
			<% elsif event.guests_can_invite_friends? %>
      	<i class="purple icon-group" title="You may share this idea with your friends."></i>
      <% end %>
			<% if event.tipped? %>	
				<span class="count" id="guestCount"><%= event.guests.count %></span>
			<% else %>
				<span id="guestCount" class="count red"><%= event.guests.count%><span id="eventMin">/<%= event.min %></span></span>
			<% end %>
		</div>

		<% if !event.promo_vid.nil? && event.promo_vid != "" %>
			<div class="event_video">
				<i class="purple icon-facetime-video"></i>
			</div>
		<% end %>



		<% unless current_user.vendor? %>
			<% unless event.user == User.find_by_id(event.inviter_id) %>
				<div class="host">by: <%= event.user.first_name.capitalize %> 
					<% if event.user.last_name %>
						<%= event.user.last_name.capitalize%>
					<% end %> 
				</div>
			<% end %>

			<% if event.user == current_user && event.tipped? == false %>
				<div class="force_tip">
					<%= link_to raw("&#xf08d;"), tip_path(:event_id => event.id), :confirm => "Tip this idea? This cannot be reversed and will send notifications to all RSVPs.", :method => :put, :title => "Tip this Idea", :class => "fa-input", remote:true, id:"tipPin" %>
				</div>
			<% else %>
			<div class="rsvp_check"><%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %></div>
			<% end %>
		<% end %>
	<!-- ENDING LINK_TO -->
	<% end %>
</div>
