<div id="find_friends">
<% if @me['location'].nil? %>
	<h1>Your hoos.in friends: Add your <%= link_to "current city", "http://answers.yahoo.com/question/index?qid=20081007104826AAbKEzP" %> on Facebook to show nearby friends.</h1>
<% else %>
	<h1>Your hoos.in friends in <%= current_user.city %></h1>
<% end %>

<% if @member_friends.any? %>
	<div class="invite_friends">
		<div class="invite_all"><%= link_to "Friend All", friend_all_path, class:"btn btn-primary", remote: true %></div>
		<% @member_friends.each do |mf| %>
				<table>
				<tr>
					<td width="55px"><%= image_tag("#{mf['picture']['data']['url']}") %></td>
					<td width="100px"><%= "#{mf['name']}" %></td>
					<td width="60px">
						<% u = Authentication.find_by_uid(mf['id']).user %>
							<%= render :partial => 'events/follow_form', locals: { :user => u } %>
			    </td>
				</tr> 
			</table>
		<% end %>
	</div>

	<hr>
<% end %>

<% if @invite_friends.any? %>
	<% if @me['location'].nil? %>
		<h1>Your facebook friends Add your <%= link_to "current city", "http://answers.yahoo.com/question/index?qid=20081007104826AAbKEzP" %> on Facebook to show nearby friends.</h1>
	<% else %>
		<h1>Your facebook friends in <%= current_user.city %></h1>
	<% end %>
	<div class="invite_friends">
		<div class="invite_all"><%= link_to "Invite All", share_all_fb_friends_path, class:"btn btn-primary", id:"invite_all_friends", remote: true %></div>
		<% @invite_friends.each do |inf| %>
				<table>
				<tr>
					<td width="55px"><%= image_tag("#{inf['picture']['data']['url']}") %></td>
					<td width="100px"><%= "#{inf['name']}" %></td>
					<td width="60px">
				    <div class="btn btn-success invite" alt="<%=inf['username']%>">Invite</div>
			    </td>
				</tr> 
			</table>
		<% end %>
	</div>
<% end %>
</div>

<script>
$(document).ready(function() {
	$("#invite_all_friends").click(function(){
	  FB.login(function(response) {
	    if(response.authResponse) {
	      window.location = "/share_all_fb_friends"
	      }
	  }, {scope: "publish_stream"});
	});

	$("div.invite").click(function(){
	username = $(this).attr('alt');
	$(this).removeClass("btn-success").removeClass("invite").addClass("btn_stop_viewing").text("Invited");
	
	FB.ui(
  {
    method: 'send',
    name: 'hoos.in',
    to: username,
    link: 'http://www.hoos.in',
    picture: 'https://s3.amazonaws.com/hoosin-production/logos/icon.png',
    description: 'Do Great Things With Friends'
  },
  function(response) {
    if (response && response.post_id) {
      alert('Post was published.');
    } else {
      alert('Post was not published.');
    }
  }
);
});
});
</script>

