<div class="part friends">
  <h2><span class="friend_count"><%= current_user.followers.count %></span>Friends</h2>
  <div class="user_table">
    <% @friendships.each do |fr| %>
    <table>        
        <tr>
          <td width="50px"><%= raster_profile_picture(fr.follower) %></td>
          <td width="150px"><%= fr.follower.name %></td>
          <td width="100px">
            <%= link_to "Remove", relationship_remove_path(fr), class: "fadeInRed", method: :delete, confirm: "Are you sure #{fr.follower.name} should no longer be able to view your ideas?" %>
          </td>
          <td>
            <%= render partial: 'events/follow_form', :locals => { :user => fr.follower } %>
          </td>
        </tr>
      </table>
      <% end %>
  </div>
</div>