	<% for i in 0..@forecastevents.size-1 %>
	<dl>
		<dt class="forecastDate"><%= (@date + i).strftime("%A %B %e") %></dt>
		<dd>
			<% for j in 0..2 %>
			<dl>
				<% if j == 0 %>
					<dt><%= image_tag "morning.png" %></dt>
				<% elsif j == 1 %>
					<dt><%= image_tag "noon.png" %></dt>
				<% elsif j == 2 %>
					<dt><%= image_tag "night.png" %></dt>
				<% end %>
				<dd>
					<% @forecastevents[i][j].each do |event| %>
					<table>
						<%= render :partial => "shalendar/event", :locals => { :event => event } %>
					</table>
					<% end %>
				</dd>
			</dl>
		<% end %>
		</dd>
	</dl>
	<% end %>