<div id="forecast">
	<% for i in -3..26 %>
		<% if @time_in_zone.to_date + (i) == @time_in_zone.to_date %>
			<dl class="day marker" id="today" data-date=<%= "#{@time_in_zone.to_date + i}" %>>
				<dt class="forecastDate red"><%= (@time_in_zone.to_date + (i)).strftime("%A %b %e") %></dt>
		<% else %>
			<dl class="day" data-date=<%= "#{@time_in_zone.to_date + i}" %>>
				<dt class="forecastDate"><%= (@time_in_zone.to_date + (i)).strftime("%A %b %e") %></dt>
		<% end %>
		<div class="today"></div>
		<% if user_signed_in? %>
			<% @forecastevents[i + 3].each do |event| %>
				<dd>
					<%= render :partial => "shalendar/event", :locals => { :event => event } %>
				</dd>
			<% end %>
		<% end %>
		<% if @public_events[i + 3].any? %>
			<dt>
				<div class="idea_type community_ideas">Community Ideas</div>
				<div class="idea_type_line"></div>
			</dt>
				<% @public_events[i + 3].each do |pe| %>
			<dd>
				<%= render :partial => "shalendar/event", :locals => { :event => pe } %>
			</dd>
			<% end %>
		<% end %>
	</dl>
	<% end %>
</div>
