<div class='forecast'>
	<div id="forecast">
	<% for i in 0..@forecastevents.size-1 %>
	<dl class="day">
		<dt class="forecastDate"><%= (@date + (i - 3)).strftime("%A %B %e") %></dt>
		<dd>
			<% for j in 0..2 %>
			<dl>
				<dt class="part_of_day">
				<% if j == 0 && @forecastevents[i][0].any? %>
					<%= image_tag "morning.png" %> <span class="fcTime">12:00am - 12:00pm</span><span class="fcLine"></span>
				<% elsif j == 1 && @forecastevents[i][1].any? %>
					<%= image_tag "noon.png" %> <span class="fcTime">12:00pm - 6:00pm</span><span class="fcLine"></span>
				<% elsif j == 2 && @forecastevents[i][2].any? %>
					<%= image_tag "night.png" %> <span class="fcTime">6:00pm - 12:00am</span></span><span class="fcLine"></span> 
				<% end %>
				</dt>
				<dd>
					<% @forecastevents[i][j].each do |event| %>
						<%= render :partial => "shalendar/event", :locals => { :event => event } %>
					<% end %>
				</dd>
			</dl>
		<% end %>
		</dd>
	</dl>
	<% end %>
</div>
	<div class="gutter"></div>
</div>
