<% unless @friend_requests.nil? || @friend_requests == [] %>
  <div class="user_table">
    <h2><span class="friend_count"><%= @friend_requests.count %></span> Friend Requests</h2>
    <% @friend_requests.each do |nf| %>
      <table>        
        <tr>
          <td width="50px"><%= raster_profile_picture(nf.follower) %></td>
          <td width="150px"><%= nf.follower.name %></td>
          <td width="20px"><%= link_to raw("<i class='icon-remove-sign'></i>"), relationship_ignore_path(nf), title: "Ignore", method: :delete, class:"tooltip", remote: true %></td>
          <td width="20px"><%= link_to raw("<i class='icon-check'></i>"), relationship_confirm_and_follow_path(nf), title: "Confirm", method: :put, class:"tooltip", remote: true %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>
  <div class="user_table">
    <h2><span id="managed_friend_count" class="friend_count"><%= current_user.followers.count %></span> Friends</h2>
    <% @friendships.each do |fr| %>
    <table data-user-id="<%= fr.follower.id %>">        
        <tr>
          <td width="50px"><%= raster_profile_picture(fr.follower) %></td>
          <td width="150px"><%= fr.follower.name %></td>
          <td>
            <%= render partial: 'events/follow_form', :locals => { :user => fr.follower } %>
          </td>
        </tr>
      </table>
      <% end %>
  </div>
  <% unless @vendor_friendships.nil? %>
    <% if @vendor_friendships.any? %>
      <div class="user_table">
        <h2><span class="friend_count"><%= @vendor_friendships.count %></span> Venues you Follow</h2>
        <% @vendor_friendships.each do |vf| %>
          <table data-user-id="<%= vf.followed.id %>">        
            <tr>
              <td width="50px"><%= raster_profile_picture(vf.followed) %></td>
              <td width="150px"><%= vf.followed.name %></td>
              <td>
                <%= render partial: 'events/follow_form', :locals => { :user => vf.followed } %>
              </td>
            </tr>
          </table>
        <% end %>
    <% end %>
  </div>
<% end %>
</div>