<div class="group">
<%= link_to idea_path(group) do %>
	<%= raster_profile_picture(group.user) %>
<% end %>
<div><%= group.user.name %></div>
<div>
	<div><strong>Invites:</strong>  <%= group.invitations.count %></div>
	<div><strong>RSVPs:</strong>  <%= group.rsvps.count - 1 %></div>
</div>
</div>