<% if user_signed_in? %>
<div class="mini_event instance"
	data-event-id='<%= event.id %>'
	<%= event.starts_at.present? ? "data-date=#{event.starts_at.to_date}" : '' %>>
<% else %>
<div class="mini_event">
<% end %>
	<%= link_to event.event_parent, class:"#{ !current_user.rsvpd?(event) ? 'not_rsvpd' : '' }" do %>
		<% if event.has_image? %>
		<div class="promo_img">
			<%= image_tag "#{event.image(:medium)}", style:"vertical-align:'middle'"%>
		</div>
	<% end %>
	<div class="event_time">			
		<%= event.mini_start_time %> - <%= event.nice_duration %>
	</div>
	<div class="event_blerb">
		<%= event.title %>
		<div class="inviter">

		</div>
	</div>
	<div class="facepile">
		<% event.friends_in(current_user).each do |guest| %>
  		<span title="<%= guest.name %>"><%= raster_profile_picture(guest) %></span>
		<% end %>
		<%= render :partial => 'shared/guest_count', :locals => { :event => event } %>
	</div>
<% end %>	
	<% if !current_user.rsvpd?(event) %> <!-- USER IS NOT RSVPD -->
		<div class="mini_in_out">
			<%= form_for(current_user.rsvps.build(plan_id: event.id), remote: true) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "1" %>
			  <%= f.submit "#{event.is_parent? ? '.into' : '.in'}", class:"btn rsvp_button btn-rsvp" %>
			<% end %>
			<%= form_for(current_user.rsvps.build(plan_id: event.id), remote: true) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "0" %>
			  <%= f.submit "#{event.starts_at.blank? ? 'nah' : 'out'}", class:"btn rsvp_button btn_stop_viewing" %>
			<% end %>
		</div>
	<% end %>
</div>

