<%= link_to event do %>
<% if user_signed_in? %>
<div class="mini_event <%= current_user.in?(event) ? 'in' : '' %>" >
<% else %>
<div class="mini_event">
<% end %>
	<div class="event_time">			
		<span><%= event.mini_start_date_time %> (<%= event.nice_duration %> hr)</span>
		<span class="guest_count">
			<span class="count"><span id="guestCount"> <%= event.guest_count %> </span><span id="friendCount">(<%= User.joins(:rsvps).where(plan_id: event.id).joins(:relationships).where(:relationships => { status: 2, follower_id: current_user.id } ).count %> friends)</span></span>
		</span>
	</div>
	<div class="event_blerb">
		<%= event.title %>
		<div class="inviter">
			<% unless User.find_by_id(event.inviter_id).blank? || User.find_by_id(event.inviter_id) == current_user %>
				<%= link_to user_path(User.find_by_id(event.inviter_id)), target: "blank" do %>
					<%= User.find_by_id(event.inviter_id).name %>
				<% end %>
			<% end %>
		</div>
	</div>
	<% if event.has_image? %>
		<div class="promo_img">
			<%= event.image(:medium) %>
		</div>
	<% end %>
</div>
<% end %>	
