<%= link_to event do %>
<% if user_signed_in? %>
<div class="mini_event <%= current_user.in?(event) ? 'in' : '' %>" >
<% else %>
<div class="mini_event">
<% end %>
	<div class="event_time">			
		<span><%= event.mini_start_date_time %> (<%= event.nice_duration %> hr)</span>
		<span class="guest_count">
			<% if event.tipped? %>	
				<span class="count" id="guestCount"> <%= event.guest_count %></span>
			<% else %>
				<span id="guestCount" class="count orange"><%= event.guest_count%>/<%= event.min %></span>
			<% end %>
		</span>
	</div>
	<div class="event_blerb">
		<% if false %><%= raster_profile_picture(event.user) %><% end %>
		<%= event.title %>
		<div class="inviter">
			<% unless User.find_by_id(event.inviter_id).blank? || User.find_by_id(event.inviter_id) == current_user %>
				<%= link_to user_path(User.find_by_id(event.inviter_id)), target: "blank" do %>
					<%= User.find_by_id(event.inviter_id).name %>
				<% end %>
			<% end %>
		</div>
	</div>
	<% if event.has_image? %>
		<div class="promo_img">
			<%= event.image(:medium) %>
		</div>
	<% end %>
</div>
<% end %>	
