	<div style="display: none;">
		<div id="new_idea">
			<div class="event_form">
			 <%= form_for @event, html: { id: "new_event_form" } do |f| %>
			  <% if @event.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this user from being saved:</h2>

			      <ul>
			      <% @user.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <p>
			   <%= label :starts_at, "When does it start?", name: "starts_at"%>
			   <%= label :duration, "How Long?", name: "duration" %><br/>
			   <%= f.text_field :chronic_starts_at, :placeholder => "7pm, tommorrow at 5pm . . .", class: "required", autocomplete: "off" %>
			   <%= f.text_field :duration, placeholder:"#hrs", class: "required", autocomplete: "off"  %>
			  </p>
			  <p>
			    <%= label :title, "Idea" %><br/>
			    <%= f.text_area :title, :placeholder => "What's the plan? Where? What should people bring?", :rows => 2, class: "required", autocomplete: "off" %>
			  </p>  

			<div id="minmax" style="display: block; clear:both;">
			  <span>
			    <%= f.label :min_attendees, "Tipping point" %> <br/>
			    <%= f.text_field :min, :class => 'input-mini', value: 1, autocomplete: "off" %>
			  </span>
			  <span>
			    <%= f.label :max_attendees, "Full" %> <br/>
			    <%= f.text_field :max, :class => 'input-mini', value: 50, autocomplete: "off" %>
			  </span>
			</div>

			<%# **UPDATE- change this to two checkboxes for booleans: guests_can_invite_friends and invite_all_friends %>
			<%= label_tag "Who sees this Idea?" %>
			<div id="radio">
				<input type="radio" id="radio1" name="event[visibility]" value="friends_of_friends" /><label for="radio1"><i class="icon-bullhorn"></i>  Friends of RSVPs</label>
				<input type="radio" id="radio2" name="event[visibility]" value="friends" checked="checked" /><label for="radio2"><i class="icon-group"></i>  Viewers</label>
				<input type="radio" id="radio3" name="event[visibility]" value="invite_only" /><label for="radio3"><i class="icon-envelope"></i>  Invite only</label>
			</div>

			<div id="addLinkp" style="display: none;">
				<%= label_tag "Link" %></br>
				http://<%= f.text_field :link, autocomplete: "off" %>
			</div>

			<div id="addmapp" style="display: none;">
			  <%= label_tag "Map" %><br/>
			  <%= f.text_field :address, id: "addresspicker_map", class: "ui-autocomplete-input", placeholder: "Map location..." %>
			  <%= f.hidden_field :latitude, id: "lat" %>
			  <%= f.hidden_field :longitude, id: "lng" %>
			  <div id="map" class="new_idea_map"></div>
			</div>
			
			<div>
				<ul>
				  <li id="addLink" title="Add a Link"><i class="icon-link"></i></li>
				  <li id="addmap" title="Add a Map"><i class="icon-map-marker"></i></li>
				</ul>
			</div>
			 

			<span class="new_idea_button"><%= f.submit 'Post Idea', :class => 'btn btn-large btn-primary' %></span>

			<% end %>
			</div>
		</div>
	</div>