	<div style="display: none;">
		<div id="new_idea">
			<div id="event_form">
			 <%= form_for @event do |f| %>

			  <p>
			    <%= label :title, "Idea" %><br/>
			    <%= f.text_area :title, :placeholder => "What's the plan? Where? What should people bring?", :rows => 2 %>
			  </p>  

			  <p>
			    <%= label :starts_at, "Starts at", name: "starts_at" %>   <%= label :duration, "Duration", name: "duration" %><br/>
			    <%= f.text_field :chronic_starts_at, :placeholder => "7pm, tommorrow at 5pm . . ." %>
			   <%= f.text_field :duration, placeholder:"#hrs" %>
			  </p>

			<div id="minmax" style="display: block; clear:both;">
			  <span>
			    <%= f.label :min_attendees, "RSVPs to Tip" %> <br/>
			    <%= f.text_field :min, :class => 'input-mini', value: 1 %>
			  </span>
			  <span>
			    <%= f.label :max_attendees, "Max RSVPs" %> <br/>
			    <%= f.text_field :max, :class => 'input-mini', value: 50 %>
			  </span>
			</div>

			<div id="visibilityp" style="display: none;">
			  <h3>Visibility</h3>
				<%= f.radio_button :visibility, 'friends_of_friends' %>
				<%= f.label :friends_of_friends, "Viewers of RSVPs" %>
				<%= f.radio_button :visibility, 'friends', :checked => true %>
				<%= f.label :friends, "Viewers" %>
				<%= f.radio_button :visibility, 'invite_only' %>
				<%= f.label :invite_only, 'Invite only' %>
			</div>

			<div id="addmapp" style="display: none;">
			  <h3>Add a Map</h3>
			  <%= f.text_field :map_location, id:"addresspicker_map", class:"ui-autocomplete-input", placeholder:"Map location..." %>
			  <div id="map"></div>
			</div>
			
			 <div>
				<ul>
				  <li id="visibility">Set Visibility</li> 
				  <li>|</li>
				  <li id="addmap">Add Map</li>
				</ul>
			</div>

			 <div> 
			   <%= f.submit 'Post Idea', :class => 'btn btn-large btn-primary' %>
			 </div>

			<% end %>
			</div>
		</div>
	</div>