<div class="next_plan" data-event-id="<%= event.id %>"> 
	<div class="next_plan_time">Next:</div></br>
	<a href="/events/<%= event.id %>">
		<div class="event_pic"><%= raster_profile_picture(event.user) %></div>
		<div class="next_event_blerb"><%= event_blerb(event) %></div>
		<div class="friends_attending"><i class="icon-group"></i> <%= "#{friends_attending(event)}" %></div>
		<div class="guest_count right"><span class="guest-count"><%= event.guests.count%></span>/<%= event.min %></div>
		<div class="next_plan_date"><%= next_event_date(event) %> <%= event_start_time(event) %> - <%= event_end_time(event) %> </div>
		<% if false %>
		you can put this back in when you are ready to delete and reload the next next plan
		when a user unrsvps!
		<div class="rsvp_check right"><%= render :partial => "rsvp_check", :locals => { :event => event } %></div>
		<% end %>
	</a>
</div>
	