<div id="public" style="display: none;">
<h1><%= current_user.city %></h1>
	<ul>
		<% @public_categories.each do |pc| %>
			<li><%= pc %></li>
		<% end %>
	</ul>
	<div id="public_tabs">
			<% @vendors.each do |v| %>
					<table>
					<tr>
						<td width="55px"><%= raster_profile_pic(v) %></td>
						<td width="100px"><%= v.name %></td>
						<td width="100px">
							<span id="follow_form" class="follow_btn">
								<%= render 'events/follow_form', :locals => { :user => v } %>
				      </span>
				    </td>
					</tr> 
				</table>
			<% end %>
		<% end %>
	</div>
</div>