<div id="ribbon">
	<a class="btn-primary btn_new_idea" href="#new_idea">New Idea</a>
	<%= render 'new_idea_form' %>

	<div id="datepicker">
		<% for i in -3..16 do %>
		<table>
			<tr>
				<th>
				  <a href="/home?date=<%= Date.today + i %>"><%= (Date.today + i).strftime("%a").slice!(0..1) %></a>
		  	</th>
		  </tr>
		  <tr>
		  	<td>
		  		<%= ideas_on_date_count(i) %>
		  	</td>
		  </tr>
		  	<td>
		  		<%= plans_on_date_count(i) %>
		  	</td>
		  </tr>
		</table>
		<% end %>
	</div>
</div>