<div id="ribbon">
	<a class="btn-primary btn_new_idea" href="#new_idea">New Idea</a>
	<%= render 'new_idea_form' %>
	<% if @next_plan %>
		<%= render 'next_plan', event: @next_plan %>
	<% end %>
	<div id="datepicker">
		<% for i in -3..16 do %>
		<a href="/home?date=<%= Date.today + i %>">
		<table>
			<tr>
				<th>
					<%= i == 0 ? "Today" : (Date.today + i).strftime("%a").slice!(0..1) %>
		  	</th>
		  </tr>
		  <tr>
		  	<td>
		  		<%= @forecastoverview[i+3][0] %>
		  	</td>
		  </tr>
		  	<td>
		  		<%= @forecastoverview[i+3][1] %>
		  	</td>
		  </tr>
		</table>
		</a>
		<% end %>
	</div>
</div>