<% if user_signed_in? %>
	<% if event.ends_at.present? && event.ends_at < Time.now %>
		<div class="btn-over"></div>
	<% elsif current_user.in?(event) %>
		<% if event.guests_can_invite_friends? && event.starts_at == nil %>
			<% if current_user.rsvps.find_by_plan_id(event.id).invite_all_friends? %>
				<div class="green" title="all friends .invited"><i class="icon-group"></i></div>
			<% else %>
				<%= link_to invite_all_friends_path(:event_id => event.id), remote: true do %>
					<div class="fadeInGreen" title=".invite all friends"><i class="icon-group"></i></div>
				<% end %>
			<% end %>
		<% end %>
	<% else %>
		<% if !current_user.rsvpd?(event) %>
			<%= form_for(current_user.rsvps.build(plan_id: event.id), remote: true) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "1" %>
			  <%= f.submit "#{event.is_parent? ? '.into' : '.in'}", class:"btn_icon btn_icon_rsvp" %>
			<% end %>
			<%= form_for(current_user.rsvps.build(plan_id: event.id), remote: true) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "0" %>
			  <%= f.submit "#{event.is_parent? ? 'nah' : 'out'}", class:"btn_icon btn_stop_viewing" %>
			<% end %>
		<% end %>
	<% end %>
<% end %>