<div class="stats">
  <a href="<%= manage_follows_path %>">
    <strong id="following" class="stat">
      <%= current_user.events.count %>
    </strong>
    ideas
  </a>
  <a href="<%= manage_follows_path %>">
    <strong id="following" class="stat">
      <%= current_user.followed_users.count %>
    </strong>
    subscribing
  </a>
  <a href="<%= manage_follows_path %>">
    <strong id="" class="stat">
      <%= current_user.followers.count %>
    </strong>
    subscribers
  </a>
  <% if @view_requests.any? %>
  <a href="<%= manage_follows_path %>">
    <strong id="view_requests">
      <u> + </u><%= @view_requests.count %> Requests
    </strong>
  </a>
  <% end %>
</div>  
