<div id="view_requests">
	<% @view_requests.each do |vr| %>
	<table>
		<tr>
			<td width="50px"><%= link_to raster_profile_picture(vr.follower) %></td>
			<td width="200px"><%= vr.follower.name %></td>
			<td width="20px"><%= link_to raw("<i class='icon-remove-sign'></i>"), relationship_remove_path(vr), title: "Ignore", method: :delete, class:"tooltip" %></td>
			<td width="20px"><%= link_to raw("<i class='icon-check'></i>"), relationship_confirm_path(vr), title: "Confrim View", method: :put, class:"tooltip" %></td>
			<% unless current_user.following?(vr.follower) ||
								current_user.request_following?(vr.follower) %>
				<td width="20px"><%= link_to raw("<i class='icon-repeat'></i>"),
				relationship_confirm_and_follow_path(vr), title: "Confrim and View Back", method: :put, class:"tooltip" %></td>
			<% end %>
		</tr>
	</table>
	<% end %>
</div>
