<div class="admin">
<h1> Admin Idea Dashboard </h1>
<h2> <%= Date.today %></h2>

<h1>
	Ideas RSVPs & Invitations
</h1>
<p> Ideas Last Week: <strong><%= @events_last_week %></strong></p>
<p> Ideas Next Week: <strong><%= @events_next_week %></strong></p>
<p> RSVPs Last Week: <strong><%= @rsvps_last_week.count %></strong></p>
<p> RSVPs Next Week: <strong><%= @rsvps_next_week.count %></strong></p>

<%= high_chart("rsvps", @rsvps_v_events) %>

<p> Invitations for Ideas Last Week: <strong><%= @invitations_last_week %></strong></p>
<p> Invitations for Ideas Next Week: <strong><%= @invitations_next_week %></strong></p>

<div><%= high_chart("invitations_since_inception", @invitations) %></div>

<div><%= high_chart("rsvps_to_invitations", @rsvps_to_invitations) %></div>

</div>