<div class="admin">
<h1> Admin Idea Dashboard </h1>
<h2> <%= Date.today %></h2>

<h1>
	Events RSVPs & Invitations
</h1>

<p> Events Next Week: <strong><%= @events_next_week %></strong></p>

<p> RSVPs Last Week: <strong><%= @rsvps_last_week.count %></strong></p>

<%= high_chart("rsvps", @rsvps_v_events) %>

<p> Invitations for Events Next Week: <strong><%= @invitations_next_week %></strong></p>

<div><%= high_chart("invitations_since_inception", @invitations) %></div>

<div><%= high_chart("rsvps_to_invitations", @rsvps_to_invitations) %></div>


<h1>
	Public Ideas
</h1>

<dl>
<dt>
	<p><%= high_chart("public_ideas", @public_ideas_per_city) %></p>
</dt>

</dt>

<dt>
	Invitation per public idea
</dt>

<dt>
	RSVP per public idea
</dt>

</dl>
<dt>

</div>