<div class="admin">
<h1> Admin User Dashboard </h1>
<h2> <%= Date.today %></h2>

<h1>
	Users
</h1>

<dl>
<dt> 
	New Users Last Week: <strong><%= @new_users_last_week %></strong>
</dt>
<dd>
	User.where(['created_at > ?', Time.zone.now - 1.week])
</dd> 
	<%= high_chart("users_per_week", @users_per_week_graph) %>
<dt>
 Total Users: <strong><%= @total_users %></strong><br>
 iPhone Users: <strong><%= @iphone_users %></strong><br>
 Android Users: <strong><%= @android_users %></strong><br>
 Desktop Users: <strong><%= @desktop_users %></strong>
</dt>
<dd>
<%= high_chart("devices_pie", @devices_pie) %>
</dd>
<dt> 
	Active Users: <strong><%= @active_users %></strong>
</dt>
<dd>
	User.where(['last_sign_in_at > ? AND sign_in_count > 10', Time.zone.now - 2.weeks])
</dd>

<dt>
	Inactive users: <strong><%= @inactive_users.count %></strong>
</dt>
<dd>
	User.where(['last_sign_in_at < ?', Time.zone.now - 1.month])
	<% if false %>
	<ul>
		<% @inactive_users.each do |iau| %>
			<li><%= iau.name %>, <%= iau.email %>, <%= iau.created_at.strftime("%A, %b %e") %></li>
		<% end %>
	</ul>
	<% end %>
</dd>
</dl>
<div>
	<strong>Users per city</strong>
	<table>
		<% City.all.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.users.count %></td>
			</tr>
		<% end %>
	</table>
</div>
<h1>
	Ideas RSVPs
</h1>
<p> Ideas Last Week: <strong><%= @events_last_week %></strong></p>
<p> Ideas Next Week: <strong><%= @events_next_week %></strong></p>
<p> RSVPs Last Week: <strong><%= @rsvps_last_week.count %></strong></p>
<p> RSVPs Next Week: <strong><%= @rsvps_next_week.count %></strong></p>

<%= high_chart("rsvps", @rsvps_v_events) %>

<% if false %>
<p> Invitations for Ideas Last Week: <strong><%= @invitations_last_week %></strong></p>
<p> Invitations for Ideas Next Week: <strong><%= @invitations_next_week %></strong></p>

<div><%= high_chart("invitations_since_inception", @invitations) %></div>

<div><%= high_chart("rsvps_to_invitations", @rsvps_to_invitations) %></div>
<% end %>

</div>
</div>