<div class="admin">
<h1> Admin Dashboard </h1>
<h2> <%= Date.today %></h2>

<h1>
	Users
</h1>

<p> New Users Last Week: <strong><%= @new_users_last_week %></strong></p>
<p> Total Users: <strong><%= @total_users %></strong></p>
<p> Active Users: <strong><%= @active_users %></strong></p>
<p> Inactive users: <strong><%= @inactive_users %></strong></p>

<h1>
	Events
</h1>

<p> Events Next Week: <strong><%= @events_next_week %></strong></p>

</div>
</div>