<div class="admin">
<h1> Admin Dashboard </h1>
<h2> <%= Date.today %></h2>

<h1>
	Users
</h1>

<dl>
<dt> 
	New Users Last Week: <strong><%= @new_users_last_week %></strong>
</dt>
<dd>
	User.where(['created_at > ?', Time.now - 1.week])
</dd> 

<dt>
	Users per week since inception
</dt>
<dd>
	<%= high_chart("users_per_week", @users_per_week_graph) %>
</dd>

<dt>
 Total Users: <strong><%= @total_users %></strong>
 iPhone Users: <strong><%= @iphone_users %></strong>
 Android Users: <strong><%= @android_users %></strong>
 Desktop Users: <strong><%= @desktop_users %></strong>
</dt>
<dd>

</dd>
<dt> 
	Active Users: <strong><%= @active_users %></strong>
</dt>
<dd>
	User.where(['last_sign_in_at > ? AND sign_in_count > 10', Time.now - 2.weeks])
</dd>

<dt>
	Inactive users: <strong><%= @inactive_users.count %></strong>
</dt>
<dd>
	User.where(['last_sign_in_at < ?', Time.now - 1.month])
	<% if false %>
	<ul>
		<% @inactive_users.each do |iau| %>
			<li><%= iau.name %>, <%= iau.email %>, <%= iau.created_at.strftime("%A, %b %e") %></li>
		<% end %>
	</ul>
	<% end %>
</dd>
</dl>
<h1>
	Events RSVPs & Invitations
</h1>

<p> Events Next Week: <strong><%= @events_next_week %></strong></p>

<p> RSVPs Last Week: <strong><%= @rsvps_last_week.count %></strong></p>

<%= high_chart("rsvps", @rsvps_v_events) %>

<p> Invitations for Events Next Week: <strong><%= @invitations_next_week %></strong></p>

<%= high_chart("invitations", @invitations) %>

<h1>
	Public Ideas
</h1>

<dl>
<dt>
	<%= high_chart("public_ideas", @public_ideas_per_city) %>
</dt>

<div>
	<strong>Users per city</strong>
	<table>
		<% City.all.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.users.count %></td>
			</tr>
		<% end %>
	</table>
</div>
</dt>
<dt>
	Clones pers Suggestion
</dt>

<dt>
	Invitation per Suggestion
</dt>

<dt>
	RSVP per Suggestion
</dt>

</dl>
<dt>

</div>
</div>
</div>