<div id="find_friends">
<% if @me['location'].nil? %>
	<h1>Your Friends: Add your current city on Facebook to show nearby friends.</h1>
<% else %>
	<h1>Your Friends in <%= current_user.city %></h1>
<% end %>

<div id="friend_all">
	Friend All
</div>

<% @member_friends.each do |mf| %>
		<table>
		<tr>
			<td width="55px"><%= image_tag("#{mf['picture']['data']['url']}") %></td>
			<td width="100px"><%= "#{mf['name']}" %></td>
			<td width="100px">
				<% u = Authentication.find_by_uid(mf['id']).user %>
					<%= render :partial => 'events/follow_form', locals: { :user => u } %>
	    </td>
		</tr> 
	</table>
<% end %>

<hr>

	<%= link_to "Invite All", invite_all_fb_friends_path, class:"btn btn_primary", id:"invite_all_friends" %>

<% @invite_friends.each do |inf| %>
		<table>
		<tr>
			<td width="55px"><%= image_tag("#{inf['picture']['data']['url']}") %></td>
			<td width="100px"><%= "#{inf['name']}" %></td>
			<td width="100px">
		    <a href="#" class="btn btn-success invite" alt="<%=inf['username']%>">Invite</a> 
	    </td>
		</tr> 
	</table>
<% end %>
</div>
</div>

