<div id="find_friends">
<% if @me['location'].nil? %>
	<h1>Your Friends: Add your current city on Facebook to show nearby friends.</h1>
<% else %>
	<h1>Your Friends in <%= current_user.city %></h1>
<% end %>


<% @member_friends.each do |mf| %>
		<table>
		<tr>
			<td width="55px"><%= image_tag("#{mf['picture']['data']['url']}") %></td>
			<td width="100px"><%= "#{mf['name']}" %></td>
			<td width="100px">
				<% u = Authentication.find_by_uid(mf['id']).user %>
					<%= render :partial => 'events/follow_form', locals: { :user => u } %>
	    </td>
		</tr> 
	</table>
<% end %>


<div class="fb_invite_friends">
	<%= form_tag('/fb_app_invite', id:"fb_invite_friends") %>
		<%= hidden_field_tag :current_user, @me["username"] %>
		<%= hidden_field_tag :invitees, nil, id:"invitees" %>
		<div class="invitees">
			<%= label_tag :invitees %></br>
	 		<%= text_area_tag :show_invitees, nil, id:"show_invitees", readonly: true, class:"required" %>
	 	</div>
	 	<div class="subject_message">
		 	<p>
		 		<%= label_tag :subject %></br>
		 		<%= text_field_tag :subject, nil, class:"required" %>
		 	</p>
		 	<p>
		 		<%= label_tag :message %></br>
		 		<%= text_area_tag :message, nil, class:"required" %>
		 	</p>
		</div>
		<div class="submit">
			<%= submit_tag "Send", class:"btn btn-rsvp btn-fb-invite" %>
		</div>
</div>

<% @invite_friends.each do |inf| %>
		<table>
		<tr>
			<td width="55px"><%= image_tag("#{inf['picture']['data']['url']}") %></td>
			<td width="100px"><%= "#{inf['name']}" %></td>
			<td width="100px">
		    <a href="#" class="btn btn-success invite" alt="<%=inf['username']%>" name="<%=inf['name']%>">Invite</a> 
	    </td>
		</tr> 
	</table>
<% end %>
</div>
</div>

<script>
// INVITE => INVITED IN FIND FRIENDS
	$(".invite").click(
    function() {
        username = $(this).attr('alt');
        name = $(this).attr('name');
        if ($('#show_invitees').text().length == 0) {
        $('#invitees').attr('value', username);
        $('#show_invitees').text(name);
      }
      	else {
      	usernames = $('#invitees').attr('value');
      	$('#invitees').attr('value', usernames + ", " + username);
        $('#show_invitees').append(", " + name);
      }
        $(this).removeClass('btn-success');
        $(this).addClass('btn_stop_viewing');
    });
</script>

