<div id="find_friends">
<% @city_members.each do |cm| %>
	<table>
		<tr>
			<td width="55px"><%= medium_profile_picture(cm) %></td>
			<td width="100px"><%= cm.name %></td>
			<td>
	      <span id="follow_form" class="follow_btn">
	        <% if current_user.following?(cm) %>
	          <%= form_for(current_user.relationships.find_by_followed_id(cm.id),
	                   html: { method: :delete }) do |f| %>
              <%= f.submit "Stop Viewing", class: "btn_stop_viewing", confirm:"Are you sure you would like to stop viewing #{cm.name}'s ideas?" %>
              <% end %>
          <% elsif current_user.request_following?(cm) %>
          	Request Sent...
	        <% else %>
            <%= form_for(current_user.relationships.build(followed_id: cm.id)) do |f| %>
              <div><%= f.hidden_field :followed_id %></div>
              <%= f.submit "View", class: "btn-primary btn_start_viewing" %>
            <% end %>
	        <% end %>
	      </span>
	    </td>
		</tr> 
	</table>
<% end %>
</div>