<% if user_signed_in? %>
<%= render 'mini_calendar' %>
	  <div class="container_wrapper">
			<div class="home_idea_container clearfix">
				<h1><span id="invites_count"></span> .invites</h1>
				<%= image_tag 'purple_arrow.png', class:"invites_arrow", style:"display:none" %>
				<div id="noInvites" class="no_invites part" style="display:none;">
          <h2>
            Get more .invites and .in-mates by searching for your friends in <%= @current_city.city_name %>.
          </h2>
        </div>
				<div id="invitesContainer" class="idea_container" >
				</div>

				<h1><span id="ins_count"></span> .ins</h1>
				<%= image_tag 'purple_arrow.png', class:"ins_arrow", style:"display:none;"%>
				<div id="noIns" class="no_ins part" style="display:none;">
					<h2>You are not .in on any ideas<br>
						Create a new idea and share it with your friends.
					</h2>
				</div>
				<div id="insContainer" class="idea_container" >
				</div>
			</div>
		</div>
		<%= render partial: "shalendar/event", collection: @ideas %>
<% end %>