<% provide(:title, " | Home") %>
<div class="container">
	<aside>

	  <div class="profile_pic_home"><%= medium_profile_picture(@current_user) %></div>
	  <%= current_user.name %>

	  <%= render 'stats' %>
  
	  <%= render 'search' %>

		<a class="btn-primary btn_new_idea" href="#new_idea">New Idea</a>
	  <span class="grey_italics" style="font-size:14px;">Click pics to show/hide user's ideas</span>

	  <%= render 'raster' %>
	  
	  <% if session[:access_token] %>
		<%= link_to (image_tag "social/fb.png", :size => "50x50", title: "Find more calendars to view on Facebook"), find_friends_path %>
		<br>
		Find Friends on Facebook
    <% else %>
	  	<div class="social_friends">
	   		<div class="fb_button">
      		<div id="auth-status">
          	<a href="#" id="auth-loginlink" class="fb-login-button"><%= image_tag "social/fb.png", :size => "50x30", title: "Find more calendars to view on Facebook" %></a>
     		  </div>
    		</div><br>
	  	</div>
	  	Add Facebook Authentication
	  <% end %>
	</aside>

<!-- 6 calls per day right now... mae plans, mae maybes. x3 days = 18 calls... not pretty but don't know what else, could parse in view but won't save much.. I guess we could just call plans and make sure they're sorted by start time and display based on start time. -->
<!--
	<div id='roll-your-own'>
		<%# current_user.morning_plans_on_date(@first_date_on_calendar).each do |mp|%>

		<%# current_user.plans_on_date(@first_date_on_calendar).each do |p|%>

	</div>
	<div id='next-day-selector'>
		Button that does this:
		<%# @first_date_on_calendar = @first_date_on_calendar + 1 %>
		<%#redirect_to(home_path)%>
	</div>
	<div id='prev-day-selector'>
		//Button that does this:
		<%#@first_date_on_calendar = @first_date_on_calendar - 1 %>
		<%#redirect_to(home_path)%>
	</div>
-->

	<div id='calendar'></div>
</div>

	<%= render 'new_idea_form' %>