<div id='datepicker' class="part">
  <%= render partial: 'shalendar/datepicker' %>
</div>
<div id='yt'><a href='#<%= @time_in_zone.to_date %>' id='todayButton' class='btn-today'>Today</a></div>
<%= render 'layouts/sidebar' %>
<div class="home" id="scrollContainer">
<% for i in -3..26 %>
	<div class="each_day persist-area clearfix">		
		<div class="date_bar marker persist-header clearfix shield <% if i == 0 %> red <% end %>" <% if i == 0 %> id="today" <% end %> data-date=<%= "#{@time_in_zone.to_date + i}" %>>
      <div class="date"><%= (@time_in_zone.to_date + (i)).strftime("%A %b %e") %></div>
      <div id="hidePublic" class="friend_only" title="View only Friends Ideas">
      	<i class="icon-envelope-alt"></i> 
      </div>
		</div>
    <div class="day_container clearfix">
  		<div class="idea_container clearfix">
        <% if @events[i + 3].any? %>
  				<% @events[i + 3].each do |e| %>
  					<%= render :partial => "shalendar/event", :locals => { :event => e } %>
  				<% end %>
  			<% end %>
  		</div>
    </div>
	</div>
<% end %>
</div>

<script>
// function UpdateTableHeaders() {
//    $(".persist-area").each(function() {
   
//        var el             = $(this),
//            offset         = el.offset(),
//            scrollTop      = $(window).scrollTop() + 60,
//            floatingHeader = $(".floatingHeader", this)
       
//        if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
//            floatingHeader.css({
//             "visibility": "visible"
//            });
//            floatingHeader.siblings('.not_floating').css({
//             "visibility": "hidden"
//            })
//        } else {
//            floatingHeader.css({
//             "visibility": "hidden"
//            });    
//            floatingHeader.siblings('.not_floating').css({
//             "visibility": "visible"
//            })  
//        };
//    });
// }

// DOM Ready      
// $(function() {

//    var clonedHeaderRow;

//    $(".persist-area").each(function() {
//        clonedHeaderRow = $(".persist-header", this);
//        clonedHeaderRow
//          .before(clonedHeaderRow.clone())
//          .addClass("floatingHeader");
//    });
   
//    $(window)
//     .scroll(UpdateTableHeaders)
//     .trigger("scroll");
// });
</script>

<% if false %>
<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
	<script> 
		function Func1() { 
			//alert("ahh!")
			$(".find_friends").click();
			//clickLink(".find_friends")
			}
		function Func1Delay() { 
			setTimeout("Func1()", 1000);
			}
		document.ready(Func1Delay());
	</script>
<% end %>
<% end %>