<% provide(:title, " | Home") %>
	<div class="dashboard">
		<%= render 'layouts/logo' %>
	  <%= render 'search' %>
	  <%= render 'social_friends' %>
	  <div class="grey_italics small">
	  	Viewing: click pics to show/hide user's ideas
	  </div>
	  <div id="raster" class="element">
	  	<%= render 'raster' %>
	  </div>
	  <div class="raster_nav">
  		<a href="#" onclick="$('.toggled-off').click();">View All</a> |
  		<a href="#" onclick="$('.toggled-on').click();">Hide All</a>

		</div>
		<% if false %>
			<a href="#public", class="public" ><%= (image_tag "madison_icon", :size => "50x50", title: "Find Friend's On Facebook") %></a>
			<%= render 'public' %>
		<% end %> 
	</div>
	<div class="container">
		<%= render 'ribbon', :locals => { :next_plan => @next_plan } %>
		<div id='forecast'>
			<%= render 'forecast' %>
		</div>
	</div>
</div>

<%= render 'how_it_works' %>

<% if false %>
This keeps coming up their entire first session on every page load!
	<% if session[:graph] %>
		<% if current_user.authentications.where(:provider == "Facebook").present? and current_user.sign_in_count == 1 %>
			<script> 
				function Func1() { 
					//alert("ahh!")
					$(".find_friends").click();
					//clickLink(".find_friends")
					}
				function Func1Delay() { 
					setTimeout("Func1()", 1000);
					}
				document.ready(Func1Delay());
			</script>
		<% end %>
	<% end %>
<% end %>