<div class="row">
  <aside class="span2">
    <section>
<!--     	<button class='btn btn-large btn-primary modalInput', rel='#new_event'>New</button> -->
      <%= button_to "New", new_event_path, :class => 'btn btn-large btn-primary', :method => :get %>

    <div class="current_user">
      <% if current_user.uid %>
        <%= fb_picture(current_user) %>
      <% else %>
        <%= gravatar_for(current_user, size: "80px") %>
      <% end %>
      <h3><%= current_user.fullname %></h3>

      <%= render 'stats' %>
      
      <%= search_field :user, :email, :autosave => false, :value => "", :placeholder => "Search for Calendars"  %>

      <%= render 'raster' %>
      <div class="social_friends">
      <%= link_to( (image_tag "fb.png", :size => "50x50"), find_friends_path) %>
      </div>
    </section>

  </aside>
 <div id='calendar'></div>
</div>
