<% provide(:title, " | Home") %>
	<div class="dashboard">
		<div class="new_idea part">
		<%if current_user.vendor? %>
			<textarea id="new_idea_blerb"></textarea>
			<a class="btn btn-rsvp btn-new-idea-vendor" href="#new_idea" title="Make New Idea"><i class="icon-cloud"></i></a>
			<%= render 'new_idea_form' %>
			
			<%= link_to new_suggestion_path, class: "btn btn-new-suggestion", title: "Make New Suggestion" do %>
					<i class="icon-bullhorn"></i>
			<% end %>
			<div id="new_suggestion_element"></div>
		<% else %>
			<textarea id="new_idea_blerb"></textarea>
			<a class="btn btn-rsvp btn-new-idea" href="#new_idea" title="Make a New Idea"><i class="icon-cloud"></i></a>
			<%= render 'new_idea_form' %>
		<% end %>
		</div>
	  
	  <%= render 'get_friends' %>
	  <%= render 'suggestions' %>
	
	</div>
	<div class="container">
		<%= render 'ribbon', :locals => { :next_plan => @next_plan } %>
		<div class='forecast'>
			<%= render 'forecast' %>
		</div>
	</div>
</div>

<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
	<script> 
		function Func1() { 
			//alert("ahh!")
			$(".find_friends").click();
			//clickLink(".find_friends")
			}
		function Func1Delay() { 
			setTimeout("Func1()", 1000);
			}
		document.ready(Func1Delay());
	</script>
<% end %>

<script>
// INITIALLY HIDE ALL UNTOGGLED USERS
<% @toggled_off_ids.each do |toi| %>
  document.ready(function(){
		$('a').withInviterId("<%= toi.followed.id %>").hide();
  });
 <% end %>
</script>