<% if user_signed_in? %>
	<%= render 'mini_calendar' %>
	<div class="home_idea_container clearfix">
    <div class="filters">
    	<span id="jrFriendsIdeas"><%= @ideas.count %> .invites</span> / <span id="jrPlans"><span id="ins_count"><%= current_user.ins.count %></span> .ins</span>
    </div>
		<div id="ideaContainer" style="height:120%;">
	  	<%= render partial: "shalendar/event", collection: @ideas %>
		</div>
	</div>
<% else %>
	<div id="ideaContainer" style="width: 90%;margin: 0 auto;">
	 <%= render partial: "shalendar/event", collection: @ideas %>
	</div>
	<div id="insContainer" style="width: 90%;margin: 0 auto;">
	 <%= render partial: "shalendar/event", collection: @ins %>
	</div>

<% end %>

<% if false %>
<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
	<script> 
		function Func1() { 
			//alert("ahh!")
			$(".find_friends").click();
			//clickLink(".find_friends")
			}
		function Func1Delay() { 
			setTimeout("Func1()", 1000);
			}
		document.ready(Func1Delay());
	</script>
<% end %>
<% end %>