<% provide(:title, " | Home") %>
<div class="container">
	<aside>

	  <div class="profile_pic_home"><%= medium_profile_picture(@current_user) %></div>
	  <%= current_user.name %>

	  <%= render 'stats' %>
  
	  <%= render 'search' %>

		<a class="btn-primary btn_new_idea" href="#new_idea">New Idea</a>
	  <span class="grey_italics" style="font-size:14px;">Click pics to show/hide user's ideas</span>

	  <%= render 'raster' %>
	  
	  <div class="social_friends">
	  <%= link_to( (image_tag "social/fb.png", :size => "50x50", title: "Find more calendars to view on Facebook"), find_friends_path) %>
	  </div>
	</aside>

	<div id='calendar'></div>
</div>

	<%= render 'new_idea_form' %>