<% if user_signed_in? %>
<%= render 'mini_calendar' %>
	  <div class="container_wrapper">
			<div class="home_idea_container clearfix">
		    <div class="filters">
		    	<span id="invites" class="selected"><%= @ideas.count %> .invites</span> | <span id="ins" class="unselected"><span id="ins_count"><%= current_user.ins.count %></span> .ins</span>
		    </div>

				<div id="ideaContainer" >
			  	<%= render partial: "shalendar/event", collection: @ideas %>
				</div>
				<div id="insContainer" style="display:none;">
			 		<%= render partial: "shalendar/event", collection: current_user.ins %>
				</div>
			</div>
		</div>
<% else %>
	<div id="ideaContainer">
	 <%= render partial: "shalendar/event", collection: @ideas %>
	</div>
<% end %>