<% provide(:title, " | Home") %>
	<div class="dashboard">
		<%= render 'layouts/logo' %>
	  <%= render 'search' %>
	  <div class="grey_italics small">
	  	Click to show/hide ideas on forecast.
	  </div>
	  <%= render 'raster' %>
	  <div class="raster_nav">
  		<a href="#" onclick="$('.toggled-on').click();">Clear All</a> |
  		<a href="#" onclick="$('.toggled-off').click();">Select All</a>
		</div>
		<% if false %>
			<a href="#public", class="public" ><%= (image_tag "madison_icon", :size => "50x50", title: "Find Friend's On Facebook") %></a>
			<%= render 'public' %>
		<% end %> 
	  <%= render 'fb_button' %>
	</div>
	<div class="container">
		<%= render 'ribbon', :locals => { :next_plan => @next_plan } %>
		<%= render 'forecast' %>
	</div>
</div>
	<% if session[:access_token] %>
		<%= render 'find_friends' %>
		<% if current_user.authentications.where(:provider == "Facebook") and current_user.sign_in_count == 1 and @city_friends.any? == true %>
			<script> 
				function Func1() { 
					//alert("ahh!")
					$(".find_friends").click();
					//clickLink(".find_friends")
					}
				function Func1Delay() { 
					setTimeout("Func1()", 500);
					}
				//document.ready(Func1Delay());
			</script>
		<% end %>
	<% end %>