<% provide(:title, " | Home") %>
	<%= render 'layouts/logo' %>
	<div class="dashboard">
	  <%= render 'get_friends' %>
	  <div class="grey_italics small">
	  	Viewing: click pics to show/hide user's ideas
	  </div>
	  <div id="home_raster" class="raster element">
	  	<%= render 'raster' %>
	  </div>
	  <div class="raster_nav">
  		<a href="#" onclick="$('.toggled-off').click();">View All</a> |
  		<a href="#" onclick="$('.toggled-on').click();">Hide All</a>

		</div>
		<% if false %>
			<a href="#public", class="public" ><%= (image_tag "madison_icon", :size => "50x50", title: "Find Friend's On Facebook") %></a>
			<%= render 'public' %>
		<% end %> 
	</div>
	<div class="container">
		<%= render 'ribbon', :locals => { :next_plan => @next_plan } %>
		<%= render 'forecast' %>
	</div>
</div>

<%= render 'how_it_works' %>

<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>
	<script> 
		function Func1() { 
			//alert("ahh!")
			$(".find_friends").click();
			//clickLink(".find_friends")
			}
		function Func1Delay() { 
			setTimeout("Func1()", 1000);
			}
		document.ready(Func1Delay());
	</script>
<% end %>