<% provide(:title, " | Home") %>
<div id='feedback'><a href="mailto:info@hoos.in"> Feedback</a></div>
<div class="container">
	<aside>
	  <div class="profile_pic_home">
	  	<%= medium_profile_picture(@current_user) %>
	  </div>
	  <%= current_user.name %>
	  <%= render 'stats' %>
	  <%= render 'search' %>
	  <span class="grey_italics" style="font-size:14px;margin-top:5px;">
	  	Click pics to show/hide user's ideas
	  </span>
	  <%= render 'raster' %>
	  <%= render 'fb_button' %>
	</aside>
	<%= render 'ribbon' %>
	<%= render 'forecast' %>
</div>

	<% if session[:access_token] %>
		<%= render 'find_friends' %>
		<% if current_user.authentications.where(:provider == "Facebook") and current_user.sign_in_count == 1 and @city_friends.any? == true %>
			<script> 
				// function clickLink(link) {
			 //    var cancelled = false;

			 //    if (document.createEvent) {
			 //        var event = document.createEvent("MouseEvents");
			 //        event.initMouseEvent("click", true, true, window,
			 //            0, 0, 0, 0, 0,
			 //            false, false, false, false,
			 //            0, null);
			 //        cancelled = !link.dispatchEvent(event);
			 //    	}
			 //    else if (link.fireEvent) {
			 //        cancelled = !link.fireEvent("onclick");
			 //    	}

			 //    if (!cancelled) {
			 //        window.location = link.href;
			 //    	}
				// 	}
				function Func1() { 
					//alert("ahh!")
					$(".find_friends").click();
					//clickLink(".find_friends")
					}
				function Func1Delay() { 
					setTimeout("Func1()", 5000);
					}
				//document.ready(Func1Delay());
			</script>
		<% end %>
	<% end %>