<div class="row">
  <aside class="span2">
    <section>
    	<%= button_to "New", new_event_path, :class => 'btn btn-large btn-primary', :method => :get %>

    <div class="current_user">
      <%= gravatar_for(current_user) %>
      <h3><%= current_user.fullname %></h3>

      <div class="stats">
        <a href="<%= manage_follows_path %>">
          <strong id="following" class="stat">
            <%= @user.followed_users.count %>
          </strong>
          following
        </a>
        <a href="<%= manage_follows_path %>">
          <strong id="" class="stat">
            <%= @user.followers.count %>
          </strong>
          followers
        </a>
      </div>

      <% if @followers.any? %>
       <div class="raster">
          <% @followers.each do |follower| %>
        	  <%= link_to gravatar_for(follower, size: 30) %>
      	  <% end %>
        </div>
      <% end %>
      <% @user = current_user %>
    </section>
  </aside>
 <div id='calendar'></div>
</div>