<% provide(:title, " | Manage Follows") %>
<div class="dashboard">
<%= render 'layouts/logo' %>
<%= render 'search' %> 
<h3>New View Requests</h3>
<%= render 'view_requests' %>
</div>

    <!-- VIEWERS AND VIEWING TABLES -->
<div id="views_list" class="container">
  <ul>
    <li><a href="#following">Viewing (<%= @followed_user_relationships.count %>)</a></li>
    <li><a href="#followers">Viewed by (<%= @follower_relationships.count %>)</a></li>
  </ul>
  <%= render partial: 'shalendar/following' %>
  <%= render partial: 'shalendar/followers' %>
</div>
