<div id="follow_list">
  <h1>Following</h1>
  <div class="user_table">
      <% @followed_users.each do |followed| %>
      <table>       
        <tr>
          <td width="50px"><%= gravatar_for followed, size: 45 %></td>
          <td width="200px"><%= followed.fullname %> </td>
          <td>
            <span id="follow_form" class="follow_btn">
              <%= form_for(current_user.relationships.find_by_followed_id(followed),
                   html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-large" %>
              <% end %>
            </span>
          </td>
        </tr>
    </table>
    <% end %>

  </div>


  <h1>Followers</h1>
  <div class="user_table">
    <% @followers.each do |follower| %>
    <table>        
        <tr>
          <td width="50px"><%= gravatar_for follower, size: 45 %></td>
          <td width="200px"><%= follower.first_name %> <%= follower.last_name %></td>
          <td>
            <span id="follow_form" class="follow_btn">
              <% if current_user.following?(follower) %>
                <%= form_for(current_user.relationships.find_by_followed_id(follower),
                         html: { method: :delete }) do |f| %>
                <%= f.submit "Unfollow", class: "btn btn-large" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build(followed_id: follower.id)) do |f| %>
                  <div><%= f.hidden_field :followed_id %></div>
                  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
                <% end %>

              <% end %>
            </span>
          </td>
          <td>
            <%= link_to "Remove", relationship_path(follower.relationships.find_by_followed_id(current_user)), class: "btn btn-large btn-warning", method: :delete %> <!-- equivalent to follower.unfollow!(current_user) -->
        </tr>
      </table>
      <% end %>
  </div>
</div>