<%= form_tag '/relationships' do %>
  <div class="input-append search">
      <%= autocomplete_field_tag :email, '', autocomplete_email_path, class:"span3", id:"appendedInputButton" %>
      <%= submit_tag icon('search'), class: "btn-primary", style:"width:37px;" %>
  </div>
<% end %>

<div id="follow_list">
  <h2>Viewing</h2>
  <div class="user_table">
      <% @followed_user_relationships.each do |fur| %>
      <table>       
        <tr>
          <td width="50px"><%= small_profile_picture(fur.followed) %></td>
          <td width="200px"><%= fur.followed.name %> </td>
          <td>
            <span id="follow_form" class="follow_btn">
              <%= form_for(fur, method: :delete ) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-large" %>
              <% end %>
            </span>
          </td>
        </tr>
    </table>
    <% end %>

  </div>


  <h2>Viewers</h2>
  <div class="user_table">
    <% @follower_relationships.each do |fr| %>
    <table>        
        <tr>
          <td width="50px"><%= small_profile_picture(fr.follower) %></td>
          <td width="200px"><%= fr.follower.name %></td>
          <td>
            <span id="follow_form" class="follow_btn">
              <% if current_user.following?(fr.follower) %>
                <%= form_for(fr, method: :delete ) do |f| %>
                <%= f.submit "Unfollow", class: "btn btn-large" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build(followed_id: fr.follower.id)) do |f| %>
                  <div><%= f.hidden_field :followed_id %></div>
                  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
                <% end %>

              <% end %>
            </span>
          </td>
          <td>
            <%= link_to "Remove", relationship_remove_path(fr), class: "btn btn-large btn-warning", method: :delete, confirm: "#{fr.follower.name} so they will not be able to view your ideas?" %> <!-- equivalent to follower.unfollow!(current_user) -->
        </tr>
      </table>
      <% end %>
  </div>
</div>