</table>
<table width="100%">
<tr>
	<% if event.image(:medium).present? %>
		<td><a href="<%= event.has_parent? ? event_url(event.parent) : event_url(event) %>"><img src="<%= event.image(:medium) %>" width="100%"/></a></td>
		<td style="padding:10px 30px 10px 20px" width="70%">
	<% else %>
		<td width="30%"></td>
		<td style="padding:10px 30px 10px 20px" width="70%">
	<% end %>
		<strong>What:</strong> <span style="padding-left:10px;"><a href="<%= event.has_parent? ? event_url(event.parent) : event_url(event) %>"><%= event.title %></a></span>
	<% if user.in?(event) && event.starts_at.present? && event.starts_at > Time.zone.now.in_time_zone(user.city.timezone) %>
		<strong>  (.in)</strong>
	<% elsif user.in?(event) && event.starts_at.present? && event.starts_at < Time.zone.now.in_time_zone(user.city.timezone) %>
		<strong>  (already over)</strong>
	<% end %>
	<% if event.starts_at.present? %>
		<br>
		<strong>When:</strong> <span style="padding-left:10px;"><%= event.starts_at.strftime("%l:%M%P, %A %B %e") %></span>
	<% end %>
		<br>
		<strong>Who:</strong>
		<span style="padding-left:10px; font-size:13px;">
			<% if !user.in?(event) %>
				<img src="http://www.hoos.in/assets/gold_star.png" width="10" style="position:relative;top:4px;"/><span id="friendCount"><%= event.friends_in_count(user) %></span> / <img src="http://www.hoos.in/assets/grey_star.png" width="10" style="position:relative;top:4px;" /><%= event.inmates_in_count(user) %> / <%= event.guest_count %>
			<% elsif user.in?(event) %>
				<img src="http://www.hoos.in/assets/gold_star.png" width="10" style="position:relative;top:4px;"/><span id="friendCount"><%= event.friends_in_count(user) %></span> / <img src="http://www.hoos.in/assets/grey_star.png" width="10" style="position:relative;top:4px;" /><%= event.inmates_in_count(user) %>
			<% end %>
		</span>
	<% if event.description.present? %>
	<br>
		<strong>Details:</strong> <span style="padding-left:5px; padding-top:10px; font-size:13px;"><%= event.description %></a></span>
	<% end %>

	<% if event.require_payment? && @user.in?(event) %>
	<br>
		<strong>Cost*:</strong> <%= event.nice_price %> <strong style="color:green;"> (Paid)</strong>
	<% elsif event.require_payment? && !@user.in?(event) %>
	<br>
		<strong>Cost*:</strong> <%= event.nice_price %>
	<% elsif !event.require_payment && event.price.present? %>
	<br>
		<strong>Cost:</strong> <%= event.nice_price %>
	<% end %>
	</td>
</tr>




