<% if @has_times == true %>
<tr>
	<td style="padding:15px 0 0 20px;font-size:18px;">Here's what's coming up!</td>
</tr>

<table style="margin-left:40px;">
	<% (0..2).each do |day| %>
		<tr>
			<td style="border-top:1px solid lightgrey;"></td>
		</tr>
		<% if @upcoming_times[day].empty? %>
			<tr>
				<td style="padding:20px 0 40px 50px;"><%= (Date.today + day.days).strftime("%A %B %e") %>  - <strong>No Plans</strong></td>
			</tr>
		<% else %>
			<tr>
				<td style="padding:20px 0 0 50px;"><%= (Date.today + day.days).strftime("%A %B %e") %></td>
			</tr>
			<% @upcoming_times[day].each do |event| %>
				<%= render partial: 'event_details', locals: { :event => event, :user => @user } %>
			<% end %>
		<% end %>
	<% end %>
</table>
<% end %>

<% if @new_inner_ideas.present? && @new_inner_ideas.any? %>
	<tr>
		<td style="padding:15px 0 0 20px;font-size:18px;">New ideas your .inner-circle are .in on</td>
	</tr>

	<% @new_inner_ideas.each do |event| %>
		<%= render partial: 'event_details', locals: { :event => event, :user => @user } %>
	<% end %>
<% end %>

<% if @new_inmate_ideas.present? && @new_inmate_ideas.any? %>
	<tr>
		<td style="padding:15px 0 0 20px;font-size:18px;"><%= @new_inmate_ideas.count %> new ideas your friends are .in on</td>
	</tr>

	<% @new_inmate_ideas.each do |event| %>
		<%= render partial: 'event_details', locals: { :event => event, :user => @user } %>
	<% end %>

	<% if @new_inmate_ideas.count > 5 %>
	<tr>
		<td style="padding:10px 0 0 5px;font-size:14px;"><%= link_to "more. . .", root_url %></td>
	</tr>
	<% end %>
<% end %>