<td style="padding:20px 0 20px 40px">
	<table>
		<tr>
			<td style="font-size:16px;">
				<strong><%= @inviter.name %></strong> invited you to an activity:
			</td>
		</tr>

<tr>
	<td style="padding:10px 0 5px 50px">What: <strong style="padding-left:10px;"><a href="http://www.hoos.in/events/<%= event.id %>"><%= event.title %></a></strong>
</tr>

<tr>
	<td style="padding:5px 0 5px 50px">When: <strong style="padding-left:10px;"><%= event.starts_at.strftime("%l:%M%P, %A %B %e") %></strong></td>
</tr>

<tr>
	<td style="padding:5px 0 5px 50px"><strong>This idea needs <span style="color:red;"><%= event.min - event.guest_count %></span> to tip</strong></td>
</tr>

<% end %>
<% end %>
<% if @user.nil? %>
	<tr>
		<td style="padding:20px 0 10px 10px">hoos.in makes it easy and hassel-free to plan creative and adventurous activities with friends, colleagues, and family.</td>
	</tr>
<% end %>
