<% if @message.nil? %>
<td>
	<h2 style="padding:0 0 0 10px;font-size:22px;"><% if @user.nil? == false %><%= @user.first_name %> <% else %>hi<% end %>,</h2>
</td>
<% else %>
<tr>
	<td style="padding:20px 0 10px 50px"><%= @message %></td>
</tr>
<% end %>

<tr>
	<td style="padding:0px 0 10px 10px">	
		<strong><%= @inviter.name %></strong> invited you to an activity:
	</td>
</tr>

<tr>
	<td style="padding:10px 0 5px 50px">What: <strong style="padding-left:10px;"><a href="http://www.hoos.in/events/<%= event.id %>"><%= event.title %></a></strong>
</tr>

<tr>
	<td style="padding:5px 0 5px 50px">When: <strong style="padding-left:10px;"><%= event.starts_at.strftime("%l:%M%P, %A %B %e") %></strong></td>
</tr>

<% if event.tipped? %>
<tr>
	<td style="padding:5px 0 20px 50px"><strong style="color:green;">Idea tipped!</strong></td>
</tr>

<% else %>

<tr>
	<td style="padding:5px 0 5px 50px"><strong>This idea needs <span style="color:red;"><%= event.min - event.guests.count %></span> to tip</strong></td>
</tr>

<% end %>

<% if @user.nil? %>
	<tr>
		<td style="padding:20px 0 10px 10px">hoos.in makes leading an adventurous social life easy... we're in beta and growing fast, check us out!</td>
	</tr>
<% end %>
