<tr>
	<th style="padding:15px 0 0 0;font-size:18px;" align="middle" width="600">.introductions from yesterday - your new friends.</th>
</tr>

<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>

	<% left = @new_inmates[ 0, ( @new_inmates.size / 2.0 ).round ] %>
	<% right = @new_inmates - left %>

<tr>
	<td>
			<% left.each do |g| %>
			<table style="padding: 5px 5px 0px 20px">
				<tr>
						<% @fb_auth = g.authentications.where(:provider == 'Facebook').first %>
						<% if @fb_auth.present? %>
							<td><a href="http://www.hoos.in/users/<%= g.slug %>"><%= image_tag("#{@fb_auth.pic_url}") %></a></td>
						<% else %>
							<td><a href="http://www.hoos.in/users/<%= g.slug %>"><%= image_tag("#{g.avatar.url(:raster)}") %></a></td>
						<% end %>
						<td width="60px"><a href="http://www.hoos.in/users/<%= g.slug %>"><%= g.name %></a></td>
					</a>
				</tr>
			</table>
			<% end %>
	</td>
	<td>
			<% right.each do |g| %>
			<table style="padding: 5px 5px 0px 20px">
				<tr>
					<a href="http://www.hoos.in/users/<%= g.slug %>">
						<% @fb_auth = g.authentications.where(:provider == 'Facebook').first %>
						<% if @fb_auth.present? %>
							<td><a href="http://www.hoos.in/users/<%= g.slug %>"><%= image_tag("#{@fb_auth.pic_url}") %></a></td>
						<% else %>
							<td><a href="http://www.hoos.in/users/<%= g.slug %>"><%= image_tag("#{g.avatar.url(:raster)}") %></a></td>
						<% end %>
						<td width="60px"><a href="http://www.hoos.in/users/<%= g.slug %>"><%= g.name %></a></td>
					</a>
				</tr>
			</table>
			<% end %>
			<% if right.count.odd? %>
				<table style="padding: 5px 5px 0px 20px">
					<tr>
						<td></td>
						<td width="60px"></td>
					</tr>
				</table>
			<% end %>
	</td>
</tr>