<td style="padding:20px 0 20px 40px">
	<table>
		<tr>
			<td><a href="http://www.hoos.in/users/<%= @rsvping_user.slug %>"><img src="<%= @image_url %>" style="border-radius:6px; margin-right:5px" /></a></td>
			<td style="font-size:16px;"><a href="http://www.hoos.in/users/<%= @rsvping_user.slug %>"><%= @rsvping_user.name %></a> joined .in on your idea</td>
		</tr>
		<%= render partial: 'event_details', locals: { :event => @event, :user => @user } %>
	</table>
</td>