<td style="padding:20px 0 20px 40px">
	<table>
		<tr>
			<td><a href="http://www.hoos.in/users/<%= @follower.slug %>"><img src="<%= @image_url %>" style="border-radius: 6px; margin-right: 5px;" /></a></td>
			<td style="font-size:16px;">
				Your .in-mate, <strong><a href="http://www.hoos.in/users/<%= @follower.slug %>"> <%= @follower.name %></a> </strong> brought you into their .inner-circle.
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td style="color:gold;"><i class="icon-star"></i></td>
			<td style="padding:20px 40px 0 0px;font-size:14px;line-height:1.2;">
				<%= @follower.name %> now will receive notifications when you <strong>create ideas</strong>, and see <strong>your .in's</strong> higher on your home screen
			</td>
		</tr>
	</table>
</td>

