<td style="padding:20px 0 20px 40px">
	<table>
		<tr>
			<td><a href="http://www.hoos.in/users/<%= @inmate.slug %>"><img src="<%= @image_url %>" style="border-radius:6px;-moz-border-radius:6px;-webkit-border-radius: 6px; margin-right: 5px;" /></a></td>
			<td style="font-size:16px;">
				<strong><a href="http://www.hoos.in/users/<%= @inmate.slug %>"> <%= @inmate.name %></a> </strong> has made you their .in-mate on hoos.in.
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td style="color:gold;"><i class="icon-star"></i></td>
			<td style="padding:20px 40px 0 0px;font-size:14px;line-height:1.2;">
				<p>As .in-mates you will be able to see each other's .ins that are not private.</p>
				<p>If this is a mistake and you do not know <%= @inviter.first_name %>, visit their profile and click on the grey and red ignore .in-mate button.</p>
			</td>
		</tr>
	</table>
</td>