<div class="event shield idea" data-event-id='<%= event.id %>'>
	<div class="shield_top">
		<div class="rsvp_check">
			<%= render :partial => "users/rsvp_check", :locals => { :event => event } %>
		</div>
	</div>
	<%= link_to event_path(event) do %>
			<div class="promo_img">
				<div class="event_blerb black-to-transparent">
					<div class="title"> <%= raw(event.visibility_icon) %><%= event.title %></div>
				</div>				
			<% if event.has_image? %>
				<%= image_tag event.image(:medium) %>
			<% end %>
			</div>
			<u class="creator">
				<% if user_signed_in? %>
					<% if current_user.is_friends_with?(event.user) %>
						<i class="icon-star" style="color:gold;"></i>
					<% elsif current_user.is_intros_with?(event.user) %>
						<i class="icon-star" style="color:lightgrey;"></i>
					<% end %>
				<% end %>
				<%= event.user.first_name_with_last_initial %>
			</u>
		<%= render :partial => 'shared/guest_count', :locals => { :event => event } %>		
<% end %>

	<% if user_signed_in? %>
	<%= render partial: 'events/time', collection: event.future_instances, as: :instance %>
		<div id="timeStatus">
		<% if event.one_time? %>
			<div class="add_time">one time idea</div>
		<% end %>
		</div>
	<% end %>
</div>