<div id="find_friends">
	<% if false %>
<% if @member_friends.any? %>
	<div class="member_friends">
	<% if @me['location'].nil? %>
		<h1>Your hoos.in friends: Add your <%= link_to "current city", "http://answers.yahoo.com/question/index?qid=20081007104826AAbKEzP" %> on Facebook to show nearby friends.</h1>
	<% else %>
		<h1>Your hoos.in friends in <%= current_user.authentications.select{|auth| auth.provider == "Facebook"}.first.city %></h1>
	<% end %>
		<div class="invite_friends">
			<%= render partial: 'shared/user', collection: @member_friends, as: :user %>
	</div>

	<hr>
<% end %>
<% end %>

<% if @invite_friends.any? %>
	<% if @me['location'].nil? %>
		<h1>To see your facebook friends add your current location on Facebook to show nearby friends.</h1>
	<% else %>
		<h1>Your facebook friends in <%= current_user.authentications.select{|auth| auth.provider == "Facebook"}.first.city %></h1>
	<% end %>
	<div class="invite_friends">
		<% @invite_friends.each do |inf| %>
		  <div class="event_show_friend friend">
			  <%= image_tag("#{inf['pic_square']}", class: "profile_picture", alt: "#{inf['uid']}" ) %>
 				<div id="friend_name"><%= inf['name'] %></div>
 				<div id="friend_button" class="btn btn-success invite" alt="<%=inf['uid']%>" style="display:none;">
 					Invite</div>
		 	</div>
		<% end %>
	</div>
<% end %>
</div>

<script>
$(document).ready(function() {
	$("#invite_all_friends").click(function(){
	  FB.login(function(response) {
	    if(response.authResponse) {
	      window.location = "/share_all_fb_friends"
	      }
	  }, {scope: "publish_stream"});
	});

	$("div.invite").click(function(){
		uid = $(this).attr('alt');	
		FB.ui(
	  {
	    method: 'send',
	    to: uid,
	    name: 'Join hoos.in',
	    link: 'http://www.hoos.in',
	    picture: 'https://s3.amazonaws.com/hoosin-production/logos/icon.png',
	    description: 'Do Great Things With Friends'
	  }
	 );
	});
});
</script>

