<%= render 'profile' %>
<%= render 'inmates_bar' %>
	<div class="mini_calendar_days">
	<% for i in 0..60 %>
		<div class="each_day clearfix">		
			<div class="date_bar marker clearfix" id="today">
				<%= (Time.zone.now.to_date + (i)).strftime("%A %b %e") %>
			</div>
			<div class="day_container clearfix" data-date="<%= Time.zone.now.to_date + i %>">
			</div>
		</div>
	<% end %>
	</div>
	<%= render partial: 'users/mini_event', collection: @times, as: :event %>