<div class="mini_event instance"
	data-event-id='<%= event.id %>'
	data-date='<%= event.starts_at.to_date %>'>
	<%= link_to event.event_parent, class:"#{ !current_user.rsvpd?(event) ? 'not_rsvpd' : '' }" do %>
		<div class="promo_img">
			<% if event.has_image? %>
				<img src="<%= event.image(:medium) %>"/>
			<% end %>
		</div>
		<div class="mini_event_details">
			<div class="event_time">			
				<%= event.mini_start_date_time %> - <%= event.nice_duration %>
			</div>
			<div class="event_blerb">
				<%= event.title %>
			</div>
			<div class="inviter">
				by: <%= event.user.first_name_with_last_initial %>
			</div>
		</div>
	<%= render :partial => 'shared/guest_count', :locals => { :event => event } %>
<% end %>	
	<% if !current_user.rsvpd?(event) %> <!-- USER IS NOT RSVPD -->
		<div class="mini_in_out">
			<%= form_for(current_user.rsvps.build(plan_id: event.id), remote: true) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "0" %>
			  <%= f.submit "#{event.starts_at.blank? ? 'nah' : 'out'}", class:"btn rsvp_button btn_stop_viewing" %>
			<% end %>
			<%= form_for(current_user.rsvps.build(plan_id: event.id), remote: true) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "1" %>
			  <%= f.submit "#{event.is_parent? ? '.into' : '.in'}", class:"btn rsvp_button btn-rsvp" %>
			<% end %>
		</div>
	<% end %>
</div>

