<div class="home_profile clearfix">	
<% if @user != current_user %>
	<%= link_to "<< back", root_path, class:"back_link" %>
<% end %>
	<%= render 'inmate_or_friend' %>
	<%= large_profile_picture(@user) %>
	<div class="show_name"><%= @user.name %></div>
	<% if @user != current_user %>
		<div class="show_city"><%= @user.city.name %></div>
	<% end %>
	<div class="profile_stats" id="showInmates" data-slug=<%= @user.slug %>>
		<ul> 
			<li>
				<div><i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= @user.intros_count %> </div>
				<div>.intros</div>
			</li>			
			<li>
				<div><i class="icon-star friend_star"></i> <span id="friendCount"><%= @user.friends_count %> </div>
				<div>stars</div>
			</li>
			<li>
				<div><i class="icon-star friend_star"></i> <%= @star_count %></div>
				<div>starred by</div> 
			</li>
		</ul>
	</div>
</div>