<div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 0;top: 0;"></div>
<div class="vendor_dash">
	<div class="profile">
		<%= large_profile_picture(@user) %>
		<div class="name"><%= @user.name %></div>
		<div class="profile_stats">
			<ul>
				<li><span class="only"> city-wide ideas </span><i class="icon-bullhorn blue"></i><%= @user.events.where('is_public = ?', true).count %></li>
				<li><span class="only"> private ideas </span><i class="icon-user green"></i><%= @user.events.where('is_big_idea = ? AND is_public = ?', false, false).count %></li>				
				<li><span class="only"> crowd ideas </span><i class="icon-cloud orange"></i><%= @user.events.where('is_big_idea = ?', true).count %></li>
				<li><span class="only"> .invites </span><i class="icon-envelope-alt purple"></i> <%= @user.invitations.count %></li>
			</ul>
		</div>
	</div>
	<% if user_signed_in? %>
	<div class="future_events">
	<h3>Upcoming Ideas</h3>
		<ul>
			<% @events.each do |e| %>
				<%= render partial: 'shalendar/activity_event', locals: { :event => e } %>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="past_events">
		<h3>Past Ideas</h3>
		<ul>
			<% @past_events.each do |pe| %>
				<%= render partial: 'shalendar/activity_event', locals: { :event => pe } %>
			<% end %>
		</ul>
	</div>
</div>