<% if @user.present? %> 
	<% provide(:title, " | #{@user.name}" ) %>
	<div class="container_wrapper">
		<% unless @user.background_file_size.blank? %>
			<div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 330px;top: 60px;"></div>
		<% end %>
		<% if user_signed_in? %>
				<div class="home-loader" style="display:none;" id="ajaxLoader">
					<%= image_tag 'ajax-loader2.gif' %>
				</div>
				<div id="invitedIdeasContainer">
					<%= will_paginate @invited_ideas %>
					<div class="idea_container open">
						<% if @user == current_user %>
							<% if @user.sign_in_count == 1 && @invited_ideas.blank? %>
								<%= render 'explanation' %>
							<% else %>
								<%= render partial: "users/event", collection: @invited_ideas %>
							<% end %>
						<% else %>
							<%= render partial: "users/event", collection: @ins %>
						<% end %>
					</div>
				</div>
				<div id="invitedTimesContainer" style="display:none;">
					<div class="idea_container">
					</div>
				</div>
				<div id="insContainer" sytle="display:none;">
					<div class="idea_container">
					</div>
				</div>
				<div id="plansContainer" sytle="display:none;">
					<div class="idea_container">
					</div>
				</div>
				<div id="outsContainer" sytle="display:none;">
					<div class="idea_container">
					</div>
				</div>
<!-- 				<div id="oversContainer" sytle="display:none;">
					<div class="idea_container">
					</div>					
				</div> -->
		<% else %>
			<div id="insContainer" class="idea_container">
				<%= render partial: "users/event", collection: @ins %>
			</div>
		<% end %>
	</div>
<% end %>