<% if @user.present? %> 
	<% provide(:title, " | #{@user.name}" ) %>
	<div class="mini_calendar">
		<%= render 'mini_calendar' %>
	</div>
	<% if user_signed_in? %>
		<div class="invites_ins">
			<% if @user == current_user  %>
				<span id="invites"><span id="toggleInvites"><span id="invites_count"><%= @invites.count %></span> .invites</span></span> | <span id="ins" class="unselected"><span id="toggleIns"><span id="ins_count"><%= @ins_count %></span> .ins</span></span>
			<% else %>
				<span id="ins"><%= @user.first_name_with_last_initial %> has <span id="ins_count"></span> current <span id="toggleIns">.ins</span></span>
			<% end %>
		</div>
	<% end %>
	<div class="container_wrapper">
		<% unless @user.background_file_size.nil? %>
			<div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 330px;top: 60px;"></div>
		<% end %>

		<div class="home_idea_container clearfix">
			<% if user_signed_in? %>
				<% if @user == current_user %>
					<div id="invitesContainer" class="idea_container">
						<%= render partial: "users/event", collection: @invites %>
					</div>
					<div id="insContainer" class="idea_container" style="display:none;">
					</div>
				<% else %>
					<div id="insContainer" class="idea_container">
						<%= render partial: "users/event", collection: @ins %>
					</div>
				<% end %>
			<% else %>
				<div id="insContainer" class="idea_container">
					<%= render partial: "users/event", collection: @ins %>
				</div>
			<% end %>
		</div>
		<%= render 'explanation' %>
	</div>
<% end %>

<% if !user_signed_in? %>
<script>
// INSTAGRAM HASHTAG FEED
</script>
<% end %>