<div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 0;top: 0;"></div>
<div class="vendor_dash">
	<div class="profile">
		<%= large_profile_picture(@user) %>
		<div class="show_name"><%= @user.name %><br><span style="font-size:14px;position:relative;bottom:20px;"><%= @user.city.name %></span></div>
		<% unless current_user == @user %>
			<div class="show_friend">
				<%= render  :partial => 'events/follow_form', :locals => { :user => @user } %>
			</div>
		<% end %>
		<div class="profile_stats">
			<ul>
				<li><span class="only"> ideas </span><i class="icon-envelope blue"></i><%= @user.events.count %></li>				
				<% @guest_count = 0
						@user.events.each do |e|
      				@guest_count += (e.guests.count -1)
    				end
    		%>
				<li><span class="only"> guests </span><i class="icon-group purple"></i> <%= @guest_count %></li>
			</ul>
		</div>
	</div>

	<% if user_signed_in? && (current_user == @user || current_user.is_friends_with?(@user)) %>
	<div class="future_events">
	<h3>Upcoming Ideas</h3>
		<ul>
			<% @events.each do |e| %>
				<%= render partial: 'shalendar/activity_event', locals: { :event => e } %>
			<% end %>
		</ul>
	</div>

	<div class="past_events">
		<h3>Past Ideas</h3>
		<ul>
			<% @past_events.each do |pe| %>
				<%= render partial: 'shalendar/activity_event', locals: { :event => pe } %>
			<% end %>
		</ul>
	</div>
<% end %>
</div>