<% provide(:title, "Settings") %> 
<div id="settings">
  <br>
<h2>General Settings</h2>
  <div id="personal">
    <%= big_profile_picture(current_user) %>
    <% if current_user.authentications.find_by_provider("Facebook") == nil %>
      <p><a href="http://gravatar.com/emails">Add or Update Gravatar Picture</a></p>
    <% end %>
    <div id="authentications">
      <% if current_user.authentications.any? == true %>
        <% current_user.authentications.each do |a| %>
          <%= a.provider %>
          <%= link_to 'Destroy', a, confirm: 'Are you sure?', method: :delete %>
        <% end %>
      <% else %>
        <div class="fb_button">
          <div id="auth-status">
            <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
          </div>
        </div>
        Add Facebook Authentication
      <% end %>
    </div>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <p>
      <%= f.check_box :require_confirm_follow, checked: current_user.require_confirm_follow %> 
      <label for="require_confirm_follow"><strong>Authorize Viewers</strong> - Confirm before anyone can view your Calenshare</label>
    </p>
    <br>

    <h2>Email Notification Settings</h2>
    <p>
      <%= f.check_box :daily_digest %>
      <label for="daily_digest"><strong>Stay in touch</strong> - Recieve daily summaries of what your viewing calendars are planning.</label>
    </p>
    <br>
    <p>
      <%= f.check_box :notify_noncritical_change %>
      <label for="notify_noncritical_change"><strong>Details, Details</strong> - Recieve notification upon minor changes to plans.</label>
    </p>
    <p>
      <%= f.check_box :notify_event_reminders %>
      <label for="notify_event_reminders"><strong>Remind me, please</strong> - Recieve reminders for your upcomming plans.</label>
    </p>
    
    
      <h2>Personal Settings</h2>
    <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>





    <div><%= f.submit "Update", :class => "btn btn-warning" %></div>
  <% end %>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "red" %>.</p>
</div>
