<% provide(:title, "Settings") %> 
<aside>
<%= render 'layouts/logo' %>
  <div id="personal">
    <%= big_profile_picture(current_user) %>
    <% if current_user.authentications.find_by_provider("Facebook") == nil %>
      <p><a href="http://gravatar.com/emails">Add or Update Gravatar Picture</a></p>
    <% end %>
    <strong>Authentications</strong>
    <% if current_user.authentications.any? == true %>
    <p>
      <% current_user.authentications.each do |a| %>
        <table>
          <tr>
            <td width="100px"><%= a.provider %></td>
            <td width="50px"><%= link_to raw("<i class='icon-remove-sign'></i>"), a, confirm: 'Are you sure you want to remove your Facebook authentication?', method: :delete %></td>
          </tr>
        </table>
      <% end %>
    </p>
    <% else %>
      <div class="fb_button">
        <div id="auth-status">
          <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
        </div>
      </div>
      Add Facebook Authentication
    <% end %>
  </div>
</aside>

<div id="settings">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <h2>General Settings</h2>
    <%= devise_error_messages! %>
    <p>
      <%= f.check_box :require_confirm_follow, checked: current_user.require_confirm_follow %> 
      <label for="require_confirm_follow"><strong>Authorize Subscribers</strong> - Confirm each subscriber before they can view your ideas. </label>
    </p>
    <p>
      <%= f.check_box :post_to_fb_wall %>
      <label for="post_to_fb_wall"><strong>Social Graph</strong> - Have hoos.in post social events you create to your Facebook wall.</label>
    </p>
    <br>

    <h2>Email Notification Settings</h2>
    <p>
      <%= f.check_box :allow_contact %>
      <label for="allow_contact"><strong>Stay in touch</strong> - Recieve news and (infrequent) announcements from hoos.in </label>
    </p>
    <p>
      <%= f.check_box :notify_event_reminders %>
      <label for="notify_event_reminders"><strong>Remind me, please</strong> - Recieve reminders for your upcomming plans.</label>
    </p>
    
    
      <h2>Personal Settings</h2>
    <div><%= f.label :name %><br />
    <%= f.text_field :name %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :city %><br />
    <%= f.select :city, @cities %></div>

    <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Update", :class => "btn btn-warning" %></div>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "fadeInRed" %>.</p>
  <% end %>

</div>