<% provide(:title, " | Settings") %> 
<div id="settings">
  <%= devise_error_messages! %>
  <div id="personal">
    <% if current_user.authentications.find_by_provider("Facebook") == nil && current_user.avatar.present? == false %>
      <p><a href="http://gravatar.com/emails">Add or Update Gravatar Picture</a></p>
    <% end %>
    <% unless current_user.vendor? %>
      <% unless current_user.authentications.any? == true %>
        <p><strong>Authentications</strong></p>
        <p>Add Facebook Authentication</p>
        <div class="fb_button">
          <div id="auth-status">
            <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login"></span></a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <h2>Personal Settings</h2>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "off" %></div>

    <div><%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "off" %></div>

    <div><%= f.label :profile_picture %><br />
    <%= f.file_field :avatar %></div>
    
    <div><%= f.label :background_image %><br />
    <%= f.file_field :background %></div>

    <div><%= label_tag :city_name %><br />
    <%= text_field_tag :city_name, nil, value: "#{resource.city.name}", data: { autocomplete_source: city_names_path } %></div>
    <br>
<% if false %>
    <%= f.select :city_id, options_from_collection_for_select(City.all, 'id', 'name', '1'), id:"citySelect" %></div>

    <div><%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Central Time (US & Canada)" %></div>
<% end %>
    <% if current_user.authentications.find_by_provider("Facebook") == nil %>
      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>
    <% end %>
    
    <h2>General Settings</h2>
    <p>
      <%= f.check_box :require_confirm_follow %> 
      <label for="require_confirm_follow"><strong>Confirm Friends</strong> - Confirm each friend before they can view your ideas. </label>
    </p>
    <p>
      <div class="family_filter">
        <%= f.label "Family Friendly Filter" %><br>
        <i class="icon-home questionMark"></i>
        <%= f.check_box :family_filter, class: "switch" %>
      </div>
    </p>         
    <br>

    <h2>Email Notification Settings</h2>
    <p>
      <%= f.check_box :email_comments %>
      <label for="email_comments"><strong>Keep those Comments Coming </strong> Receive emails when a comment is posted to an idea you've joined.</label>
    </p>
    <p>
      <%= f.check_box :follow_up %>
      <label for="follow_up"><strong>Follow Up</strong> - When you meet new people at an idea, automatically recieve an email the next day with a link to friend them on hoos.in. </label>
    </p>
    <p>
      <%= f.check_box :notify_event_reminders %>
      <label for="notify_event_reminders"><strong>Remind me, Please</strong> - Recieve reminders for your upcoming plans.</label>
    </p>
    <p>
      <%= f.check_box :digest %>
      <label for="digest"><strong>3-Day Digest</strong> - Receive an email once every three days when your friends have shared new ideas with you. </label>
    </p>
    <p>
      <%= f.check_box :allow_contact %>
      <label for="allow_contact"><strong>Stay in touch</strong> - Receive news and (infrequent) announcements from hoos.in </label>
    </p>

    <div><%= f.submit "Update", :class => "btn btn-warning btn-large" %></div>
    <% end %>

    <p><%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure you would like to cancel? This will delete all future and past hoos.in ideas you've created and will remove all friendships.", :method => :delete, :class => "fadeInRed" %></p>

    <% if false %>
    <% if current_user.authentications.any? == true %>
    <p>Remove Authentications</p>
    <p>
      <% current_user.authentications.each do |a| %>
      <p>
        <table>
          <tr>
            <td width="100px"><%= a.provider %></td>
            <td width="50px"><%= link_to raw("<i class='icon-remove-sign'></i>"), a, confirm: 'Are you sure you want to remove your Facebook authentication?', method: :delete %></td>
          </tr>
        </table>
      </p>
      <% end %>
    </p>

    <% if current_user.vendor? %>
    <p>
      <%= link_to raw("<i class='icon-remove-sign'></i> Remove Vendor Privileges"), downgrade_path, confirm: 'Are you sure? You will no longer be able to post community ideas or represent your brand.' %>
    </p>
    <% else %>
    <p>
      <%= link_to "Become a Venue User", new_card_path %>
    </p>
    <% end %>

    <% end %>
    <% end %>
</div>