<% provide(:title, " | Join") %> 
<div id="signUp" class="sign_up part">
  <h2> Sign up </h2>
    <div class="login_facebook">
    <div id="auth-status">
        <a href="#" id="auth-loginlink" class="fb-login-button"><span class="btn_fb_login links_fb_btn"></span></a>
    </div>
  </div>

  <div class="or">- or -</div>
<%= form_for(resource, 
                      :as => resource_name, 
                      :url => registration_path(resource_name),
                      :html => { multipart: true, id: "registration_form" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name, "full name*" %><br />
  <%= f.text_field :name, class: "required", autocomplete: "off" %></div>

  <div><%= f.label :email, "email*" %><br />
  <%= f.email_field :email, class: "required email", autocomplete: "off" %></div>

  <div><%= f.label :picture, "profile picture*" %><br />
  <%= f.file_field :avatar, class: "required" %></div>

  <div><%= label_tag :city_name, "city* (choose from autocomplete list)" %><br />
  <%= text_field_tag :city_name, nil, data: { autocomplete_source: city_names_path }, class: "required" %></div>
  <br>

  <div><%= f.label :password, "password*" %><br />
  <%= f.password_field :password, class: "required" %></div>

  <div><%= f.check_box :terms, checked: true, class:'required' %><%= link_to "Terms & Privacy", terms_path, :html => { :target => "_blank" } %></div><br/>

  <%= f.hidden_field :vendor, value: false %>

  <div><%= f.submit "Sign up", :class => "btn btn-large btn-primary" %></div>
<% end %>
<% if false %>
<%= render :partial => "devise/shared/links" %>
<% end %>
</div>