<div id="view_search" class="user_search">
  <div class="fb-icon">
    <% if session[:access_token] %>
      <%= link_to find_friends_path, :remote => true, class: "find_friends fancybox.ajax" do %>
        <%= image_tag "social/fb.png", :width => "20", title: "Find Friends through Facebook" %>
      <% end %>
    <% else %>
      <div class="fb_button" title="add Facebook to Find Friends">
        <div id="auth-status">
          <a href="#" id="auth-loginlink" class="fb-login-button" ><%= image_tag "social/fb.png", :width => "30" %></a>
          </div>
      </div>
    <% end %>
  </div>
<%= form_tag({:controller => 'shalendar', :action => 'search'}, {id: 'search_form', remote: true }) do %>
  <%= text_field_tag :search, params[:search], id: "user_search_field", placeholder:"Search For Friends", autocomplete: "off" %>
  <input type="submit" id="btn_user_search" class="fa-input btn-user-search" value="&#xf002;" title="Search for Friends">
<% end %> 
</div>