<div class="guest_count clearfix">
	<% if user_signed_in? %>
		<% if !current_user.in?(event) %>
		<div style="padding: 10px;">
			<i class="icon-star friend_star"></i> <span id="friendCount"><%= event.friends_in_count(current_user) %></span>
			<i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= event.inmates_in_count(current_user) %>
			<i class="icon-user"></i> <%= event.guest_count %>
		</div>
		<% else %>
			<div class="facepile">
				<i class="icon-star friend_star"></i> <span id="friendCount"><%= event.friends_in_count(current_user) + 1 %></span> 
				<span title="<%= current_user.first_name_with_last_initial %>"><%= raster_profile_picture(current_user) %></span>
				<% event.friends_in(current_user).each do |guest| %>
					<span title="<%= guest.first_name_with_last_initial %>"><%= raster_profile_picture(guest) %></span>
				<% end %>
			</div> 
			<div class="facepile">
				<i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= event.inmates_in_count(current_user) %>
				<% event.inmates_in(current_user).each do |guest| %>
					<span title="<%= guest.first_name_with_last_initial %>"><%= raster_profile_picture(guest) %></span>
				<% end %>
			</div> 
		<% end %>
	<% end %>
</div>