<span class="guest_count">
	<% if user_signed_in? %>
		<% @friends_in_count = event.friends_in(current_user).count %>
		<% @inmates_in_count = event.inmates_in(current_user).count %>
		<% if !current_user.in?(event) %>
			<i class="icon-star friend_star"></i> <span id="friendCount"><%= @friends_in_count %></span> / <i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= @inmates_in_count %> / <%= event.guest_count %>
		<% elsif current_user.in?(event) %>
			<i class="icon-star friend_star"></i> <span id="friendCount"><%= @friends_in_count %></span> / <i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= @inmates_in_count %>
		<% end %>
	<% end %>
</span>