<div id="eventOptions">
  	<% if @event.blank? %>
  		<div class="visibility">
  			<label>hoos.invited?</label>
  			<div id="visibilityButtonSet">
	  			<%= f.radio_button :visibility, '3' %><label for="event_visibility_3"><i class="icon-bullhorn"></i> my whole city</label>
	  			<%= f.radio_button :visibility, '2' %><label for="event_visibility_2"><i class="icon-star inmate_star"></i> friends</label>
	  			<%= f.radio_button :visibility, '1' %><label for="event_visibility_1"><i class="icon-star friend_star"></i> stars</label>
	  			<%= f.radio_button :visibility, '0' %><label for="event_visibility_0"><i class="icon-eye-close"></i> private</label>
  			</div>
  		</div>
      <div class="add_date_time">
				<input type="checkbox" id="addDateTime"/> <label for="addDateTime" class="pointer"><i class="icon-time"></i> Add a Time </label>
			</div>
		<% end %>
		<!-- ADD TIME -->
		
	<% if (@event.present? && @event.starts_at.present?) %>
		<div id="dateTime">
	<% else %>
		<div id="dateTime" style="display:none;">
	<% end %>
      <div class="starts_at">
        <%= label :starts_at, "When does it start?" %>
	      <% if @event.present? %>
	        <%= f.text_field :chronic_starts_at, id: "datetime", class: "starts_at required", autocomplete: "off", value:"#{@event.starts_at ? start_time(@event) : ''}" %>
	      <% else %>
	        <%= f.text_field :chronic_starts_at, id: "datetime", class: "starts_at required", autocomplete: "off" %>
	      <% end %>
      </div>
      <div class="duration">
        <%= label :duration, "Hours?*" %>
        <%= f.text_field :duration, autocomplete: "off", class:"required"  %>
      </div>
      <div class="one_time_bool">
    		<%= f.check_box :one_time %> <label for="event_one_time" class="pointer"><i class="icon-copy"></i> this idea is happening only one time.</label>
  		</div>
    </div>

<div class="hidden_options">
	<div id="addimgp" class="open">
	  <div><%= f.label :display_image %></div>
	 	  <i class="icon-link"></i><%= f.text_field :promo_url, autocomplete: "off", placeholder: "Image URL" %><br>
	  or<br>
	  	<i class="icon-camera-retro"></i><%= f.file_field :promo_img %>
	</div>
	
	<div id="addvidp" style="display:none;">
		<div><%= f.label :event_video %></div>
		<i class="icon-facetime-video"></i><%= f.text_field :promo_vid, autocomplete: "off", placeholder: "You Tube URL" %>
	</div>

	<div id="addmapp" style="display: none;">
	  <%= label_tag "Location" %><br/>
	  <i class="icon-map-marker"></i><%= f.text_field :address, autocomplete: "off" %>
	</div>

	<div id="addLinkp" style="display: none;">
		<%= label_tag "Link" %></br>
		<i class="icon-link"></i> http://<%= f.text_field :link, autocomplete: "off" %>
	</div>

	<div id="addcostp" style="display:none;">
    <%= f.label "Cost" %><br>
    <i class="icon-money"></i><div class="dollar">$</div><%= f.text_field :price, :class => 'input-mini', autocomplete: "off", placeholder: "0.00" %>
    <% if false %>
    	<% if current_user.bank_account_uri %>
    		<%= f.check_box :require_payment %> <%= f.label "Require Payment to Join" %>
    	<% else %>
    		<%= link_to "Enable ticketing and payments", new_merchant_path, target: "_blank" %>
    	<% end %>
    <% end %>
	</div> 
</div>

</div>

<div>
	<ul>
 		<li id="addimg" style="color:#EB8325;"><i class="icon-camera-retro"></i></li>
 		<li id="addvid"><i class="icon-facetime-video"></i></li>
	  <li id="addLink"><i class="icon-link"></i></li>
	  <li id="addmap"><i class="icon-map-marker"></i></li>
	  <li id="addcost"><i class="icon-money"></i></li>
	</ul>
</div>