<div class="share_after_rsvp part">
	<div id="close" class="fadeInRed"><i class="icon-remove"></i></div>
	<h1><strong>You're .in</strong></h1>
	<h1><strong>What:</strong> <%= event.title %></h1>
	<% if event.starts_at.present? %>
	<h1><strong>When:</strong> <%= start_time(event) %></h1>
    <div class="calendars clearfix">
      <div>
        <p>
          <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%= url_encode(@event.title) %>&dates=<%= @event.url_starts_at %>/<%= @event.url_ends_at %>&details=<%= url_encode(@event.description) + " - " + event_url(@event) %>&location=<%= url_encode(@event.address) %>&trp=true&sprop=www.hoos.in%2Fideas%2F<%= @event.id %>&sprop=name:<%= url_encode(@event.title) %>" target="_blank" title="Add to Your Google Calendar">
            <%= image_tag "gcalendar.png", width: '30', title: "Google Calendar" %>
          </a>
        </p>
        <p>Google Calendar</p>
      </div>
      <div>
        <p>
          <%= link_to event_path(event), :format => :ics do %>
            <%= image_tag "ical-icon.png", width: '30', title: "iCal or Outlook" %>
          <% end %>
        </p>
        <p>iCal and Outlook</p>
      </div>
    </div>
    <h3>add to your calendar</h3>
  <% elsif event.has_future_instance? %>
    <% @next_instance = event.next_instance %>
    <h1><strong>When:</strong> <%= start_time(@next_instance) %></h1>

    <% if !current_user.rsvpd?(@next_instance) %>
      <div class="rsvp_to_time clearfix">
        <%= form_for(current_user.rsvps.build(plan_id: @next_instance.id), remote: true) do |f| %>
          <%= f.hidden_field :plan_id %>
          <%= f.hidden_field :inout, value: "1" %>
          <%= f.submit "#{@next_instance.is_parent? ? '.into' : '.in'}", class:"btn rsvp_button btn-rsvp" %>
        <% end %>
        <%= form_for(current_user.rsvps.build(plan_id: @next_instance.id), remote: true) do |f| %>
          <%= f.hidden_field :plan_id %>
          <%= f.hidden_field :inout, value: "0" %>
          <%= f.submit "#{@next_instance.is_parent? ? 'nah' : 'out'}", class:"btn rsvp_button btn_stop_viewing" %>
        <% end %>
      </div>
    <% end %>
    <h3>join .in the next time?</h3>
  <% end %>

	<% if event.is_parent_or_future_instance? %>
	  <div class="social_sharing">
	    <div>
	      <%= render partial: 'social/email', locals: { :event => @event } %>
	    </div>
	    <div>
	      <%= render partial: 'social/twitter', locals: { :event => @event } %>
	    </div>
	   	<div>
	      <%= render partial: 'social/facebook', locals: { :event => @event } %>
	    </div>
	    <div>
	      <%= render partial: 'social/pinterest', locals: { :event => @event } %>
	    </div>
      <h3>.invite your friends</h3> 
	  </div>
  <% end %>
  
<% if false %>
  <% if @event.guests_can_invite_friends? || @event.user == current_user && @event.is_parent_or_future_instance? %>
    <div id="invite_raster" class="part clearfix">
      <%= render partial: 'events/invite_raster', :locals => { :event => @event } %>
    </div>
  <% end %>
<% end %>

</div>