<div class="share_after_rsvp part">
	<div id="close" class="fadeInRed"><i class="icon-remove"></i></div>
	<h1><strong>You're <%= event.starts_at.present? ? ".in" : ".interested" %></strong></h1>
	<h1><strong>What:</strong> <%= event.title %></h1>
  <% if event.starts_at.present? %>
    <% if event.starts_at.present? %>
      <% @time = event %>
    <% elsif event.one_time? %>
      <% @time = event.instances.first %>
    <% end %>
	  <h1><strong>When:</strong> <%= start_time(@time) %></h1>
    <div class="calendars clearfix">
      <div>
        <p>
          <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%= url_encode(@time.title) %>&dates=<%= @time.url_starts_at %>/<%= @time.url_ends_at %>&details=<%= url_encode(@time.description) + " - " + event_url(@time) %>&location=<%= url_encode(@time.address) %>&trp=true&sprop=www.hoos.in%2Fideas%2F<%= @time.id %>&sprop=name:<%= url_encode(@time.title) %>" target="_blank" title="Add to Your Google Calendar">
            <%= image_tag "gcalendar.png", width: '30', title: "Google Calendar" %>
          </a>
        </p>
        <p>Google Calendar</p>
      </div>
      <div>
        <p>
          <%= link_to event_path(@time), :format => :ics do %>
            <%= image_tag "ical-icon.png", width: '30', title: "iCal or Outlook" %>
          <% end %>
        </p>
        <p>iCal and Outlook</p>
      </div>
    </div>
    <h3>add to your calendar</h3>
    <ul class="social_buttons">
      <li>
        <%= render partial: 'social/twitter', locals: { :event => @time } %>
      </li>
      <li>
        <%= render partial: 'social/facebook', locals: { :event => @time } %>
      </li>
      <li>
        <%= render partial: 'social/email', locals: { :event => @time } %>
      </li>
    </ul>
          <% if user_signed_in? && @graph.present? %>
        <div id="fbSendInvite">
          <%= image_tag "social/fb.png", :width => "20", title: "Find Friends through Facebook" %> <span class='share_on_fb'>.invite facebook friends</span>
        </div>
        <script>
          document.getElementById('fbSendInvite').addEventListener('click', function(){
            FB.ui({
              method: 'send',
              name: "<%= @event.title %>",
              <% if Rails.env.production? %>
              link: "<%= event_url(@event) %>",
              <% else %>
              link: "http://www.hoos.in",
              <% end %>
              picture: "<%= if @event.has_image? then @event.image(:medium) end %>",
              <% if @event.next_instance.present? %>
              description: "<%= @event.next_instance.start_date_time + ' - ' + @event.url_safe_description %>"
              <% else %>
              description: "<%= @event.url_safe_description %>"
              <% end %>
            })
          });
        </script>
      <% end %>
  <% elsif event.future_instances.any? %>
    <ul class="social_buttons">
      <li>
        <%= render partial: 'social/twitter', locals: { :event => @event } %>
      </li>
      <li>
        <%= render partial: 'social/facebook', locals: { :event => @event } %>
      </li>
      <li>
        <%= render partial: 'social/email', locals: { :event => @event } %>
      </li>
    </ul>
          <% if user_signed_in? && @graph.present? %>
        <div id="fbSendInvite">
          <%= image_tag "social/fb.png", :width => "20", title: "Find Friends through Facebook" %> <span class='share_on_fb'>.invite facebook friends</span>
        </div>
        <script>
          document.getElementById('fbSendInvite').addEventListener('click', function(){
            FB.ui({
              method: 'send',
              name: "<%= @event.title %>",
              <% if Rails.env.production? %>
              link: "<%= event_url(@event) %>",
              <% else %>
              link: "http://www.hoos.in",
              <% end %>
              picture: "<%= if @event.has_image? then @event.image(:medium) end %>",
              <% if @event.next_instance.present? %>
              description: "<%= @event.next_instance.start_date_time + ' - ' + @event.url_safe_description %>"
              <% else %>
              description: "<%= @event.url_safe_description %>"
              <% end %>
            })
          });
        </script>
      <% end %>
    <h1 class="join_next_time">join .in the next time?</h1>
    <% @next_instance = event.next_instance %>
    <h1><strong>When:</strong> <%= start_time(@next_instance) %></h1>

    <% if !current_user.rsvpd?(@next_instance) %>
      <div class="rsvp_to_time clearfix">
        <%= form_for(current_user.rsvps.build(event_id: @next_instance.id), remote: true) do |f| %>
          <%= f.hidden_field :event_id %>
          <%= f.hidden_field :inout, value: "1" %>
          <%= f.submit "#{@next_instance.is_parent? ? '.into' : '.in'}", class:"btn rsvp_button btn-rsvp" %>
        <% end %>
        <%= form_for(current_user.rsvps.build(event_id: @next_instance.id), remote: true) do |f| %>
          <%= f.hidden_field :event_id %>
          <%= f.hidden_field :inout, value: "0" %>
          <%= f.submit "#{@next_instance.is_parent? ? 'nah' : 'out'}", class:"btn rsvp_button btn_stop_viewing" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <ul class="social_buttons">
      <li>
        <%= render partial: 'social/twitter', locals: { :event => @event } %>
      </li>
      <li>
        <%= render partial: 'social/facebook', locals: { :event => @event } %>
      </li>
      <li>
        <%= render partial: 'social/email', locals: { :event => @event } %>
      </li>
    </ul>
            <div id="fbSendInvite">    
      <% if user_signed_in? && @graph.present? %>
        <div id="fbSendInvite">
          <%= image_tag "social/fb.png", :width => "20", title: "Find Friends through Facebook" %> <span class='share_on_fb'>.invite facebook friends</span>
        </div>
        <script>
          document.getElementById('fbSendInvite').addEventListener('click', function(){
            FB.ui({
              method: 'send',
              name: "<%= @event.title %>",
              <% if Rails.env.production? %>
              link: "<%= event_url(@event) %>",
              <% else %>
              link: "http://www.hoos.in",
              <% end %>
              picture: "<%= if @event.has_image? then @event.image(:medium) end %>",
              <% if @event.next_instance.present? %>
              description: "<%= @event.next_instance.start_date_time + ' - ' + @event.url_safe_description %>"
              <% else %>
              description: "<%= @event.url_safe_description %>"
              <% end %>
            })
          });
        </script>
      <% end %>
  <% end %>
</div>