	<div id="addtippingp" class="minmax" style="display:none;">
		<div class='tippingIcon'>
	  	<i class="icon-tasks"></i>
		</div>
	  <u>
	    <%= f.label :max_attendees, "Full" %> <br/>
	    <%= f.text_field :max, :class => 'input-mini', value: 50, autocomplete: "off" %>
	  </u>
	</div>
	
	<div id="addmapp" style="display: none;">
	  <%= label_tag "Location" %><br/>
	  <i class="icon-map-marker"></i><%= f.text_field :address %>
	</div>

	<div id="addLinkp" style="display: none;">
		<%= label_tag "Link" %></br>
		<i class="icon-link"></i> http://<%= f.text_field :link, autocomplete: "off" %>
	</div>

	<div id="addcostp" style="display:none;">
	  <%= f.label "Cost" %><br>
	  <i class="icon-money"></i><div class="dollar">$</div><%= f.text_field :price, :class => 'input-mini', autocomplete: "off", placeholder: "$0.00" %>
	</div>

<div>
	<ul>
 	  <li id="addtipping" title="Add a Tipping/Full"><i class="icon-tasks"></i></li>
	  <li id="addLink" title="Add a Link"><i class="icon-link"></i></li>
	  <li id="addmap" title="Add a Location"><i class="icon-map-marker"></i></li>
	</ul>
</div>