<div class="user">
  <div class="friend_button">
    <% if current_user.is_inmates_or_friends_with?(user) %>
      <%= render  :partial => 'events/follow_form', :locals => { :user => user } %>
    <% end %>
  </div>
  <div class="pic">
    <%= link_to user_path(user) do %>
      <%= image_tag("#{invite_raster_picture(user)}", class: "profile_picture") %>
    <% end %>
  </div>
  <div class="friend_name">
    <%= link_to user_path(user) do %>
      <%= user.name %>
    <% end %>
  </div>
</div>