<div class="user">
  <div class="friend_button follow_form_hook" data-user-id='<%= user.id %>'>
      <%= render  :partial => 'events/follow_form', :locals => { :user => user } %>
  </div>
  <div class="pic">
    <%= link_to user_path(user) do %>
      <%= image_tag("#{invite_raster_picture(user)}", class: "profile_picture") %>
    <% end %>
  </div>
  <div class="friend_name">
    <%= link_to user_path(user) do %>
        <%= user.name %>
    <% end %>
  </div>
</div>