<div class="comments_form part">
	<%= form_for([@event, @event.comments.build]) do |f| %>
	  <div class="field">
	    <%= f.label :content, "Leave an Comment" %><br />
	    <%= f.text_area :content, rows: 2, cols: 20 %>
	  </div>
	  <p><%= f.submit "Leave Comment", class: "btn btn-primary" %></p>
	<% end %>

	<div id="comments">
	  <%= render :partial => 'comments/comment', collection: @comments %>
	</div>
</div>