<div class="comments_form">
	<%= render :partial => 'comments/comment', collection: @comments %>
	<%= form_for([@event, @event.comments.build]) do |f| %>
	  <div class="field">
	    <%= small_profile_picture(current_user) %> <%= f.text_field :content, placeholder: "Leave a Comment" %>
	  </div>
	  <div class="checkbox">
	  	<%= check_box_tag :contact %><i class="icon-envelope-alt" title="Email Comment to All Guests"></i>	    
	  </div>
	  <p><%= f.submit "w", class: "btn btn-primary fa-input" %></p>
	<% end %>
</div>