<div class="comments_form">
	<%= render :partial => 'comments/comment', collection: @comments.reverse %>
	<%= form_for([@event, @event.comments.build]) do |f| %>
	  <%= small_profile_picture(current_user) %> <%= f.text_field :content, placeholder: "Chat with Guests", autocomplete: "off" %>
	 	<%= f.submit 'chat', class: "btn btn-primary", id:"new_comment_button" %>
	<% end %>
</div>