<div id="edit_event">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :what? %><br/>
      <%= f.text_field :title, :placeholder => "What's going on?" %>
    </div>
    <div class="field">
      <%= f.label :where? %><br/>
      <%= f.text_field :location, :placeholder => "Where?" %>
    </div>
    <div class="field" id="address">
      <%= f.label :attach_a_map? %><br/>
      <%= f.text_field :map_location, :id => 'addresspicker_map', :class =>"ui-autocomplete-input", :placeholder => "Search Address" %>
    
    <div id="map"></div>
    </div>
    <div class="field">
     Starts at?<br/>
     <%= f.text_field :chronic_starts_at, :class => "input-large", :placeholder => "7pm? tommorrow at noon? next thursday at 5" %><br/>

     Ends at?<br/>
     <%= f.text_field :chronic_ends_at, :class => "input-large", :placeholder => "7pm? tommorrow at noon? next thursday at 5 in the morning?" %>
    </div>
    <div>
      <span>
        <%= f.label :min_attendees %> <br/>
        <%= f.text_field :min, :class => 'input-mini', :value => "1" %>
      </span>
      <span>
        <%= f.label :max_attendees %> <br/>
        <%= f.text_field :max, :class => 'input-mini', :value => "10000" %>
      </span>
    </div>
    <div class="actions"> 
      <%= f.submit :class => 'btn btn-large btn-warning' %>
    </div>
  <% end %>
</div>