<ul class="event_buttons">
  <% if @event.is_group? %>
    <li>
      <%= link_to event_path(@event.parent) do %>
        <span class="fadeInBlue" title="View Public Idea"><i class="icon-bullhorn"></i></span>
      <% end %>
    </li>
  <% end %>
  <% if (@event.guests_can_invite_friends? || @event.is_public?) && @event.starts_at > Time.now %>
      <!-- SHARE BY EMAIL -->
    <li>
      <a href="mailto:?subject=You in? <%= @event.start_time %>&body=Hey,%0a%0aHere's the idea:%0a%0a    What:  <%= @event.title %>%0a%0a    When:  <%= @event.start_date_time %>%0a%0aYou in? respond here: <%= event_url(@event) %>%0a%0a<%= current_user.first_name %>">
        <span class="fadeInOrange"><i class="icon-envelope-alt" title="Share Idea by Email"></i></span>
      </a>
    </li>

    <!-- #FACEBOOK -->
    <% if user_signed_in? && current_user.fb_user? %>
      <li>
        <%= link_to post_to_own_fb_wall_path(:event_id => @event.id), class:"fadeInFBBlue" , confirm:"Post idea to your wall?", title:"Post to your Facebook wall", remote: true do %>
          <i class="icon-facebook-sign"></i>
        <% end %>
      </li>
    <% end %>

    <!-- #TWITTER -->
    <li>
      <a href="https://twitter.com/share" data-text="<%= @event.title %> #hoosin" data-size="large" data-count="none" class="fadeInTwitter" title="Tweet this idea" target="_blank"><i class="icon-twitter"></i></a>
    </li>


    <% if @event.guests_can_invite_friends? && !@event.short_url.nil? %>
      <li id="textMsg">
        <a href="sms:?body=<%= url_encode(@event.title + " - " + @event.short_url) %>"><span class="fadeInOrange"><i class="icon-phone"></i></span></a>
      </li> 
    <% end %> 
  <% end %>

  <% unless @event.is_group? %>
    <li>
      <%= link_to repeat_event_path(:event_id => @event.id), title:"Repeat Idea", class:"fancybox.ajax", id:"eventRepeat", remote:true do %>
        <span class="fadeInGreen"><i class="icon-repeat"></i></span>
      <% end %>
    </li>
  <% end %>

  <% if @event.user == current_user %> 
    <% unless @event.tipped? %>
    <li>
      <%= link_to event_tip_path(@event), :confirm => "Force your idea to tip? This cannot be reversed and will send notifications to all RSVPs", title: "Tip Manually", :method => :put do %>
        <span class="fadeInOrange"><i class="icon-pushpin"></i></span>
      <% end %>
    </li>
    <% end %>
    <li>
      <%= link_to edit_event_path(@event), title:"Edit Idea" do %>
        <span class="fadeInOrange"><i class="icon-edit"></i></span>
      <% end %>
    </li>
    <li>
      <%= link_to @event, method: :delete, data: { confirm: 'Are you sure? This will send an Email to all RSVPs a cancellation email.' }, title: "Delete Idea" do %>
        <span class="fadeInRed"><i class="icon-trash"></i></span>
      <% end %>
    </li>
  <% end %>
  <% if @event.starts_at.present? && @event.starts_at > Time.now %>
    <li>
      <span class="fadeInBlue" title="Add to Your Calendar"><i class="icon-calendar" id="calendar"></i></span>
    </li>

      <ul id="calendars" style="display:none;">
        <li>
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%= url_encode(@event.title) %>&dates=<%= @event.url_starts_at %>/<%= @event.url_ends_at %>&details=<%= event_url(@event) %>&location=<%= url_encode(@event.address) %>&trp=true&sprop=www.hoos.in%2Fevents%2F<%= @event.id %>&sprop=name:<%= url_encode(@event.title) %>" target="_blank" title="Add to Your Google Calendar">
          <%= image_tag("gcalendar.png", width: '30') %>
        </a>
      </li>
      <li>
        <%= link_to :controller => 'events', :action => "show", :format => :ics do %>
          <%= image_tag "ical-icon.png", width: '30', title: "Add to Your Calendar" %>
        <% end %>
      </li>
    </ul>
  <% end %>
</ul>

<div style="display:none;">
<div class="invite_by_email" id="shareByEmailShow">
  <label>Share by Email</label>
  <%= form_for([@event, @event.email_invites.build]) do |f| %>
    <%= f.text_area :email, rows: "2", placeholder: "Seperate Emails with Comma" %>
    <%= f.text_area :message, rows: "3", placeholder: "Message" %>
    <%= f.submit raw("Send"), class: "btn btn-primary" %>
  <% end %>
</div>
</div>