<div class="container">
<div class="row">
<div class="span6 offset3">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, :placeholder => "What's going on?" %>
    </div>
    <div id="event_details">Add Details</div>
    <div class="field" id="description">
      <%= f.text_area :description, :cols => 30, :rows => 2, :placeholder => "FYIs" %>
    </div>
    <div class="field">
      <%= f.text_field :location, :placeholder => "Where's it goin on at?" %>
    </div>
    <div class="field" id="address">
      <%= f.text_field :map_location, :id => 'addresspicker_map', :class =>"ui-autocomplete-input", :placeholder => "Search Address" %>
    
    <div id="map"></div>
    </div>
    <div class="field">
      <%= f.datetime_select :starts_at %>
      <%= f.text_field :ends_at, :class => 'input-medium', :id => 'eventEndsAt', :placeholder => "ends at?" %>
    </div>
    <div class="min_max_field">
      Min Attendees : <%= f.text_field :min, :class => 'input-mini', :value => "1" %>
      &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      Max Attendees : <%= f.text_field :max, :class => 'input-mini', :value => "10000" %>
    </div>

    <div class="actions"> 
      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>
</div>