<% provide(:title, " | New Idea") %>
<div class="container">
  <div class="row well">
    <div class="col-sm-7">
      <%= form_for @idea, url: events_path do |f| %>
        <% if @idea.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @idea.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <p>   
          <div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
          <%= label :title, "Idea*" %><br/>
          <%= f.text_field :title, id: "new_idea_title", class: "required", placeholder:"What's your idea?", autocomplete: "off" %>
        </p>
        <p>
          <%= label :description, "Details" %><br/>
          <%= f.text_area :description, id: "new_idea_description", placeholder:"Describe your idea. What are you going to do? What should people bring? What should people expect?", autocomplete: "off", onkeypress: "if(event.keyCode==13){return false;}" %>
        </p> 
        <div id="eventOptions">
          <% if @idea.blank? %>
            <div class="visibility">
              <label>hoos.invited?</label>
              <div id="visibilityButtonSet">
                <%= f.radio_button :visibility, '3' %><label for="event_visibility_3"><i class="icon-bullhorn"></i> my whole city</label>
                <%= f.radio_button :visibility, '2' %><label for="event_visibility_2"><i class="icon-star inmate_star"></i> friends</label>
                <%= f.radio_button :visibility, '1' %><label for="event_visibility_1"><i class="icon-star friend_star"></i> stars</label>
                <%= f.radio_button :visibility, '0' %><label for="event_visibility_0"><i class="icon-eye-close"></i> private</label>
              </div>
            </div>
          <% end %>

          <!-- ADD TIME -->
          <p class="clear-both">
            <label>
              <%= f.check_box :one_time %> 
              <i class="icon-copy"></i> this idea is happening only one time.
            </label>
          </p>
          
          <div class="clear-both">
            <%= f.fields_for :instances do |builder| %>
              <%= render 'instance_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "new time", f, :instances %>
          </div>

          <div class="hidden_options">
            <div id="addimgp" class="open">
              <div><%= f.label :display_image %></div>
                <i class="icon-link"></i><%= f.text_field :promo_url, autocomplete: "off", placeholder: "Image URL" %><br>
              or<br>
                <i class="icon-camera-retro"></i><%= f.file_field :promo_img %>
            </div>
            
            <div id="addvidp" style="display:none;">
              <div><%= f.label :event_video %></div>
              <i class="icon-facetime-video"></i><%= f.text_field :promo_vid, autocomplete: "off", placeholder: "You Tube URL" %>
            </div>

            <div id="addmapp" style="display: none;">
              <%= label_tag "Location" %><br/>
              <i class="icon-map-marker"></i><%= f.text_field :address, autocomplete: "off" %>
            </div>

            <div id="addLinkp" style="display: none;">
              <%= label_tag "Link" %></br>
              <i class="icon-link"></i> http://<%= f.text_field :link, autocomplete: "off" %>
            </div>

            <div id="addcostp" style="display:none;">
              <%= f.label "Cost" %><br>
              <i class="icon-money"></i><div class="dollar">$</div><%= f.text_field :price, :class => 'input-mini', autocomplete: "off", placeholder: "0.00" %>
              <% if false %>
                <% if current_user.bank_account_uri %>
                  <%= f.check_box :require_payment %> <%= f.label "Require Payment to Join" %>
                <% else %>
                  <%= link_to "Enable ticketing and payments", new_merchant_path, target: "_blank" %>
                <% end %>
              <% end %>
            </div> 
          </div>
        </div>
          <ul class="inline">
            <li id="addimg" style="color:#EB8325;"><i class="icon-camera-retro"></i></li>
            <li id="addvid"><i class="icon-facetime-video"></i></li>
            <li id="addLink"><i class="icon-link"></i></li>
            <li id="addmap"><i class="icon-map-marker"></i></li>
            <li id="addcost"><i class="icon-money"></i></li>
          </ul>

        <%= f.submit 'Create Idea', :class => 'btn btn-warning' %>

        <% end %>
      </div>
      <!-- PREVIEW -->
      <div class="col-sm-5 idea_preview">
        <%= render partial: 'sample_idea' %>
      </div>
    </div>
  </div>
</div>