<% @guests.each do |guest| %>
  <% if !user_signed_in? || (current_user.following?(guest) || guest == current_user) %>
    <div class="event_show_friend">
      <%= image_tag("#{invite_raster_picture(guest)}", class: "profile_picture") %>
      <div id="friend_name"><%= guest.name %></div>
    </div> 
  <% else %>
    <div class="event_show_friend friend">
    <%= image_tag("#{invite_raster_picture(guest)}", class: "profile_picture") %>
      <div id="friend_name"><%= guest.name %></div>
      <div id="friend_button" style="display:none;">
      <%= render  :partial => 'events/just_follow_form', :locals => { :user => guest } %>
    </div>
  <% end %>
<% end %>