<ul>
  <li id="hoosin_friends_tab"><%= image_tag "iphone_icons/57.png", width:32, id:"hi_invite_img", class:"box" %> <span>hoosin </span>
  </li>
  <% if current_user.fb_user? %>
  	<li id="fb_friends_tab">
			<%= link_to image_tag("social/facebook_32.png"), get_fb_friends_to_invite_path(:event_id => @event.id ), id:"fb_invite_img", remote: true %> <span>facebook </span>
		</li>
  <% end %>
  <li id="ajaxLoader" style="display:none;">
    <%= image_tag "ajax_loader.gif" %>
  </li>
</ul>

<div id="hiFriends">
  <div class="share_with_friends event_label">
    <% if current_user.invited_all_friends?(@event) %>  
      <span id="green" class="fadeInGreen" title=".invited all hoos.in friends"><i class="icon-group"></i> .invite all</span>
    <% elsif @event.guests_can_invite_friends? || @event.user == current_user %>
      <%= link_to invite_all_friends_path(:event_id => @event.id), confirm: "Post idea to wall of all friends in #{current_user.city.name}?" do %>
          <span class="fadeInGreen"title=".invite all hoos.in friends"><i class="icon-group"></i> .invite all</span>
      <% end %>
    <% end %>
  </div>
	<%= render partial: 'events/hoosin_friends', locals: { :friends => @friends, :event => @event } %>
</div>

<div id="fbFriends" class="fb_friends_invite" style="display:none;">
</div>
