<ul>
  <li class="hoosin_friends_tab"><a href="#tabs-1" >hoos.in <%= @friends.count if @friends.any? %></a></li>
  <% unless @invite_friends.nil? %>
  	<li class="fb_friends_tab">
			<a href="#tabs-2" >facebook <%= @invite_friends.count if @invite_friends.any? %></a>
		</li>
  <% end %>
        <div class="share_with_friends event_label">
        <% if current_user.invited_all_friends?(@event) %>  
          <span id="green" class="fadeInGreen" title="Shared with All hoos.in Friends"><i class="icon-group"></i> All</span>
        <% elsif @event.guests_can_invite_friends? || @event.user == current_user %>
          <%= link_to invite_all_friends_path(:event_id => @event.id), confirm: "Post idea to ALL friends in #{current_user.city}?" do %>
              <span class="fadeInGreen"title="Share with All hoos.in Friends"><i class="icon-group"></i> All</span>
          <% end %>
        <% end %>
      </div>
</ul>

<div id="tabs-1">
	<%= render partial: 'events/hoosin_friends', locals: { :friends => @friends, :event => @event } %>
</div>

  <% if current_user.fb_user? %>
<div id="tabs-2" class="fb_friends_invite">
	<%= render partial: 'fb_friends', locals: { :event => @event } %>
</div>
  <% end %>
