<% unless @invited_users.empty? %>
  <% @invited_users.each do |iu| %>
    <table>
      <tr>
        <td title="<%= iu.name %>" width="50"><%= raster_profile_picture(iu) %></td>
        <% if !current_user.following?(iu) %>
        	<td><%= render :partial => 'events/just_follow_form', :locals => { :user => iu } %></td>
        <% end %>
      </tr>
    </table>  
  <% end %>
<% end %>
<% if false %>
<!-- FB_INVITES -->
<% unless @fb_invites.empty? %>
  <% @fb_invites.each do |fbi|  %>
    <table>
      <tr>
        <td title="<%= fbi['name'] %>" width="50"><%= image_tag "#{fbi.fb_pic_url}" %></td>
      </tr>
    </table>  
  <% end %>
<% end %>
<% end %>
<%= render partial: 'email_invites/email_invite', collection: @email_invites %>