<div id="new_event">
 <%= form_for @event do |f| %>

 <%= f.text_area :title, :placeholder => "What's happening? Where? What should they bring?", :rows => 2 %><br/>  

 Starts at?<br/>
 <%= f.text_field :chronic_starts_at, :class => "input-large", :placeholder => "e.g. 7, tommorrow at noon, next thursday at 5" %><br/>

 Duration?<br/>
 <%= f.text_field :duration, :class => "input-mini", :placeholder => "# hours" %>

 <div class="actions"> 
   <%= f.submit 'New Event', :class => 'btn btn-large btn-primary' %>
 </div>
<% end %>
</div>