<div id="event_form">
 <%= form_for @event do |f| %>

  <p>
    <%= label :title, "Idea" %><br/>
    <%= f.text_area :title, :placeholder => "What's happening? Where? What should they bring?", :rows => 2 %>
  </p>  

  <p>
    <%= label :starts_at, "Starts at", name: "starts_at" %><br/>
    <%= f.text_field :chronic_starts_at, :class => "input-large", :placeholder => "7pm, tommorrow at noon, thursday at 5" %>
  </p>

  <p>
   <%= label :duration, "Duration", name: "duration" %><br/>
   <%= f.text_field :duration, :class => "input-mini", :placeholder => "# hours" %>
  </p>
<div>
  <a href="#">Add Map</a>
</div>

<p>
  <h3>How Many People?</h3>
  <span>
    <%= f.label :min_attendees, "Min" %> <br/>
    <%= f.text_field :min, :class => 'input-mini', value: 1 %>
  </span>
  <span>
    <%= f.label :max_attendees, "Full" %> <br/>
    <%= f.text_field :max, :class => 'input-mini', value: 50 %>
  </span>
</p>

<p>
  <p><%= label :visibility, "Event Visibility (in Degrees of Separation)" %></p>
	<%= radio_button_tag :visibility, 'friends_of_friends' %>
	<%= label :friends_of_friends, "Viewers of RSVPs" %>
	<%= radio_button_tag :visibility, 'friends', :checked => true %>
	<%= label :friends, "Viewers" %>
	<%= radio_button_tag :visibility, 'invite_only' %>
	<%= label :invite_only, 'Invite only' %>
</p>

 <div> 
   <%= f.submit 'New Event', :class => 'btn btn-large btn-primary' %>
 </div>
<% end %>
</div>