<% if user_signed_in? %>
	<% unless current_user.vendor? %> <!-- USER IS NOT A VENDOR -->
		<% if !current_user.rsvpd?(event) %> <!-- USER IS NOT RSVPD -->
			<%= form_for(current_user.rsvps.build(plan_id: event.id)) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "1" %>
			  <%= f.submit "#{event.starts_at.blank? ? '.interested' : '.in'}", class:"btn rsvp_button btn-rsvp" %>
			<% end %>
			<%= form_for(current_user.rsvps.build(plan_id: event.id)) do |f| %>
			  <%= f.hidden_field :plan_id %>
			  <%= f.hidden_field :inout, value: "0" %>
			  <%= f.submit "#{event.starts_at.blank? ? 'meh' : 'out'}", class:"btn rsvp_button btn_stop_viewing" %>
			<% end %>
		<% elsif current_user.in?(event) %> <!-- IF RSVPED SHOW IN BUTTON AND TOGGLE OUT-->
			<span id="inButton" class="in_on_idea">
				<i class="icon-ok blue" title="you're .in"></i> you're .in
				<!-- this shouldn't create rsvp-out, it should just destroy rsvp-in -->
				<span id="flakeOut" class="flakeout">
					<%= link_to "(flake out)", rsvp_path(current_user.rsvps.find_by_plan_id(event.id)), :method => :delete %></p>
				</span>
			</span>
		<% elsif current_user.out?(event) %> <!-- IF RSVPD OUT SHOW OUT AND TOGGLE IN -->
			<span id="inButton" class="in_on_idea">
				<i class='icon-remove red' title='you're out'></i> you're out
					<%= form_for(current_user.rsvps.build(plan_id: event.id)) do |f| %>
		  			<%= f.hidden_field :plan_id %>
		  			<%= f.hidden_field :inout, value: 1 %>
					  <%= f.submit "(join .in)", class: "let_me_in" %>
					<% end %>
			</span>
		<% elsif event.ends_at.present? && event.ends_at > Time.zone.now %>
			<span class="rsvp_btn"><!--  ELSE SHOW RSVP BUTTON -->
				<%= form_for(current_user.rsvps.build(plan_id: event.id)) do |f| %>
		  		<%= f.hidden_field :plan_id %>
		  		<%= f.hidden_field :inout, value: 1 %>
		  		<%= f.submit "join.in", class: "btn btn-rsvp rsvp_button", id:"Join" %>
				<% end %>
			</span>
				<% if false %>
					<% if event.require_payment? && current_user.credit_card_uri.blank? %>
						<%= link_to "join.in", new_card_path(:id => event.id), class: "btn btn-rsvp rsvp_button", confirm: "Please confirm that you will join.in this idea?", id:"Join" %>
					<% elsif event.require_payment? && current_user.credit_card_uri.present? %>
						<%= link_to "join.in", confirm_payment_path(:id => event.id), class: "btn rsvp_button btn-rsvp", confirm: "Please confirm that you will join.in this idea", id:"Join" %>
					<% end %>
				<% end %>
		<% end %>
	<% end %>

	<% else %><!--  IF USER NOT SIGNED IN -->
	<% if event.ends_at.present? && event.ends_at < Time.zone.now %>
		(Idea over)
	<% else %>
		<div class="rsvp_btn">
			<%= link_to "#{if event.starts_at.present? then '.in' else '.interesed' end}", new_user_session_path(:event => event.id), class:"btn btn-rsvp rsvp_button", title: "log.in to join.in this idea" %>
			<%= link_to "#{if event.starts_at.present? then 'out' else 'meh' end}", new_user_session_path(:event => event.id), class:"btn rsvp_button btn_stop_viewing ursvp_button", title: "log.in to opt out of this idea" %>
		</div>
	<% end %>
<% end %>