<% if !user_signed_in? %>
	<% if @event.full? %>
		(Idea full)
	<% elsif @event.ends_at < Time.now %>
	<% else %>
		<% if @event.is_public? %>
			<div class="group_button">
				<%= link_to new_user_session_path(:event => @event.id), class:"btn btn-success", title:"log.in to join.in this city-wide idea" do %>
					<i class="icon-copy"></i> Make a Group
				<% end %>
			</div>
		<% end %>
		<div class="rsvp_button">
			<%= link_to "join.in", new_user_session_path(:event => @event.id), class:"btn btn-rsvp rsvp_button", title: "log.in to join.in this idea" %>
		</div>
	<% end %>
<% else %>
	<% unless current_user.vendor? %>
		<% if current_user.rsvpd?(@event) %>
			<div id="inButton">
				<div id="in" class="btn btn-rsvp rsvp_button"><i class="icon-ok-circle"></i> .in</div>
				<div id="flakeOut" style="display:none">
					<%= form_for(current_user.rsvps.find_by_plan_id(@event),
				           html: { method: :delete }) do |f| %>
					  <%= f.submit "Flake Out", class: "btn rsvp_button btn_stop_viewing ursvp_button", confirm: "Are you sure you can't make it?", id:"unRsvp" %>
					<% end %>
				</div>
			</div>
		<% elsif @event.full? %>
			(Idea full)
		<% elsif @event.ends_at < Time.now %>

		<% else %>
			<% if @event.is_public?%>
				<div class="group_button">
				<% if current_user.made_a_group?(@event) %>
		 			<%= link_to event_path(@event.groups.where(:user_id => current_user.id)[0]), class:"btn btn-success" do %>
							<i class="icon-upload-alt"></i> Your Group
					<% end %>
				<% else %>
					<%= link_to make_a_group_path(:event_id => @event.id), id:"makeAGroup", class:"btn btn-success fancybox.ajax", remote: true, title:"Make a Group for this City-Wide Idea" do %>
						<i class="icon-copy"></i> Make a Group
					<% end %>
				<% end %>
				</div>
			<% end %>
			<% unless current_user.made_a_group?(@event) %>
				<% if false %>
					<% if @event.require_payment? && current_user.credit_card_uri.blank? %>
						<%= link_to "join.in", new_card_path(:id => @event.id), class: "btn btn-rsvp rsvp_button", confirm: "Please confirm that you will join.in this idea?", id:"Join" %>
					<% elsif @event.require_payment? && current_user.credit_card_uri.present? %>
						<%= link_to "join.in", confirm_payment_path(:id => @event.id), class: "btn rsvp_button btn-rsvp", confirm: "Please confirm that you will join.in this idea", id:"Join" %>
					<% else %>
					<% end %>
				<% end %>
				<div class="rsvp_button">
					<%= form_for(current_user.rsvps.build(plan_id: @event.id)) do |f| %>
			  		<%= f.hidden_field :plan_id %>
			  		<%= f.submit "join.in", class: "btn btn-rsvp", confirm: "Please confirm that you will join.in this idea", id:"Join" %>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>
<% end %>