<div id="rsvp_form">
	<% if current_user.rsvpd?(@event) %>
  	<%= form_for(current_user.rsvps.find_by_plan_id(@event),
             html: { method: :delete }) do |f| %>
		  <%= f.submit "UnRSVP", class: "btn_stop_viewing" %>
		<% end %>
	<% elsif @event.full? %>
		Event is full
	<% else %>
  	<%= form_for(current_user.rsvps.build(plan_id: @event.id)) do |f| %>
		  <div><%= f.hidden_field :plan_id %></div>
		  <%= f.submit "RSVP", class: "btn-primary" %>
		<% end %>
	<% end %>
</div>