<div class="sample_title">Idea Cover</div>

<div class="event shield" id="sampleEvent">
	<div class="shield_top">
		<div class="event_shield_icons">
			<span class="status_icon">
				<i class="icon-ok-sign blue" title="this tells you you're .into this idea"></i>
			</span>
			<span class="eventIsBigIdea" title="This event needs a crowd!" style="display:none;"><i class='icon-cloud'></i></span>
			<span id="eventVideoIcon" style="display:none;"><i class='icon-facetime-video'></i></span>
	  </div>

	  <div class="rsvp_check" title="friends can choose whether they're .into this idea">
	  	<span class="btn_icon btn_icon_rsvp">.into</span>
	  	<span class="btn_icon btn_stop_viewing">nah</span>
	  </div>
	  <div class="guests">
	  	1 <span id="eventMin"></span>
	  </div>
	</div>

	<div class="event_blerb">
		<% if false %><span class="blerb_pic" title="Created by: <%= current_user.name %>"><%= raster_profile_picture(current_user) %></span><% end %>
		<span class="title eventTitle"><%= @parent ? @parent.title : '' %></span>
	</div>
<% if false %>
	<div class="meter">
		<span style="width: 100%;"><span></span></span>
	</div>
<% end %>

	<div class="promo_img" id="eventPromoImg">
  	<% if @parent  && @parent.has_image? %>
  		<%= image_tag @parent.image(:medium) %>
  	<% end %>
  </div>
	<div class="event_time" <%= @parent ? "" : "style='display:none;'" %>>
		<div class="shield_bottom time" <% params[:action] == 'new_time' ? '' : 'style="display:none"' %> data-event-id="145"><a href="/ideas/alketaljsetlka">	
			<span class="eventStartsAt"><%= @parent.present? && @parent.starts_at.present? ? start_time(@parent) : '' %></span></span>
			<div class="rsvp_check">
				<div class="fadeInGreen" title="friends who are .into this idea can click here to .invite all their friends"><i class="icon-group"></i>
			</div>
		</div>
		
		<div class="guests "><span id="guestCount">1</span><span id="eventMin"></span></div>
	</div>
	</div>
</div>
	<!-- END EVENT SHIELD -->

	<!-- BEGIN EVENT SHOW -->
<div class="sample_title">Idea Page</div>
<div class="event_show clearfix">
			<div id="rsvpForm" class="join_group_buttons">

				<a href="#" class="btn rsvp_button btn-rsvp" title="By clicking here folks will join your ideas">.into</a>
				<a href="#" class="btn rsvp_button btn_stop_viewing" title="Here folks can opt out of this idea">nah</a>
			</div>
		<div class="date"></div>
 
	<div class="event_title">
	  <div class="eventTitle"><%= @parent ? @parent.title : '' %></div>
    <div class="eventIcons">
    	<span id="eventCategory"></span>
      <span id="eventPublicIcon" style="display:none;">
      	<i class="icon-bullhorn" title="Public"></i>
      </span>
      <span id="eventFamilyFriendlyIcon" style="display:none;">
      	<i class="icon-home" title="Family Friendly"></i>
      </span>
      <span class="eventIsBigIdea" title="This event needs a crowd!" style="display:none;"><i class='icon-cloud'></i></span>
    </div>
	</div>

	<div class="when clearfix">
		<div class="cost">
      <i class="icon-money"></i><span id="eventCost"><%= @parent.present? ? @parent.price : '' %></span>
    </div>
    <div class="event_location fadeInOrange" title="Links to Google Maps">
      <i class="icon-map-marker"></i>
      <span id="eventLocation"><%= @parent.present? ? @parent.address : '' %></span>
    </div>
    <div class="event_link fadeInOrange" title="Links to a website for the idea">
      <i class="icon-link"></i>
      <span id="eventLink"><%= @parent.present? ? @parent.link : '' %></span>
    </div>
	</div>
	
	<div id="eventDescription" class="event_description"></div>

  <div class="promo_img" id="eventImage">
  	<% if @parent  && @parent.has_image? %>
  		<%= image_tag @parent.image(:large) %>
  	<% end %>
  </div>

<% if false %>
  <div class="meter"f>
		<span style="width: 100%;"><span></span></span>
	</div>
<% end %>

	<div class="when time clearfix" <% params[:action] == 'new_time' ? '' : 'style="display:none"' %>>	
		<div id="rsvpForm" class="join_group_buttons">
			<a href="#" class="btn rsvp_button btn-rsvp" title="By clicking here folks will join your ideas">.in</a>
			<a href="#" class="btn rsvp_button btn_stop_viewing" title="Here folks can opt out of this idea">out</a>
    </div>  
		<div class="date"><span class="eventStartsAt"><%= @parent.present? ? start_time(@parent) : raw("<strong>TBD</strong>") %></span><span class="eventDuration"></span></div>
	  <ul id="calendars">
      <li>
        <%= image_tag "gcalendar.png", width: '30', title:".invites can add this idea to their calendars" %>
      </li>
      <li>
         <%= image_tag "ical-icon.png", width: '30', title:".invites can add this idea to their calendars" %>
      </li>
    </ul>
     <ul class="time_settings">
      <li>
        <i class="icon-cogs fadeInOrange" title= "You can edit this time later"></i>
      </li>
      <li>
        <i class="icon-trash fadeInRed" title="You can cancel this time later if needed"></i>
      </li>
    </ul>
    <div class="show_facepile">
      <span id="guestCount"><%= @parent.present? ? @parent.guest_count : '1' %></span>
      <% if @parent.present? %>
	      <% @parent.guests.each do |guest| %>
	        <%= link_to user_path(guest) do %>
	          <span title="<%= guest.name %>"><%= raster_profile_picture(guest) %></span>
	        <% end %>
	      <% end %>
	    <% else %>
        <%= link_to user_path(current_user) do %>
          <span title="<%= current_user.name %>"></span>
        <% end %>
      <% end %>
    </div>
	</div>

  <div class="promo_vid" id="eventVid">
  </div>

<% if false %>
		<% if event.user == current_user && event.tipped? == false && event.tipped? == true %>
			<div class="force_tip">
				<%= link_to raw("&#xf08d;"), tip_path(:event_id => event.id), :confirm => "Tip this idea? This cannot be reversed and will send notifications to all RSVPs.", :method => :put, :title => "Tip this Idea", :class => "fa-input", remote:true, id:"tipPin" %>
			</div>
		<% end %>
	<% unless event.is_public? %>
		<% unless event.user == User.find_by_id(event.inviter_id) %>
			<div class="host">by: <%= event.user.first_name.capitalize %> 
				<% if event.user.last_name %>
					<%= event.user.last_name.capitalize%>
				<% end %> 
			</div>
		<% end %>
	<% end %>
<% end %>