<div class="sample_title">Idea Cover</div>

<div class="event shield" id="sampleEvent">
	<div class="shield_top">
	  <div class="rsvp_check" title=".in-mates can choose whether they're .interested this idea">
      <span class="fadeInBlue in_check"><i class='icon-ok'></i></span> 
      <span class="out"><i class='icon-remove'></i></span> 
	  </div>
    <span id="status"></span>
    <u class="creator">
      <%= current_user.first_name_with_last_initial %>
    </u>
	</div>

	<div class="event_blerb">
		<span class="title eventTitle"><%= @parent ? @parent.title : '' %></span>
	</div>

	<div class="promo_img" id="eventPromoImg">
  	<% if @parent  && @parent.has_image? %>
  		<%= image_tag @parent.image(:medium) %>
  	<% end %>
  </div>
     <% if @parent %>
      <%= render :partial => 'shared/guest_count', :locals => { :event => @parent } %>    
    <% else %>
      <div class="guest_count">
        <i class="icon-star friend_star" title="Number of starred .in-mates who are .in"></i> <span id="friendCount"> 0 </span> / <i class="icon-star inmate_star" title="Number of .in-mates who are in" style="color:lightgrey;"></i> <%= current_user.inmates.count %>
      </div>
    <% end %>
		<div class="event_time">
			<% if @parent.present? %>
			<div class="shield_bottom time clearfix" data-event-id="145">
			<% else %>
			<div class="shield_bottom time clearfix" data-event-id="145" style="display:none;">
			<% end %>
			<span class="eventStartsAt"><%= @parent.present? && @parent.starts_at.present? ? start_time(@parent) : '' %></span>
      <span class="guest_count mini">
        <% if @parent.present? && @parent.starts_at.present? %>
        <span id="friendCount"><i class="icon-star friend_star"></i> <%= @parent.friends_in_count(current_user) %></span> /
        <span id="guestCount"><%= @parent.guest_count %></span>
        <% else %>
          <span id="friendCount"><i class="icon-star friend_star"></i> 0</span> /
          <span id="guestCount">0</span>
        <% end %>
      </span>
		</div>
	</div>
</div>
	<!-- END EVENT SHIELD -->

	<!-- BEGIN EVENT SHOW -->
<div class="sample_title">Idea Page</div>
<div class="event_show clearfix">
			<div id="rsvpForm" class="join_group_buttons padding_10">

				<a href="#" class="btn rsvp_button btn-rsvp" title="By clicking here folks will join your ideas">.interested</a>
				<a href="#" class="btn rsvp_button btn_stop_viewing" title="Here folks can opt out of this idea">meh</a>
			</div>
		<div class="date"></div>
 
	<div class="event_title">
      <% if @parent  && @parent.has_image? %>
      <div class="promo_img" id="eventImage">
        <%= image_tag @parent.image(:large) %>
      </div>
      <% else %>
      <div class="promo_img" id="eventImage" style="display:none;">

      </div>
      <% end %>
    
	  <div class="eventTitle"><%= @parent ? @parent.title : '' %></div>
	  <div id="eventDescription" class="event_description"></div>
    <div class="creator_settings">
        <u class="creator">
          <%= current_user.first_name_with_last_initial %>
        </u>
        <div class="event_buttons">
          <span class="fadeInOrange" title="click here to edit the idea after you post it"><i class="icon-cogs"></i> edit</span>
        </div>
      </div>
  </div>

	<div class="event_details clearfix">
		<div class="cost">
      <i class="icon-money"></i><span id="eventCost"><%= @parent.present? ? @parent.price : '' %></span>
    </div>
    <div class="event_location fadeInOrange" title="Links to Google Maps">
      <i class="icon-map-marker"></i>
      <span id="eventLocation"><%= @parent.present? ? @parent.address : '' %></span>
    </div>
    <div class="event_link fadeInOrange" title="Links to a website for the idea">
      <i class="icon-link"></i>
      <span id="eventLink"><%= @parent.present? ? @parent.link : '' %></span>
    </div>
	</div>

	<% if @parent.present? %>
		<div class="when time clearfix">
	<% else %>
		<div class="when time clearfix" style='display:none'>
	<% end %>	
		<div id="rsvpForm" class="join_group_buttons">
			<a href="#" class="btn rsvp_button btn-rsvp" title="By clicking here folks will join your ideas">.in</a>
			<a href="#" class="btn rsvp_button btn_stop_viewing" title="Here folks can opt out of this idea">out</a>
    </div>  
		<div class="date"><span class="eventStartsAt"><%= @parent.present? ? start_time(@parent) : raw("<strong>TBD</strong>") %></span><span class="eventDuration"></span></div>
    <div class="where"><i class="icon-map-marker"></i><span id="eventAddress"><%= @parent.present? ? @parent.address : '' %></span></div>
	  <ul id="calendars">
      <li>
        <%= image_tag "gcalendar.png", width: '30', title:".invites can add this idea to their calendars" %>
      </li>
      <li>
         <%= image_tag "ical-icon.png", width: '30', title:".invites can add this idea to their calendars" %>
      </li>
    </ul>
     <ul class="time_settings">
      <li>
        <i class="icon-cogs fadeInOrange" title= "You can edit this time later"></i>
      </li>
    </ul>
    <div class="show_facepile">
      <span id="guestCount"><%= @parent.present? ? @parent.guest_count : '1' %></span>
      <% if @parent.present? %>
	      <% @parent.guests.each do |guest| %>
	        <%= link_to user_path(guest) do %>
	          <span title="<%= guest.name %>"><%= raster_profile_picture(guest) %></span>
	        <% end %>
	      <% end %>
	    <% else %>
        <%= link_to user_path(current_user) do %>
          <span title="<%= current_user.name %>"></span>
        <% end %>
      <% end %>
    </div>
	</div>

  <div class="promo_vid" id="eventVid">
  </div>

