<div class="sample_title">Idea Cover</div>

<div class="event shield" id="sampleEvent">
	<div class="shield_top">
	  <div class="rsvp_check" title="friends can choose whether they're .interested this idea">
      <span class="fadeInBlue in_check"><i class='icon-ok'></i> .interested</span> 
      <span class="out"><i class='icon-remove'></i> out</span> 
	  </div>
	</div>
  <div class="event_time">
    <% if @parent.present? %>
    <div class="shield_bottom time clearfix" >
    <% else %>
    <div class="shield_bottom time clearfix" style="display:none;">
    <% end %>
    <span class="eventStartsAt"><%= @parent.present? && @parent.starts_at.present? ? start_time(@parent) : '' %></span>
    </div>
  </div>


	<div class="promo_img" id="eventPromoImg">
    <div class="event_blerb black-to-transparent">
      <span class="title eventTitle"><%= @parent ? @parent.title : '' %></span>
    </div>  	
    <% if @parent  && @parent.has_image? %>
  		<%= image_tag @parent.image(:medium) %>
  	<% end %>  
  </div>

      <u class="creator">
      <%= current_user.first_name_with_last_initial %>
    </u>


  <div class="guest_count clearfix">
    <div class="facepile">
      <i class="icon-star friend_star"></i> <span id="friendCount">1</span> 
      <span title="<%= current_user.first_name_with_last_initial %>"><%= raster_profile_picture(current_user) %></span>
    </div> 
    <div class="facepile">        
      <i class="icon-star inmate_star" style="color:lightgrey;"></i> 0
    </div> 
  </div>
</div>
	<!-- END EVENT SHIELD -->

	<!-- BEGIN EVENT SHOW -->
<div class="sample_title">Idea Page</div>
<div class="event_show clearfix">
			<div id="rsvpForm" class="join_group_buttons padding_10">

				<a href="#" class="btn rsvp_button btn-rsvp" title="By clicking here folks will join your ideas">.interested</a>
				<a href="#" class="btn rsvp_button btn_stop_viewing" title="Here folks can opt out of this idea">meh</a>
			</div>
		<div class="date"></div>
 
	<div class="event_title">
      <% if @parent  && @parent.has_image? %>
      <div class="promo_img" id="eventImage">
        <%= image_tag @parent.image(:large) %>
      </div>
      <% else %>
      <div class="promo_img" id="eventImage" style="display:none;">

      </div>
      <% end %>
    
	  <div class="eventTitle"><%= @parent ? @parent.title : '' %></div>
	  <div id="eventDescription" class="event_description"></div>
    <div class="creator_settings">
        <u class="creator">
          <%= current_user.first_name_with_last_initial %>
        </u>
      </div>
  </div>

	<div class="event_details clearfix">
		<div class="cost">
      <i class="icon-money"></i><span id="eventCost"><%= @parent.present? ? @parent.price : '' %></span>
    </div>
    <div class="event_location fadeInOrange" title="Links to Google Maps">
      <i class="icon-map-marker"></i>
      <span id="eventLocation"><%= @parent.present? ? @parent.address : '' %></span>
    </div>
    <div class="event_link fadeInOrange" title="Links to a website for the idea">
      <i class="icon-link"></i>
      <span id="eventLink"><%= @parent.present? ? @parent.link : '' %></span>
    </div>
	</div>

	<% if @parent.present? %>
		<div class="when time clearfix instance box-shadow">
	<% else %>
		<div class="when time clearfix instance box-shadow" style='display:none'>
	<% end %>	
    <span class="status_icon">
      <i class="icon-ok blue"></i>
    </span>
    <div class="date"><span class="eventStartsAt"><%= @parent.present? ? start_time(@parent) : raw("<strong>TBD</strong>") %></span><span class="eventDuration"></span></div>
    <div class="where"><i class="icon-map-marker"></i><span id="eventAddress"><%= @parent.present? ? @parent.address : '' %></span></div>
		<div id="rsvpForm" class="join_group_buttons">
			<a href="#" class="btn rsvp_button btn-rsvp" title="By clicking here folks will join your ideas">.in</a>
			<a href="#" class="btn rsvp_button btn_stop_viewing" title="Here folks can opt out of this idea">out</a>
    </div>  
	  <ul id="calendars">
      <li>
        <%= image_tag "gcalendar.png", width: '30', title:".invites can add this idea to their calendars" %>
      </li>
      <li>
         <%= image_tag "ical-icon.png", width: '30', title:".invites can add this idea to their calendars" %>
      </li>
    </ul>
     <ul class="time_settings">
      <li>
        <i class="icon-cogs fadeInOrange" title= "You can edit this time later"></i>
      </li>
    </ul>
    <div class="show_facepile">
      <span id="guestCount"><%= @parent.present? ? @parent.guest_count : '1' %></span>
      <% if @parent.present? %>
	      <% @parent.guests.each do |guest| %>
	        <%= link_to user_path(guest) do %>
	          <span title="<%= guest.name %>"><%= raster_profile_picture(guest) %></span>
	        <% end %>
	      <% end %>
	    <% else %>
        <%= link_to user_path(current_user) do %>
          <span title="<%= current_user.name %>"></span>
        <% end %>
      <% end %>
    </div>
	</div>

  <div class="promo_vid" id="eventVid">
  </div>

