	<div class="when one_time clearfix instance box-shadow" data-event-id="<%= event.id %>">	
    <div class="date"><%= event_start_time(event) %> <%= date(event) %> ( <%= event.nice_duration %> <% if event.ends_at < Time.zone.now %> - Over <% end %> ) </div>
    <% if event.address.present? %>
      <div class="where"><i class="icon-map-marker"></i> <%= event.address %></div>
    <% end %>
    <ul id="calendars">
      <li>
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%= url_encode(event.title) %>&dates=<%= event.url_starts_at %>/<%= event.url_ends_at %>&details=<%= url_encode(event.description) + " - " + event_url(event) %>&location=<%= url_encode(event.address) %>&trp=true&sprop=www.hoos.in%2Fideas%2F<%= event.id %>&sprop=name:<%= url_encode(event.title) %>" target="_blank" title="Add to Your Google Calendar">
          <%= image_tag "gcalendar.png", width: '30', class:"" %>
        </a>
      </li>
      <li>
        <%= link_to event_path(event, :format => :ics) do %>
          <%= image_tag "ical-icon.png", width: '30', class:"", title: "Add to Your iCal or Outlook" %>
        <% end %>
      </li>
    </ul>
      <% if user_signed_in? %>
        <% if current_user == event.user || current_user.admin? || (event.parent.present? && current_user == event.parent.user) %>
          <ul class="time_settings">
            <li>
              <%= link_to event_edit_time_path(event), class: "fadeInOrange" do %>
                <i class="icon-cogs"></i>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% end %>

    <%= render partial: 'shared/guest_count', locals: { :event => event } %>
    <div id="rsvpForm" class="join_group_buttons">
      <%= render :partial => "events/rsvp_form", :locals => { :event => event } %>
    </div>
	</div>