<%= link_to event_path(event.parent) do %>
	<% if event.tipped? %>	
		<div class="meter">
			<span style="width:100%;"><span></span></span>
		</div>
	<% elsif event.starts_at.present?%>
		<div class="meter animate orange">
			<span style=<%= 'width:' + "#{(100*event.guest_count.to_f/event.min.to_f).round}" + "%;"%>><span></span></span>
		</div>
	<% end %>
	<div class="shield_bottom one_time" data-event-id="<%= event.id %>">	
			<span><%= event.mini_start_date_time %></span>
		<div class="rsvp_check">
			<%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %>
		</div>
		<div class="guests <%= !event.tipped? ? 'not_tipped' : '' %>"><span id="guestCount"><%= event.guest_count %></span><span id="eventMin"><%= !event.tipped? ? "/#{ event.min }" : '' %></span></div>
	</div>
<% end %>