<% if false %>
<% if event.tipped? %>	
	<div class="meter">
		<span style="width:100%;"><span></span></span>
	</div>
<% elsif event.starts_at.present?%>
	<div class="meter animate orange">
		<span style=<%= 'width:' + "#{(100*event.guest_count.to_f/event.min.to_f).round}" + "%;"%>><span></span></span>
	</div>
<% end %>
<% end %>
<div class="shield_bottom one_time" data-event-id="<%= event.id %>">	
		<% if user_signed_in? %>
			<% if current_user.in?(event) %>
				<i class="icon-ok-sign blue" title="you're .in"></i>
			<% end %>
		<% end %>
		<span><%= event.mini_start_date_time %></span>
		<div class="rsvp_check">
		<%= render :partial => "shalendar/rsvp_check", :locals => { :event => event } %>
	</div>
  <div class="facepile">
    <span id="guestCount"><%= event.guest_count %></span>
    <% event.guests.each do |guest| %>
      <%= link_to user_path(guest) do %>
        <span title="<%= guest.name %>"><%= raster_profile_picture(guest) %></span>
      <% end %>
    <% end %>
  </div>
</div>