<% if @event.tipped? %>
<div class="title part tipped_title">
<% elsif @event.tipped? == false %>
<div class="title part not_tipped_title">
<% end %>  

  <div class="when">
    <%= event_start_time(@event) %> - <%= event_end_time(@event) %>
    <%= date(@event) %> 
  </div> 
  
  <div class="event_title">
    <%= @event.title %>
  </div>

  <% if @event.link.length > 0 %>
    <div class="event_link">
      link: <%= event_link(@event) %>
    </div>
  <% end %>

  <% if @event.address.length > 0 %>
    <div class="event_location">
      location: <%= @event.address %>
    </div>
  <% end %>
<div class="title_bottom">
  <div class="by">
    <%= raster_profile_picture(@event.user) %> <span><%= @event.user.name %></span>
  </div>
  <ul class="event_buttons">
    <% if @event.user == current_user %> 
      <% unless @event.tipped? %>
      <li>
        <%= link_to event_tip_path(@event), :confirm => "Force your idea to tip? This cannot be reversed and will send notifications to all RSVPs.", title:"Tip Manually", :method => :put do %>
          <span class="fadeInOrange"><i class="icon-pushpin"></i></span>
        <% end %>
      </li>
      <% end %>
      <li>
        <%= link_to @event, method: :delete, data: { confirm: 'Are you sure? This will send an Email to all RSVPs a cancellation email.' }, title: "Delete Idea" do %>
          <span class="fadeInRed"><i class="icon-trash"></i></span>
        <% end %>
      </li>
      <li>
        <%= link_to edit_event_path(@event), title:"Edit Idea" do %>
          <span class="fadeInOrange"><i class="icon-wrench"></i></span>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= render 'rsvp_form' %>
      </li>
    <% end %>
    <% if current_user.id == @event.user.id %>
        <% if current_user.fb_user? %>
          <li>
            <%= link_to "Invite All", invite_all_fb_friends_path(:id => @event.id), class:"fadeInFBBlue", confirm: "Post idea to ALL friends walls in #{current_user.city}?", remote: true do %>
              <i class="icon-facebook-sign"></i>
            <% end %>
          </li>
        <% end %>
      <% if current_user.invited_all_friends?(@event) %>
        <li>
          <i class="icon-group gold" title="Shared with all Friends"></i>
        </li>
      <% elsif current_user.rsvpd?(@event) %>
        <li>
          <%= link_to invite_all_friends_path(:id => @event.id), title:"Share idea with all Friends", confirm: "Share with ALL hoos.in friends in #{current_user.city}?", remote:true do %>
            <span class="fadeInGreen"><i class="icon-group"></i></span>
          <% end %>
        </li>
      <% else %>
        <li>
          <i class="icon-group black" title="Guests may share with Friends"></i>
        </li>
      <% end %>
    <% elsif @event.guests_can_invite_friends?  %>
      <% if current_user.invited_all_friends?(@event) %>
        <li>
          <i class="icon-group gold" title="Shared with all Friends"></i>
        </li>
      <% elsif current_user.rsvpd?(@event) %>
        <li>
          <%= link_to invite_all_friends_path(:id => @event.id), confirm: "Post idea to ALL friends walls in #{current_user.city}?", remote: true do %>
            <span class="fadeInGreen"><i class="icon-group"></i></span>
          <% end %>
        </li>
        <% if current_user.fb_user? %>
          <li>
            <%= link_to invite_all_fb_friends_path(:id => @event.id), class:"fadeInFBBlue" , confirm:"Invite ALL hoos.in friends?", title:"Post to all #{current_user.city} facebook friends walls", remote: true do %>
              <i class="icon-facebook-sign"></i>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li>
          <i class="icon-group black" title="Guests may share with Friends"></i>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>