<% if @event.tipped? %>
<div class="title part tipped_title">
<% elsif @event.tipped? == false %>
<div class="title part not_tipped_title">
<% end %>  
  <div class="when">
    <%= event_start_time(@event) %> - <%= event_end_time(@event) %>
    <%= date(@event) %> 
  </div> 
  
  <div class="event_title">
    <%= @event.title %>
  </div>

  <div class="event_link">
    link: <%= event_link(@event) %>
  </div>

  <% unless @event.address == "" || @event.address.nil? %>
    <div class="event_location">
      location: <%= @event.address %>
    </div>
  <% end %>
  
<div class="title_bottom">
  <div class="by">
    <%= raster_profile_picture(@event.user) %> <span><%= @event.user.name %></span>
  </div>
  <ul class="event_buttons">
    <% if @event.user == current_user %> 

      <% unless @event.tipped? %>
      <li>
        <%= link_to event_tip_path(@event), :confirm => "Tip this idea manually? This will notify all guests that the idea is on.", title: "Make this Idea Tip", :method => :put do %>
          <span class="fadeInOrange"><i class="icon-pushpin"></i></span>
        <% end %>
      </li>
      <% end %>
      <li>
        <%= link_to @event, method: :delete, data: { confirm: 'Are you sure? This will notify all guests that the idea is canceled.' }, title: "Cancel Idea" do %>
          <span class="fadeInRed"><i class="icon-trash"></i></span>
        <% end %>
      </li>
      <li>
        <%= link_to edit_event_path(@event), title:"Edit Idea" do %>
          <span class="fadeInOrange"><i class="icon-wrench"></i></span>
        <% end %>
      </li>

    <% else %>
      <li>
        <%= render 'rsvp_form' %>
      </li>
    <% end %>
    <% if @event.guests_can_invite_friends? || @event.user == current_user %>
      <% if current_user.rsvpd?(@event) %>

        <% if current_user.invited_all_friends?(@event) %>
        <li>
          <i class="icon-group gold" title=".invited with all friends"></i>
        </li>
        <% else %>
        <li>
          <%= link_to invite_all_friends_path(:event_id => @event.id), title: ".invite all friends" do %>
            <span class="fadeInGreen"><i class="icon-group"></i></span>
          <% end %>
        </li>
        <% end %>

        <!-- #FACEBOOK -->
        <% if current_user.fb_user? %>
          <li>
            <%= link_to post_to_own_fb_wall_path(:event_id => @event.id), class:"fadeInFBBlue" , confirm:"Post idea to your wall?", title:"Post to Facebook", remote: true do %>
              <i class="icon-facebook-sign"></i>
            <% end %>
          </li>
        <% end %>

        <!-- #TWITTER -->
        <li>
          <a href="https://twitter.com/share" data-text="<%= @event.title %> #hoosin" data-size="large" data-count="none" class="fadeInTwitter" title="Tweet this idea" target="_blank"><i class="icon-twitter"></i></a>
        </li>

      <% else %>
        <li>
          <i class="icon-group black" title="join.in and .invite all friends"></i>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>