<% if @event.tipped? %>
<div class="title part tipped_title">
<% elsif @event.tipped? == false %>
<div class="title part not_tipped_title">
<% end %>  
  <div class="when">
    <%= date(@event) %> <br> 
    <%= event_start_time(@event) %> - <%= event_end_time(@event) %>
  </div> 
  <%= @event.title %>
  <div class="title_bottom">
    <% if @event.user == current_user %>
      <%= link_to @event, method: :delete, data: { confirm: 'Are you sure? This will send an Email to all RSVPs a cancellation email.' } do %>
      <span class="fadeInRed"><i class="icon-trash icon-large"></i></span>
      <% end %>
      <%= link_to edit_event_path(@event) do %>
        <span class="fadeInOrange"><i class="icon-wrench icon-large"></i></span>
      <% end %>
    <% else %>
    <p>by:</p>
      <%= raster_profile_picture(@event.user) %> <u><%= @event.user.name %></u>
    <% end %>
    <div class="can_invite">
      <% if @event.guests_can_invite_friends? %>
        <i class="icon-group" title="Friends"></i>
      <% end %>
    </div>
    <div class="event_buttons"
    <% if @event.user == current_user %> 
      <% unless @event.tipped? %>
        <%= link_to event_tip_path(@event), :confirm => "Force your idea to tip? This cannot be reversed and will send notifications to all RSVPs.", :method => :put do %>
          <span class="btn btn-primary"><i class="icon-pushpin"></i> Tip!</span>
        <% end %>
      <% end %>
    <% else %>
      <%= render 'rsvp_form' %>
    <% end %>
    </div>
  </div>
</div>
</div>