<% provide(:title, " | Edit") %>
<div class="new_crowd_idea clearfix">
  <div class="event_form">
    <%= form_for @event, url: { :controller => 'events', :action => 'update' }, html: { id: "new_event_form" } do |f| %>
    <p>   
      <div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
      <%= label :title, "Idea*" %><br/>
      <%= f.text_field :title, id: "new_idea_title", class: "required", autocomplete: "off" %>
    </p>
    <p>
      <%= label :description, "The deets" %><br/>
      <%= f.text_area :description, id: "new_idea_description", rows: 2, autocomplete: "off", onkeypress: "if(event.keyCode==13){return false;}" %>
    </p> 
      <div>.invite . . .</div>
      <div class="invite_radios">
        <div>
          <%= radio_button_tag :invite_me, "1" %>
          <%= label_tag :invite_me_1 do %>
            <i class="icon-bullhorn questionMark"></i><br><%= @current_city.name.split(",")[0].to_s.capitalize %>
          <% end %>
        </div>
        <div>
          <%= radio_button_tag :invite_me, "2", checked: true %>
          <%= label_tag :invite_me_2 do %>
            <i class="icon-group questionMark"></i><br>all my friends
          <% end %>
        </div>
        <div>
          <%= radio_button_tag :invite_me, "3" %>
          <%= label_tag :invite_me_3 do %>
            <i class="icon-remove questionMark"></i><br>let me pick
          <% end %>
        </div>
      </div>
  <%= render partial: 'shared/idea_options', locals: { :f => f } %>
       
    <span class="new_idea_button"><%= f.submit 'Post Idea', :class => 'btn btn-large btn-primary', method: :post %></span>

    <% end %>
  </div>
  <!-- PREVIEW -->
  <div class="idea_preview">
    <%= render partial: 'sample_idea' %>
  </div>
</div>