<% provide(:title, " | edit .instance") %>
<div class="new_crowd_idea clearfix">
  <div class="event_form">
    <%= form_for @event, url: { :controller => 'events', :action => 'update' }, html: { id: "new_event_form" } do |f| %>
      <p>   
        <div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
        <%= label :title, "Idea*" %><br/>
        <%= f.text_field :title, id: "new_idea_title", class: "required disabled", autocomplete: "off", disabled:true %>
      </p>

      <div id="dateTime">
        <div class="starts_at">
          <%= label :starts_at, "When does it start?*" %>
          <%= f.text_field :chronic_starts_at, id: "datetime", class: "starts_at required", autocomplete: "off", value:"#{@event.starts_at ? start_time(@event) : ''}" %>
        </div>
        <div class="duration">
          <%= label :duration, "Hours?*" %>
          <%= f.text_field :duration, autocomplete: "off", class:"required"  %>
        </div>
      </div>
      <div id="addmapp">
        <%= label_tag "Update Location?" %><br/>
        <i class="icon-map-marker"></i><%= f.text_field :address, autocomplete: "off", value:"#{@parent ? @parent.address : '' }" %>
      </div>

      <%= f.submit 'Update .instance', :class => 'btn btn-large btn-primary', method: :post %>
      <%= link_to "cancel", @event, class: "btn btn-cancel" %>
    <% end %>
      
    <%= link_to @event, style: "line-height: 44px;", method: :delete, data: { confirm: 'Are you sure? This will notify all guests that the idea is canceled.' }, class: "btn btn-large btn-danger" do %>
      <i class="icon-trash"></i> Cancel this Time
    <% end %>
  </div>
  <!-- PREVIEW -->
  <div class="idea_preview">
    <%= render partial: 'sample_idea' %>
  </div>
</div>