<% provide(:title, " | Edit") %>
<div class="new_crowd_idea clearfix">
  <div class="event_form">
    <%= form_for @event, url: { :controller => 'events', :action => 'update' }, html: { id: "new_event_form" } do |f| %>
    <p>   
      <div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
      <%= label :title, "Idea*" %><br/>
      <%= f.text_field :title, id: "new_idea_title", class: "required", autocomplete: "off" %>
    </p>
    <p>
      <%= label :description, "Details" %><br/>
      <%= f.text_area :description, id: "new_idea_description", rows: 2, autocomplete: "off", onkeypress: "if(event.keyCode==13){return false;}" %>
    </p> 

    <div class="friends_only_bool">
      <%= f.check_box :friends_only %> <label for="event_friends_only" class="pointer"><i class="icon-star" style="color:gold;"></i> only .invite starred .in-mates? </label>
    </div>
    <% unless @event.instances.none? %>
    <div class="one_time_bool">
      <%= f.check_box :one_time %> <label for="event_one_time" class="pointer"><i class="icon-copy"></i> One-Time Idea?</label>
    </div>
    <% end %>

<div class="hidden_options">
  <div id="addimgp" class="open">
    <div><%= f.label :display_image %></div>
      <i class="icon-link"></i><%= f.text_field :promo_url, autocomplete: "off", placeholder: "Image URL" %><br>
    or<br>
      <i class="icon-camera-retro"></i><%= f.file_field :promo_img %>
  </div>
  
  <div id="addvidp" style="display:none;">
    <div><%= f.label :event_video %></div>
    <i class="icon-facetime-video"></i><%= f.text_field :promo_vid, autocomplete: "off", placeholder: "You Tube URL" %>
  </div>

  <div id="addmapp" style="display: none;">
    <%= label_tag "Location" %><br/>
    <i class="icon-map-marker"></i><%= f.text_field :address, autocomplete: "off" %>
  </div>

  <div id="addLinkp" style="display: none;">
    <%= label_tag "Link" %></br>
    <i class="icon-link"></i> http://<%= f.text_field :link, autocomplete: "off" %>
  </div>

  <div id="addcostp" style="display:none;">
    <%= f.label "Cost" %><br>
    <i class="icon-money"></i><div class="dollar">$</div><%= f.text_field :price, :class => 'input-mini', autocomplete: "off", placeholder: "0.00" %>
    <% if false %>
      <% if current_user.bank_account_uri %>
        <%= f.check_box :require_payment %> <%= f.label "Require Payment to Join" %>
      <% else %>
        <%= link_to "Enable ticketing and payments", new_merchant_path, target: "_blank" %>
      <% end %>
    <% end %>
  </div> 
</div>

<div>
  <ul>
    <li id="addimg" style="color:#EB8325;"><i class="icon-camera-retro"></i></li>
    <li id="addvid"><i class="icon-facetime-video"></i></li>
    <li id="addLink"><i class="icon-link"></i></li>
    <li id="addmap"><i class="icon-map-marker"></i></li>
    <li id="addcost"><i class="icon-money"></i></li>
  </ul>
</div>
       
    <%= f.submit 'Update Idea', :class => 'btn btn-large btn-primary', method: :post %>
    
    <% unless @event.one_time? %>
    <div style="margin-top: 17px;">
      <%= link_to event_new_time_path(@event), id:"makeATime", class:"btn btn-large btn-success rsvp_button" do %>
        <i class="icon-copy"></i> New Time
      <% end %>
    </div>
    <% end %>
    <div style="margin-top: 17px;">
      <%= link_to @event, method: :delete, data: { confirm: 'Are you sure? This will notify all guests that the idea is canceled.' }, class: "btn btn-large btn-danger" do %>
        <i class="icon-trash"></i> Cancel this Idea
      <% end %>
    </div>
  <% end %>
  </div>
  <!-- PREVIEW -->
  <div class="idea_preview">
    <%= render partial: 'sample_idea' %>
  </div>
</div>