<% provide(:title, " | #{@user.name}" ) %>
<% if @user.background_file_size.present? %>
  <div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 320px;top: 0px;"></div>
<% end %>
<div class="inmates_bar left" style='display:none;'>
    <span id="showCalendar" class="fadeInRed">x</span>
    <div id="getInmates"> 
      <%= image_tag 'ajax-loader2.gif' %>
    </div>
</div>
<div class="row no-margin">
<div class="col-sm-3 well sidebar">
  <div class="clearfix">
    <% if @user != current_user %>
      <%= link_to "<< back", root_path, class:"back_link" %>
    <% end %>
    <div class='text-center'>
      <%= large_profile_picture(@user) %>
    </div>
    
    <% if @user != current_user %>
      <div class="show_city pull-left"><%= @user.city.name %></div>
    <% end %>
    <%= render 'users/inmate_or_friend' %>
    <ul class="profile_stats clearfix clear-both" id="showInmates" data-slug=<%= @user.slug %>> 
      <li>
        <div><i class="icon-star inmate_star" style="color:lightgrey;"></i> <%= @user.inmates.count %> </div>
        <div>.intros</div>
      </li>     
      <li>
        <div><i class="icon-star friend_star"></i> <span id="friendCount"><%= @user.friends.count %> </div>
        <div>friends</div>
      </li>
      <li>
        <div><i class="icon-star friend_star"></i> <%= @user.friended_bys.count %></div>
        <div>friended by</div> 
      </li>
    </ul>
    <%= link_to new_event_path, id: "btnNewIdea", class: 'btn btn-primary btn-large btn-block' do %>
      <i class='icon-cloud'></i> New Idea
    <% end %>
    <ul class="nav nav-tabs nav-stacked">
      <li class="active hover-blue sidebar-nav">
        <a href="#tab1" data-toggle="tab">
          <i class="icon-calendar"></i><i class="icon-ok"></i><span id="ins_count"> <%= @ins.count %></span> .ins 
        </a>
        <i class="icon-caret-right"></i>
      </li>
      <li class="hover-purple sidebar-nav">
        <a href="#tab2" data-toggle="tab">
          <i class="icon-calendar"></i><span id="invited_times_count"> <%= @invited_times.count %></span> .invites </span>
        </a>
      </li>
      <li class="hover-orange sidebar-nav">
        <a href="#tab3" data-toggle="tab">
          <i class="icon-cloud"></i><i class="icon-ok"></i><span id="interesteds_count"> <%= @interesteds.count %></span> .interested 
        </a>
      </li>
      <li class="hover-purple sidebar-nav">
        <a href="#tab4" data-toggle="tab">
          <i class="icon-cloud"></i><span id="invited_ideas_count"> <%= @invited_ideas.count %></span> ideas</span>
        </a>
      </li>
      <li class="hover-red sidebar-nav">
        <a href="#tab5" data-toggle="tab">
          <i class="icon-remove"></i> outs
        </a>
      </li>
      <li class="hover-green sidebar-nav">
        <a href="#tab6" data-toggle="tab">
          <i class="icon-question-sign"></i> help
        </a>
      </li>
      <li class="hover-light-orange">
        <%= link_to edit_user_registration_path do %>
          <i class='icon-cog user_settings'></i> settings
        <% end %>
      </li>
      <li class="hover-red">
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class='icon-signout logout'></i> logout
        <% end %>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content col-sm-9">
  <div class="tab-pane active fade" id="tab1">
    <% Date.today.upto(Date.today + 2.weeks) do |day| %>
      <div class="day-container row" data-date="<%= day %>">
        <div class='text-center'><%= day.strftime "%b %d" %></div>
      </div>
    <% end %>
    <% @ins.each do |i| %>
      <%= render partial: "users/instance", locals: { instance: i } %>
    <% end %>
    <%= will_paginate @ins if @ins %>
  </div>
  <div class="tab-pane fade" id="tab2">
    <% Date.today.upto(Date.today + 2.weeks) do |day| %>
      <div class="day-container row" data-date="<%= day %>">
        <div class='text-center'><%= day.strftime "%b %d" %></div>
      </div>
    <% end %>
    <%= render partial: "users/instance", collection: @invited_times, as: :instance %>
    <%= will_paginate @invited_times if @invited_times %>
  </div>
  <div class="tab-pane fade" id="tab3">
    <%= render partial: "users/event", collection: @interesteds, as: :event %>
    <%= will_paginate @interesteds if @interesteds %>
  </div>
  <div class="tab-pane fade" id="tab4">
    <%= render partial: "users/event", collection: @invited_ideas, as: :event %>
    <%= will_paginate @invited_ideas if @invited_ideas %>
  </div>
  <div class="tab-pane fade" id="tab5">
    <%= render partial: "users/event", collection: @outs, as: :event %>
    <%= will_paginate @outs if @outs %>
  </div>
  <div class="tab-pane fade" id="tab6">
    <%= render partial: "users/explanation" %>
  </div>
</div>

</div>