<div class="new_crowd_idea clearfix">
	<div class="event_form">
	  <%= form_for current_user.events.build, url: { :controller => 'events', :action => 'create' }, html: { id: "new_event_form" } do |f| %>
	  <p>		
	  	<div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
		  <%= label :title, "Idea*" %><br/>
	  	<%= f.text_field :title, id: "new_idea_title", class: "required", autocomplete: "off" %>
		</p>
	  <p>
	  	<%= label :description, "The deets" %><br/>
	  	<%= f.text_area :description, id: "new_idea_description", rows: 2, autocomplete: "off", onkeypress: "if(event.keyCode==13){return false;}" %>
	  </p>  
	  
  <%= render partial: 'shared/idea_options', locals: { :f => f } %>
		   
	  <span class="new_idea_button"><%= f.submit 'Post Idea', :class => 'btn btn-large btn-primary', method: :post %></span>

	  <% end %>
	</div>
	<!-- PREVIEW -->
	<div class="idea_preview">
		<%= render partial: 'sample_idea' %>
	</div>
</div>

<script>
// NEW IDEA FORM VALIDATION
  $("#new_event_form").validate({
    rules: {
      "#datetime": {
        required: true
      },
      "event[title]": {
        maxlength: 90
      },
      "event[min]": {
        number: true,
        min: 0
      },
      "event[max]": {
        number: true,
        max: 1000000
      },
      "event[duration]": {
        required: true,
        number: true
      },
      "event[link]": {
        maxlength:255
      },
      "event[promo_url]": {
        maxlength:255
      },
      "event[promo_vid]": {
        maxlength:255
      },
      "event[price]": {
        number: true,
        max: 10000
      },
      submitHandler: function(f){
        $('form input[type=submit]').attr('disabled', 'disabled');
        form.submit();
    }
  }
  });

  $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        }
  );

$("#event_promo_vid").rules("add", { 
  regex: "(?:https?:\/\/)?(?:www\.)?youtu(?:\.be|be\.com)\/(?:watch\?v=)?(.{10,})",
  messages: {
    regex: "Please Enter a Valid YouTube URL"
  }
  });

$("#event_link").rules("add", {
  regex: "^(((ftp|https?):\/\/)?(www\.)?)?[a-z0-9\-\.]{3,}\.[a-z]{3}(.{0,})?",
  messages: {
    regex: "Please Enter a Valid URL"
  }
  });

$("#event_promo_url").rules("add", {
  regex: "\.(png|jpg|jpeg|gif)$",
  messages: {
    regex: "Please Enter a Valid URL"
  }
});
</script>