<div class="new_crowd_idea clearfix">
	<div class="event_form">
	  <%= form_for @parent.instances.build(title: @parent.title, address: @parent.address), url: { action: 'create_new_time' }, html: { id: "new_event_form" } do |f| %>
	  <p>		
	  	<div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
		  <%= label :title, "Idea*" %><br/>
	  	<%= f.text_field :title, id: "new_idea_title", class: "required disabled", autocomplete: "off", disabled:true %>
		</p>
		<div id="dateTime">
		  <div class="starts_at">
		    <%= label :starts_at, "When does it start?*" %>
		    <%= f.text_field :chronic_starts_at, id: "datetime", class: "starts_at required", autocomplete: "off" %>
		  </div>
		  <div class="duration">
		    <%= label :duration, "Hours?*" %>
		    <%= f.text_field :duration, autocomplete: "off", class:"required"  %>
		  </div>
		</div>
		<div id="addmapp">
	  	<%= label_tag "Update Location?" %><br/>
	  	<i class="icon-map-marker"></i><%= f.text_field :address, autocomplete: "off", id:"newTimeAddress", value:"#{@parent ? @parent.address : '' }" %>
		</div>

		<% if false %>
		<div>
			<input id="toggle_event_details" name="toggle_event_details" type="checkbox" value="toggleEventDetails"> <label for="toggle_event_details">update details?</label>
		</div>
		<div id="eventDetails" style="display:none;">
					  
			<div>
		  	<%= label :description, "Update Details?" %><br/>
		  	<%= f.text_area :description, id: "new_idea_description", autocomplete: "off", onkeypress: "if(event.keyCode==13){return false;}", value:"#{@parent ? @parent.description : '' }" %>
		  </div>
		  	<div id="addtippingp">
					<label><i class="icon-tasks"></i> minimum and maximum*</label>
					<div class="minmax">
					  <u>
					    <%= f.label :min_attendees, "Min .in's" %> <br/>
					    <%= f.text_field :min, :class => 'input-mini', autocomplete: "off", class:"required" %>
					  </u>
					  <u>
					    <%= f.label :max_attendees, "Max  .in's" %> <br/>
					    <%= f.text_field :max, :class => 'input-mini', autocomplete: "off" %>
					  </u>
					</div>
				</div>
			
			<div id="addcostp">
		    <%= f.label "Cost" %><br>
		    <i class="icon-money"></i><div class="dollar">$</div><%= f.text_field :price, :class => 'input-mini', autocomplete: "off", placeholder: "0.00" %>
		    <% if false %>
		    	<% if current_user.bank_account_uri %>
		    		<%= f.check_box :require_payment %> <%= f.label "Require Payment to Join" %>
		    	<% else %>
		    		<%= link_to "Enable ticketing and payments", new_merchant_path, target: "_blank" %>
		    	<% end %>
		    <% end %>
			</div> 

						<div id="addimgp" style="display:none;">
		  	<div><%= f.label :display_image %></div>
		 	  	<i class="icon-link"></i><%= f.text_field :promo_url, autocomplete: "off", placeholder: "Image URL" %><br>
		  or<br>
		  		<i class="icon-camera-retro"></i><%= f.file_field :promo_img %>
			</div>
		</div>

		<% end %>

      <%= f.hidden_field :parent_id, value: @parent.id %>
   
	  <span class="new_idea_button"><%= f.submit 'Suggest New Time', id: "postNewTime", :class => 'btn btn-large btn-success', method: :post %></span>

	  <% end %>
	</div>
	<!-- PREVIEW -->
	<div class="idea_preview">
		<%= render partial: 'sample_idea' %>
	</div>
</div>