<div class="new_crowd_idea clearfix">
	<div class="event_form">
	  <%= form_for @parent.instances.build(title: @parent.title, address: @parent.address), url: { action: 'create_new_time' },
								 id: "new_event_form" do |f| %>
	  <p>		
	  	<div class="title_char_counter"><span id="titleCharCount">0</span>/60</div>
		  <%= label :title, "Idea*" %><br/>
	  	<%= f.text_field :title, id: "new_idea_title", class: "required disabled", autocomplete: "off", disabled:true %>
		</p>
  	<div id="dateTime">
		  <div class="starts_at">
		    <%= label :starts_at, "When does it start?*" %>
		    <%= f.text_field :chronic_starts_at, id: "datetime", class: "starts_at required", autocomplete: "off" %>
		  </div>
		  <div class="duration">
		    <%= label :duration, "How Long?*" %>
		    <%= f.text_field :duration, placeholder:"hrs", autocomplete: "off", class:"required"  %>
		  </div>
		</div>

	  <div>
	  	<%= label :description, "Details" %><br/>
	  	<%= f.text_area :description, id: "new_idea_description", autocomplete: "off", onkeypress: "if(event.keyCode==13){return false;}" %>
	  </div> 

		<div id="addmapp">
	  	<%= label_tag "Location" %><br/>
	  	<i class="icon-map-marker"></i><%= f.text_field :address, autocomplete: "off" %>
		</div>

		<div id="addtippingp" class="minmax">
		  	<i class="icon-tasks"></i>
		    <%= f.label :min_attendees, "Tipping Point" %> <br/>
		    <%= f.select :min, 1..1000 %>
		</div>
		  <div>.invite . . .</div>
			<div>				
				<%= f.check_box :is_public %>
				<%= f.label :is_public do %>
					<i class="icon-bullhorn questionMark"></i> everyone in <%= @current_city.name.split(",")[0].to_s.capitalize %>
				<% end %>
			</div> 
			<div>
				<input id="invite_all_friends" name="invite_all_friends" type="checkbox">
				<label for="invite_all_friends"> <i class="icon-group questionMark"></i> .invite all my friends</label>
			</div>
			<div>
				<input id="let_me_pic" name="let_me_pick" type="checkbox">
				<label for="let_me_pic"> <i class="icon-remove questionMark"></i> let me pick</label>
			</div>
		<%= f.hidden_field :parent_id, value: @parent.id %>
   
	  <span class="new_idea_button"><%= f.submit 'Add This Time', :class => 'btn btn-large btn-success', method: :post %></span>

	  <% end %>
	</div>
	<!-- PREVIEW -->
	<div class="idea_preview">
		<%= render partial: 'sample_idea' %>
	</div>
</div>