  <h1><%= @event.title %></h1>
  <span class="grey_italics"><%= @event.description %></span>
  <div class="rsvp_tip">
    <% unless @event.tipped? %>
      <h2>RSVP Count: </b> <span class="red"><%= @guests.count %></span></h2>
      <h2>Needs <%= @event.min - @guests.count %> to Tip. . . </h2>
    <% else %>
      <p class="event_on">Event is On!</p>
      <h2>RSVP Count: </b> <span class="red"><%= @guests.count %></span></h2>
    <% end %>
  </div>
  <hr>

  <div id="when">
    From:
    <p><%= @starttime %></p>
    To:
    <p><%= @endtime %></p>
    <% if @event.location == nil %>
    Location:<p>Not Specified</p>
    <% else %>
    Location: 
    <p><%= @event.location %></p>
    <% end %>
    <% if @event.map_location == nil %>
    Map:<br>
      <p id="no_map">no map</p>
    <% else %>
    Map:
      <div id="addresspicker_map"></div>  
      <div id="map"></div>
    <% end %>
  </div>

   <table id="guest_raster">
    <% @guests.each do |guest| %>
    	<tr>
        <td><%= link_to raster_profile_picture(guest) %></td>
        <td><%= guest.name %></td>
        <% unless current_user == guest %>
        <td id="follow_form">
          <% if current_user.following?(guest) %>
            <%= form_for(current_user.relationships.find_by_followed_id(guest),
                     html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-large" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build(followed_id: guest.id)) do |f| %>
              <div><%= f.hidden_field :followed_id %></div>
              <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
            <% end %>
          <% end %>
        </td>
        <% end %>
  	<% end %>
    </table>
    <%= render 'rsvp_form' %>
    <%= render 'nav_buttons' %>
  </div>



  </div>
</div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>