<% provide(:title, " | Idea") %>
<div id="event_show"> 
  <span class="grey_italics"><%= @event.description %></span>
  <div class="rsvp_tip">
    <% unless @event.tipped? %>
      <h3>Needs <span class="red"><%= @event.min - @guests.count %></span> to Tip. . . </h3>
    <% else %>
      <p class="event_on">Event is On!</p>
    <% end %>
    
  </div>

  <div id="title">
    <%= @event.title %>
      <div id="when">At <%= @starttime %> for <%= @event.duration %> hours</div>
  </div>
    
  <%= render 'rsvp_form' %>
</div>
    <% if false  %>
    <% if @event.map_location != nil %>
    Map:
      <input id="addresspicker_map" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" value= "<%= @event.map_location %>" type="hidden">
      <div id="map"></div>
    <% end %>
    <% end %>

<div id="event_info">
  <h2>RSVP Count: </b> <span class="red"><%= @guests.count %></span></h2>
  <div id="guest_raster">
   <table>
    <% @guests.each do |guest| %>
    	<tr>
        <td><%= link_to raster_profile_picture(guest) %></td>
        <td><%= guest.name %></td>
        <% unless current_user == guest %>
        <td id="follow_form">
          <% if current_user.following?(guest) %>
            <%= form_for(current_user.relationships.find_by_followed_id(guest),
                     html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-large" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build(followed_id: guest.id)) do |f| %>
              <div><%= f.hidden_field :followed_id %></div>
              <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
            <% end %>
          <% end %>
        </td>
        <% end %>
  	<% end %>
    </table>
  </div>

      <%= render 'social' %>

  <% if @event.visibility == "friends_of_friends" || @event.user == current_user %>
    <div id="invites_form">
      <%= render partial: 'invites_form' %>
    </div>
  <% end %>
    <div id="invites">
      <%= render partial: 'invites/invite', collection: @invites %>
    </div>

    <div id="comments_form">
      <%= render partial: 'comments_form' %>
    </div>

    <div>
      <%= render 'nav_buttons' %>
    </div>
  </div>
</div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>