<p id="notice"><%= notice %></p>

<p>
  <b>Start: <%= @event.starts_at %>
</p>

<p>
  <b>End: <%= @event.ends_at %>
</p>

<p>
  <b>Title: <%= @event.title %>
</p>

<p>
  <b>Description: <%= @event.description %>
</p>

<p>
  <b>Location: <%= @event.location %>
</p>

<%= render 'rsvp_form' %>

<!-- IF USER IS CREATOR, ALLOW EDIT -->
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
