<p id="notice"><%= notice %></p>

<p>
  <b>Start: <%= @event.starts_at %>
</p>

<p>
  <b>End: <%= @event.ends_at %>
</p>

<p>
  <b>Title: <%= @event.title %>
</p>

<p>
  <b>Description: <%= @event.description %>
</p>

<p>
  <b>Location: <%= @event.location %>
</p>

<% unless @event.user == current_user %>
  <%= render 'rsvp_form' %>
<% end %>

<% unless @event.tipped? %>
  <p>Needs <%= @event.min - @guests.count %> to Tip.</p>
<% else %>
  <p><strong>Event is On!</strong>
<% end %>

<p>
		<b> RSVP Count: </b> <%= @guests.count %>
</p>

<% if @guests.any? %>
 <div class="user_avatars">
  <% @guests.each do |guest| %>
  	<p><%= link_to gravatar_for(guest, size: 30) %><b/>
  	<%= guest.fullname %></p> |
      <% unless current_user == guest %>
      <div id="follow_form">
        <% if current_user.following?(guest) %>
          <%= form_for(current_user.relationships.find_by_followed_id(guest),
                   html: { method: :delete }) do |f| %>
            <%= f.submit "Unfollow", class: "btn btn-large" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.relationships.build(followed_id: guest.id)) do |f| %>
            <div><%= f.hidden_field :followed_id %></div>
            <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
	<% end %>
  </div>
<% end %>

<!-- IF USER IS CREATOR, ALLOW EDIT -->
<%= link_to 'Back', root_path %> 
<% if @event.user == current_user %> 
  | <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></td
<% end %>