<% provide(:title, " | #{@event.title}" ) %>
<% unless @event.user.background_file_size.nil? %>
    <div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @event.user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 0;top: 0;"></div>
<% end %>
<div class="event_show clearfix">
<% if user_signed_in? %>
  <ul class="social_buttons">
    <li>
      <%= render partial: 'social/twitter', locals: { :event => @event } %>
    </li>
    <li>
      <%= render partial: 'social/facebook', locals: { :event => @event } %>
    </li>
    <li>
      <%= render partial: 'social/email', locals: { :event => @event } %>
    </li>
  </ul>
<% end %>
  <% if user_signed_in? %>
    <div id="rsvpForm" class="join_group_buttons padding_10 <%= current_user.in?(@event) ? 'rsvp_blue' : '' %>">
  <% else %>
    <div id="rsvpForm" class="join_group_buttons padding_10">
  <% end %>
      <%= render partial: 'rsvp_form', :locals => { :event => @event }  %> 
    </div>

  <div class="event_title clearfix">
    <% if @event.has_image? %>
      <div class="promo_img">
        <%= image_tag @event.image(:large) %>
      </div>
      <% end %>
    <div class="padding_10">
      <%= @event.title %>
    </div>
    <% if @event.description.present? %>
      <div class="event_description padding_10"><%= @event.description %></div>
    <% end %>
    <% if user_signed_in? %>
      <div class="creator_settings">
        <u class="creator">
          <% if current_user.is_friends_with?(@event.user) %>
            <i class="icon-star" style="color:gold;"></i>
          <% elsif current_user.is_inmates_with?(@event.user) %>
            <i class="icon-star" style="color:lightgrey;"></i>
          <% end %>
          <%= @event.user.first_name_with_last_initial %>
        </u>
      <% if current_user == @event.user || current_user.admin? %> 
        <div class="event_buttons">
          <%= link_to edit_event_path(@event) do %>
            <span class="fadeInOrange"><i class="icon-cogs"></i> edit</span>
          <% end %>
          <% if @event.has_parent? %>
            <%= link_to event_path(@event.parent), class:"parent" do %>
              <span class="fadeInBlue"><i class="icon-cloud"></i> to idea</span>
            <% end %>
          <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
    <% if @event.price.present? || @event.address.present? || @event.link.present? %>
      <div class="event_details padding_10 clearfix">
        <div class="cost">
          <i class="icon-money"></i> <% if @event.price.present? %> <%= @event.nice_price %><% end %>
        </div>

        <div class="event_location">
          <% if @event.address.present? %>
            <%= link_to "http://mapof.it/#{@event.address}", target: "_blank" do %>
              <span class="fadeInOrange">
                <i class="icon-map-marker"></i>
              </span>
              <span style="font-size: 22px;"> <%= @event.address %></span>
            <% end %>
          <% else %>
            <i class="icon-map-marker"></i>
          <% end %>
        </div>

        <div class="event_link">
          <% if @event.link.present? %>
              <%= link_to "http://#{@event.link}", target: "_blank" do %>
                <i class="icon-link"></i> <%= @event.link[0..15] %>
            <% end %>
          <% else %>
              <i class="icon-link"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <% if @event.one_time? %>
    <div class="one_time_notice">
      <span style="color:white;"> One Time Idea</span>
    </div>
    <% elsif current_user.in?(@event) %>
      <%= link_to event_new_time_path(@event), id:"makeATime", class:"btn-success btn-new-time" do %>
        <span style="color:white;"><i class="icon-time"></i> Add a New Time</span>
      <% end %>
    <% end %>
  <% end %>

  <% @relevant_instances = @event.instances.reject { |e| e.over? } %>
  <%= render partial: 'events/show_time', collection: @relevant_instances, as: :event %>

  <% if @event.promo_vid.present? %>
    <div class="promo_vid">
      <%= raw(youtube_embed(@event.promo_vid)) %>
    </div>
  <% end %>

<% if user_signed_in? %>
	<!-- COMMENTS -->
  <%= render partial: 'comments_form' %>
<% end %>
</div>

  <div class="event_guests part clearfix">
    <%= render partial: 'shared/guest_count', locals: { :event => @event } %>
        <div id="fbSendInvite">    
      <% if user_signed_in? && @graph.present? %>
        <div id="fbSendInvite">
          <%= image_tag "social/fb.png", :width => "20", title: "Find Friends through Facebook" %> .invite facebook friends
        </div>
        <script>
          document.getElementById('fbSendInvite').addEventListener('click', function(){
            FB.ui({
              method: 'send',
              name: "<%= @event.title %>",
              <% if Rails.env.production? %>
              link: "<%= event_url(@event) %>",
              <% else %>
              link: "http://www.hoos.in",
              <% end %>
              picture: "<%= if @event.has_image? then @event.image(:medium) end %>",
              <% if @event.next_instance.present? %>
              description: "<%= @event.next_instance.start_date_time + ' - ' + @event.url_safe_description %>"
              <% else %>
              description: "<%= @event.short_description %>"
              <% end %>
            })
          });
        </script>
      <% elsif user_signed_in? %>
        <div class="fb_button" title="add Facebook to Find Friends">
          <div id="auth-status">
            <a href="#" id="auth-loginlink" class="fb-login-button" ><%= image_tag "social/fb.png", :width => "30" %> <span class='share_on_fb'>share w/ facebook</span></a>
          </div>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.in?(@event) %>
        <%= render partial: 'shared/user', collection: [@event.user], as: :user %>
        <%= render partial: 'shared/user', collection: @event.guests - [@event.user], as: :user %>
      <% else %>
        <%= render partial: 'shared/user_not_inmate', collection: [@event.user], as: :user %>
        <%= render partial: 'shared/user_not_inmate', collection: @event.guests - [@event.user], as: :user %>
      <% end %>
    <% else %>
      <%= render partial: 'shared/user_not_inmate', collection: [@event.user], as: :user %>
      <%= render partial: 'shared/user_not_inmate', collection: @event.guests - [@event.user], as: :user %>
    <% end %>
    <% if @event.maybes.count - @event.guests.count > 0 %>
      <div class="divider_line"></div>
      <span id="invite_count"><%= @event.maybes.count - @event.guests.count %></span> 
    <% end %>
    <%= render partial: 'shared/user', collection: @event.maybes - @event.guests - [@event.user], as: :user %>
  </div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<% if false %>
<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.zone.now - 7.seconds %>

  <%= link_to find_friends_path, :remote => true, class: "find_friends fancybox.ajax", style: "display:none;" do %>
    <%= image_tag "social/fb.png", :size => "50x50", style: "display:none;"  %>
  <% end %>

  <script> 
    function Func1() { 
      //alert("ahh!")
      $(".find_friends").click();
      //clickLink(".find_friends")
      }
    function Func1Delay() { 
      setTimeout("Func1()", 1000);
      }
    document.ready(Func1Delay());
  </script>
<% end %>
<% end %>
