<% provide(:title, " | #{@event.title}" ) %>
<% unless @event.user.background_file_size.nil? %>
    <div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @event.user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 0;top: 0;"></div>
<% end %>
<div class="event_show clearfix">
    <ul class="social_buttons">
    <li>
      <%= render partial: 'social/email', locals: { :event => @event } %>
    </li>
    <li>
      <%= render partial: 'social/twitter', locals: { :event => @event } %>
    </li>
    <li>
      <%= render partial: 'social/pinterest', locals: { :event => @event } %>
    </li>
    <li>
      <%= render partial: 'social/facebook', locals: { :event => @event } %>
    </li>
  </ul>
  <% if user_signed_in? %>
    <div id="rsvpForm" class="join_group_buttons <%= current_user.in?(@event) ? 'rsvp_blue' : '' %>">
  <% else %>
    <div id="rsvpForm" class="join_group_buttons">
  <% end %>
      <%= render partial: 'rsvp_form', :locals => { :event => @event }  %> 
    </div>
  <div class="event_title clearfix">
    <div class="eventTitle">
      <%= @event.title %>
    </div>
    <% if user_signed_in? %>
    <% if @event.user == current_user || current_user.admin? %> 
      <div class="ribbon-wrapper">
        <div class="ribbon-front">
          creator
        </div>
        <div class="ribbon-edge-topleft"></div>
        <div class="ribbon-edge-topright"></div>
        <div class="ribbon-edge-bottomleft"></div>
        <div class="ribbon-edge-bottomright"></div>
        <div class="ribbon-back-left"></div>
        <div class="ribbon-back-right"></div>
      </div>
      <div class="event_buttons">
        <%= link_to edit_event_path(@event) do %>
          <span class="fadeInOrange"><i class="icon-cogs"></i> edit</span>
        <% end %>
        <% if @event.has_parent? %>
          <%= link_to event_path(@event.parent), class:"parent" do %>
            <span class="fadeInBlue"><i class="icon-cloud"></i> to idea</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
  <% if @event.description.present? %>
    <div class="event_description"><%= @event.description %></div>
  <% end %>
	<% if @event.price.present? || @event.address.present? || @event.link.present? %>
  <div class="when clearfix">
    <% if @event.price.present? %>
      <div class="cost">
        <i class="icon-money"></i> <%= @event.nice_price %>
      </div>
    <% end %>
    <% if @event.address.present? %>
      <div class="event_location">
        <%= link_to "http://mapof.it/#{@event.address}", target: "_blank" do %>
          <span class="fadeInOrange">
            <i class="icon-map-marker"></i>
          </span>
        <% end %>
        <span style="font-size: 22px;"> <%= @event.address %></span>
      </div>
    <% end %>
    <% if @event.link.present? %>
    <div class="event_link">
      <%= link_to "http://#{@event.link}", target: "_blank" do %>
        <i class="icon-link"></i> <%= @event.link[0..15] %>
      <% end %>
    </div>
    <% end %>
	</div>
  <% end %>

  <% if @event.has_image? %>
    <div class="promo_img">
      <%= image_tag @event.image(:large) %>
    </div>
  <% end %>

  <% if @event.one_time? %>
    <%= render partial: 'events/show_time', locals: { :event => @event }%>
  <% else %>
    <% @relevant_instances = @event.instances.reject { |e| e.over? } %>
    <%= render partial: 'events/show_time', collection: @relevant_instances, as: :event %>
  <% end %>

  <% if !@event.one_time? %>
    <%= link_to event_new_time_path(@event), id:"makeATime", class:"btn-success btn-new-time" do %>
      <span style="color:white;"><i class="icon-time"></i> Add a New Time</span>
    <% end %>
  <% end %>

  <% if @event.promo_vid.present? %>
    <div class="promo_vid">
      <%= raw(youtube_embed(@event.promo_vid)) %>
    </div>
  <% end %>

<% if user_signed_in? %>
	<!-- COMMENTS -->
  <%= render partial: 'comments_form' %>
<% end %>
</div>

  <div class="event_guests part clearfix">
    <%= render partial: 'shared/guest_count', locals: { :event => @event } %>
    <% if user_signed_in? %>
      <% if current_user.in?(@event) %>
        <%= render partial: 'shared/user', collection: @event.guests, as: :user %>
      <% else %>
        <%= render partial: 'shared/user_not_inmate', collection: @event.guests, as: :user %>
      <% end %>
    <% else %>
      <%= render partial: 'shared/user_not_inmate', collection: @event.guests, as: :user %>
    <% end %>
    <% if @event.maybes.count - @event.guests.count > 0 %>
      <div class="divider_line"></div>
      <span id="invite_count"><%= @event.maybes.count - @event.guests.count %></span> 
    <% end %>
    <%= render partial: 'shared/user', collection: @event.maybes - @event.guests, as: :user %>
  </div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if false %>
<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.zone.now - 7.seconds %>

  <%= link_to find_friends_path, :remote => true, class: "find_friends fancybox.ajax", style: "display:none;" do %>
    <%= image_tag "social/fb.png", :size => "50x50", style: "display:none;"  %>
  <% end %>

  <script> 
    function Func1() { 
      //alert("ahh!")
      $(".find_friends").click();
      //clickLink(".find_friends")
      }
    function Func1Delay() { 
      setTimeout("Func1()", 1000);
      }
    document.ready(Func1Delay());
  </script>
<% end %>
<% end %>
