  <h3><%= @event.title %></h3>
  <span class="grey_italics"><%= @event.description %></span>
  
  <hr>

  <div id="when">
    From:
    <p><%= @starttime %></p>
    To:
    <p><%= @endtime %></p>
    <% unless @event.location == nil %>
    Location: 
    <p><%= @event.location %></p>
    <% end %>
    <% unless @event.map_location == nil %>
      <div id="show_map"></div>
    <% else %>
      <div id="no_map"></div>
    <% end %>
  </div>

  <div class="rsvp_tip">
    <%= render 'rsvp_form' %>
    <% unless @event.tipped? %>
      <h2>RSVP Count: </b> <span class="red"><%= @guests.count %></span></h2>
      <h2>Needs <%= @event.min - @guests.count %> to Tip. . . </h2>
    <% else %>
      <p class="event_on">Event is On!</p>
      <h2>RSVP Count: </b> <span class="red"><%= @guests.count %></span></h2>
    <% end %>
  </div>

   <table id="guest_raster">
    <% @guests.each do |guest| %>
    	<tr>
        <td><%= link_to gravatar_for(guest, size: 30) %></td>
        <td><%= guest.fullname %></td>
        <% unless current_user == guest %>
        <td id="follow_form">
          <% if current_user.following?(guest) %>
            <%= form_for(current_user.relationships.find_by_followed_id(guest),
                     html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn btn-large" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build(followed_id: guest.id)) do |f| %>
              <div><%= f.hidden_field :followed_id %></div>
              <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
            <% end %>
          <% end %>
        </td>
        <% end %>
  	<% end %>
    </table>

</div>

<%= render 'nav_buttons' %>

</div>
