<% unless @event.user.background_file_size.nil? %>
    <div id="backgroundImg" class="background-img" style="z-index: -1;position: fixed;background: url(<%= @event.user.background.url(:original) %>);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;width: 100%;height: 100%;left: 0;top: 0;"></div>
<% end %>
<div class="container tall">
  <div class="row">
    <div class="col-sm-4 well">
      <div class="promo-img">
        <%= image_tag @event.image(:large) if @event.has_image? %>
      </div>
      <div class="event-title">
        <%= @event.title %> <%= raw(@event.visibility_icon) %>
      </div>
      <div><%= @event.description if @event.description.present? %></div>
      <div class="clear-both">
        <u class="creator pull-left">
          <% if current_user.is_friends_with?(@event.user) %>
            <i class="icon-star" style="color:gold;"></i>
          <% elsif current_user.is_intros_with?(@event.user) %>
            <i class="icon-star" style="color:lightgrey;"></i>
          <% end %>
          <%= @event.user.first_name_with_last_initial %>
        </u>
        <% if current_user == @event.user || current_user.admin? %> 
          <div class="pull-left">
            <%= link_to edit_event_path(@event) do %>
              <span class="fadeInOrange"><i class="icon-cogs"></i></span>
            <% end %>
          </div>
        <% end %>
     </div>
      <div class="clear-both">
        <div class="cost">
          <%= ("<i class='icon-money'></i>" + " " + @event.nice_price) if @event.nice_price.present? %>
        </div>

        <div class="event_location">
          <% if @event.address.present? %>
            <%= link_to "http://mapof.it/#{@event.address}", target: "_blank" do %>
              <span class="fadeInOrange">
                <i class="icon-map-marker"></i>
              </span>
              <span style="font-size: 22px;"> <%= @event.address %></span>
            <% end %>
          <% end %>
        </div>

        <div class="event_link">
          <%= link_to "http://#{@event.link}", target: "_blank" if @event.link.present? do %>
            <i class="icon-link"></i> <%= @event.link[0..15] %>
          <% end %>
        </div>
      </div>

      <div class="promo_vid">
        <%= raw(youtube_embed(@event.promo_vid)) if @event.promo_vid.present?%>
      </div>

      <div class="instances">
        <ul class="clearfix">
          <% @event.future_instances.each do |fi| %>
            <li class="clearfix">
              <div class="col-sm-5"><%= fi.nice_starts_at %></div>
              <div class="col-sm-1"><%= link_to "x", event_instance_path(@event, fi), :method => :delete, id:"deleteInstance" %></div>
              <div class="col-sm-5"><%= render partial: 'rsvps/form', locals: { instance: fi } %></div>
            </li>
          <% end %>
        </ul>
      </div>

      <% if @event.one_time? %>
      <div class="one_time_notice">
        <span style="color:white;"> One Time Idea</span>
      </div>
      <% elsif current_user.in?(@event) %>
        <%= form_for [@event, Instance.new] do |f| %>
          <div class="clear-both clearfix">
            <div class="pull-left">
              <%= f.label :starts_at, "Possible Time(s)" %></br>
              <%= f.text_field :starts_at, class:"col-sm-12 datepicker", autocomplete:"off" %>
            </div>
            <div class="pull-left">
              <%= f.label :duration, "Duration" %></br>
              <%= f.text_field :duration, class:'col-sm-3', placeholder:"1.5" %>
            </div>
          </div>
          <%= f.submit "Add Time", class:"btn btn-success pull-right" %>
        <% end %>
        <div class="clear-both text-right">
          <a href="#" id="makeATime">new time</a>
        </div>
      <% end %>
    </div>

    <div class="col-sm-5 well">
      <%= render partial: 'comments_form' %>
    </div>

    <% if user_signed_in? %>
    <div class="col-sm-3 well">
      <div id="rsvpForm" class="join_group_buttons padding_10">
        <%= render partial: 'rsvp_form', :locals => { :event => @event }  %> 
      </div>
    </div>
    <div class="col-sm-3 pull-right clear-right well">
      <h5>.invite</h5>
        <% if @graph.present? %>
          <div id="fbSendInvite">
            <%= image_tag "social/fb.png", :width => "20", title: "Find Friends through Facebook" %> <span class='share_on_fb'>.invite facebook friends</span>
          </div>
          <script>
            document.getElementById('fbSendInvite').addEventListener('click', function(){
              FB.ui({
                method: 'send',
                name: "<%= @event.title %>",
                <% if Rails.env.production? %>
                link: "<%= event_url(@event) %>",
                <% else %>
                link: "http://www.hoos.in",
                <% end %>
                picture: "<%= if @event.has_image? then @event.image(:medium) end %>",
                <% if @event.next_instance.present? %>
                description: "<%= @event.next_instance.start_date_time + ' - ' + @event.url_safe_description %>"
                <% else %>
                description: "<%= @event.url_safe_description %>"
                <% end %>
              })
            });
          </script>
        <% else %>
          <div class="fb_button" title="add Facebook to Find Friends">
            <div id="auth-status">
              <a href="#" id="auth-loginlink" class="fb-login-button" ><%= image_tag "social/fb.png", :width => "30" %> <span class='share_on_fb'>.invite facebook friends</span></a>
            </div>
          </div>
        <% end %>
        <ul class="inline">
          <li>
            <%= render partial: 'social/twitter', locals: { :event => @event } %>
          </li>
          <li>
            <%= render partial: 'social/facebook', locals: { :event => @event } %>
          </li>
          <li>
            <%= render partial: 'social/email', locals: { :event => @event } %>
          </li>
        </ul>
      </div>
    <% end %>
      <div class="col-sm-3 pull-right clear-right well">
        <h5>hoos.in?</h5>
        <%= render partial: 'shared/guest_count', locals: { :event => @event } %>
        <% if user_signed_in? %>
          <% if current_user.in?(@event) %>
            <%= render partial: 'shared/user', collection: [@event.user], as: :user %>
            <%= render partial: 'shared/user', collection: @event.guests - [@event.user], as: :user %>
          <% else %>
            <%= render partial: 'shared/user_not_inmate', collection: [@event.user], as: :user %>
            <%= render partial: 'shared/user_not_inmate', collection: @event.guests - [@event.user], as: :user %>
          <% end %>
        <% else %>
          <%= render partial: 'shared/user_not_inmate', collection: [@event.user], as: :user %>
          <%= render partial: 'shared/user_not_inmate', collection: @event.guests - [@event.user], as: :user %>
        <% end %>
        <% if @event.maybes.count - @event.guests.count > 0 %>
          <div class="divider_line"></div>
          <span id="invite_count"><%= @event.maybes.count - @event.guests.count %></span> 
        <% end %>
        <%= render partial: 'shared/user', collection: @event.maybes - @event.guests - [@event.user], as: :user %>
      </div>
  </div>
</div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>