<% provide(:title, " | Idea") %>
<div class="event_show">
  <%= render 'title' %>
  <%= render 'map' %>

  <% if @event.user.id == current_user.id || @event.guests_can_invite_friends? %>
    <%= render 'social', locals: { :event => @event } %>
  <% end %>

  <div class="invites_guests">
      <div class="event_show_rasters">
    <% if (@event.guests_can_invite_friends? && current_user.rsvpd?(@event)) || @event.user == current_user %>
        <p>Share with Friends</p>
        <div id="invite_raster" class="show_raster part">
          <%= render partial: 'invite_raster', :locals => { :event => @event } %>
        </div>
    <% else %>
        <p>Share with Friends</p>
        <div id="invite_raster" class="hide show_raster part"></div>
    <% end %>
  </div>

    <div class="event_show_rasters">
      <p><span id="invite_count"><%= @invited_users.count + @email_invites.count %></span> Maybes</p>
      <div id="invites" class="show_raster part">
        <%= render partial: 'events/invites' %>
      </div>
    </div>

    <div class="event_show_rasters">
      <% if @event.tipped? %>
        <p><%= @guests.count %> Going (Tipped!)</p>
      <% else %>
        <p class="destroy"><%= @guests.count %> / <%= @event.min %> Going (Not Yet Tipped)</p>
      <% end %>
      <div class="show_raster part">
        <%= render 'guests' %>
      </div>
    </div>
      <% if (@event.guests_can_invite_friends? && current_user.rsvpd?(@event)) || @event.user == current_user %>
  <div class="invite_by_email part">
    <p>Share by Email</p>
    <%= form_for([@event, @event.email_invites.build]) do |f| %>
        <%= f.text_area :email, rows: "2", placeholder: "Seperate Emails with Comma" %>
        <%= f.text_area :message, rows: "3", placeholder: "Message" %>
        <%= f.submit raw("&#xf0e0; Send"), class: "btn btn-primary fa-input" %>
    <% end %>
  </div>
  <% else %>
   <div class="hide invite_by_email part">
    <p>Share by Email</p>
    <%= form_for([@event, @event.email_invites.build]) do |f| %>
        <%= f.text_area :email, rows: "2", placeholder: "Seperate Emails with Comma" %>
        <%= f.text_area :message, rows: "3", placeholder: "Message" %>
        <%= f.submit raw("&#xf0e0; Send"), class: "btn btn-primary fa-input" %>
    <% end %>
    </div>
  <% end %>
  </div>
      <%= render partial: 'comments_form' %>

</div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>

  <%= link_to find_friends_path, :remote => true, class: "find_friends fancybox.ajax", style: "display:none;" do %>
    <%= image_tag "social/fb.png", :size => "50x50", style: "display:none;"  %>
  <% end %>

  <script> 
    function Func1() { 
      //alert("ahh!")
      $(".find_friends").click();
      //clickLink(".find_friends")
      }
    function Func1Delay() { 
      setTimeout("Func1()", 1000);
      }
    document.ready(Func1Delay());
  </script>
<% end %>
