<% provide(:title, " | Idea") %>
<div class="event_show"> 
  <%= render 'title' %>
  <% if @event.address.length > 0 %>
    <%= render 'map' %>
  <% end %>
  <% if @event.user == current_user || @event.guests_can_invite_friends %>
    <%= render 'social' %>
  <% end %>

  <div class="invites_guests">
    <% if @event.guests_can_invite_friends? || @event.user == current_user %>
      <div class="event_show_rasters">
        <p>Invite Friends</p>
        <div id="invite_raster" class="raster element">
          <%= render partial: 'invite_raster', locals: { :event => @event } %>
        </div>
      </div>
    <% end %>

    <div class="event_show_rasters">
      <p>Invited: <span id="invite_count"><%= @invited_users.count + @email_invites.count %></span></p>
      <div id="invites" class="raster element">
        <%= render partial: 'events/invites' %>
      </div>
    </div>

    <div class="event_show_rasters">
      <p>Going: <%= @guests.count %></p>
      <div class="raster element">
        <%= render 'guests' %>
      </div>
    </div>

  </div>

  <div class="invite_by_email element">
    <p>Invite friends by Email</p>
    <%= form_for([@event, @event.email_invites.build]) do |f| %>
        <%= f.text_area :email, rows: "5", placeholder: "Invite by Email Address" %>
        <%= f.submit raw("&#xf0e0;"), class: "btn btn-primary fa-input" %>
    <% end %>
  </div>

  <%= render partial: 'comments_form' %>

</div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if session[:graph] && current_user.sign_in_count == 1 && current_user.last_sign_in_at > Time.now - 7.seconds %>

  <%= link_to find_friends_path, :remote => true, class: "find_friends fancybox.ajax", style: "display:none;" do %>
    <%= image_tag "social/fb.png", :size => "50x50", style: "display:none;"  %>
  <% end %>

  <script> 
    function Func1() { 
      //alert("ahh!")
      $(".find_friends").click();
      //clickLink(".find_friends")
      }
    function Func1Delay() { 
      setTimeout("Func1()", 1000);
      }
    document.ready(Func1Delay());
  </script>
<% end %>
