<% provide(:title, " | Idea") %>
<aside>
  <%= render 'layouts/logo_and_user' %>

  <% if @event.visibility == "friends_of_friends" || @event.user == current_user %>
    <div id="invites_form">
        <%= form_for([@event, @event.invites.build]) do |f| %>
            <%= f.text_field :email, placeholder: "Invite by Email Address" %>
            <%= f.submit raw("&#xf0e0;"), class: "btn-primary fa-input" %>
        <% end %>
    </div>
    <%= render partial: 'invite_raster', locals: { :event => @event } %>
  <% end %>
</aside>

<div id="event_show" class="container"> 
  <div class="rsvp_tip">
    <% if @event.tipped? %>
      <p class="event_on">Its On!</p>
    <% else %>
      <h3>Needs <span class="red"><%= @event.min - @guests.count %></span> more people to Tip. . . </h3>
    <% end %>
  </div>
  <div id="title">
    <%= @event.title %>
      <div id="when">At <%= start_time(@event) %> for <%= @event.duration %> hours</div>
  </div>
  <%= render 'nav_buttons' %>
  
  <% if @event.location != nil %>
    <div>
      Map:
      <input id="addresspicker_map" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" value= "<%= @event.map_location %>" type="hidden">
      <div id="map"></div>
    </div>
  <% end %>

  <div>
    <div id="guest_raster">
     <p>Guests:(<%= @guests.count %>)</p>
      <% @guests.each do |guest| %>
      <table>
      	<tr>
          <td><%= raster_profile_picture(guest) %></td>
          <td><%= guest.name %></td>
          <td>
            <%= render partial: 'events/follow_form', locals: { user: guest } %>
          </td>
        </tr>
      </table>
    	<% end %>
      <p>Invites:(<%= @invited_users.count + @invites.count %>)</p>
      <% unless @invited_users.empty? %>
        <% @invited_users.each do |iu| %>
          <table>
            <tr>
              <td><%= raster_profile_picture(iu) %></td>
              <td><%= iu.name %></td>
              <td><%= render :partial => 'events/follow_form', :locals => { :user => iu } %></td>
            </tr>
          </table>  
        <% end %>
      <% end %>
      <%= render partial: 'invites/invite', collection: @invites %>
    

    </div>
  </div>
     <%= render partial: 'comments_form' %>
  </div>
</div>

<!-- Twitter API script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- FACBEOOK JS SDK (for Like button in event#show) -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=327936950625049";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>