<a href="mailto:?
subject=you .in? <%= event.future_instances.any? ? "#{event.next_instance.start_time}" : ''  %>&
body=hi,%0a%0aI want to .invite you to an idea:%0a%0a    What:  <%= event.title %>%0a%0a    Details: <%= event.description %>%0a%0a    When:  <%= event.future_instances.any? ? "#{event.next_instance.start_date_time}" : ''  %>%0a%0aYou .in? Join and share here: <%= event_url(event) %>" class="email_share">
  <span class="orange"><i class="icon-envelope-alt"></i></span><br>email
</a>