<% if event.is_public? || event.guests_can_invite_friends? %>
  <a href="https://www.facebook.com/dialog/feed?
    app_id=327936950625049&
    link=<%= event_url(event) %>&
    picture=<%= event.image(:medium) if event.has_image? %>&
    name=<%= event.title %>&
    description=<%=  event.start_date_time %>&
    redirect_uri=<%= event_url(event) %>" class="email_share" target="_blank">
    <span class="fb_blue"><i class="icon-facebook-sign"></i></span><br>share
  </a>
<% else %>
  <a href="https://www.facebook.com/dialog/send?
    app_id=327936950625049&
    name=<%= event.title %>&
    link=<%= event_url(event) %>&
    picture=<%= event.image(:medium) if event.has_image? %>&
    description=<%=  event.start_date_time %>&
    redirect_uri=<%= event_url(event) %>" class="email_share" target="_blank">
    <span class="fb_blue"><i class="icon-facebook-sign"></i></span><br>share
  </a>
<% end %>