<% provide(:title, " | log.in") %> 
<div id="sign_in" class="part">
	<h2>log.in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

	<div>
  <% if devise_mapping.rememberable? -%>
  <div style="float:left;"><%= f.check_box :remember_me, checked: true %><%= f.label :remember_me %></div>
  <% end -%>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  	<div style="float:right;font-size: 13px;"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>
	<% end -%>
  </div>
  <div><%= f.submit "log.in", class: "btn btn-landing btn-primary" %></div>

<% end %>

<%= render :partial => "devise/shared/links" %>
</div>