<div id="clone_form" class="event_form clone_form">
 <%= form_for @clone, url: { controller: "events", action: "create" }, html: { id: "new_event_form" } do |f| %>
		<div class="spinOffImg">
			<div class="spinOffStartsAt">
				<%= @clone[:starts_at].strftime("%l:%M%P, %a %b %e") %> for <%= @clone[:duration] %>hrs
				<%= f.hidden_field :chronic_starts_at, value:"#{@clone[:starts_at]}" %>
				<%= f.hidden_field :duration, value:"#{@clone[:duration]}" %>
			</div>
			
			<%= image_tag "#{@clone.suggestion.promo_img.url(:large)}" %>
			
			<div class="spinOffTitle">
	    	<%= @clone[:title] %>
	    	<%= f.hidden_field :title, value:"#{@clone[:title]}" %>
	  	</div> 
		</div> 

	<div class="invitation_options" style="display: block; clear:both;">
	  <u>
			<%= f.label "Share Idea with All Your Friends" %><br>
			<i class="icon-group questionMark"></i>
			<input checked="checked" id="invite_all_friends" name="invite_all_friends" type="checkbox" class="switch">    			
		</u>
	  <u>
	  	<%= f.label "Friends can share Idea with Friends" %><br>
			<i class="icon-bullhorn questionMark"></i>
			<%= f.check_box :guests_can_invite_friends, class: "switch", checked: "checked" %>
		</u>
	</div>

	<%= render partial: 'shared/clone_options', locals: { :f => f } %>

	<%= f.hidden_field :suggestion_id %>

	<span class="new_idea_button"><%= f.submit 'Create Idea', :class => 'btn btn-large btn-primary' %></span>
<% end %>
</div>