<div class="event suggestion" data-suggestion-id="<%= suggestion.id %>">
	<div class="event_time">			
		<% if suggestion.starts_at.hour > 4 && suggestion.starts_at.hour < 12 %>
			<%= image_tag "morning.png" %>
		<% elsif suggestion.starts_at.hour > 12 && suggestion.starts_at.hour < 18 %>
			<%= image_tag "noon.png" %>
		<% else %>
			<%= image_tag "night.png" %>
		<% end %>
		<span><%= event_start_time(suggestion) %> - <%= event_end_time(suggestion) %></span>
	</div>
	<div class="event_promo_img">
		<%= image_tag suggestion.promo_img.url(:medium) %>
	</div>
	<div class="rsvp_check">
		<%= link_to clone_path(:suggestion_id => suggestion.id), class:"btn_icon btn_icon_rsvp fancybox.ajax", id:"clone", title:"Make Your Idea", remote:true do %>
			<i class="icon-plus"></i>
		<% end %>
	</div>

	<div class="event_blerb"><%= suggestion.short_event_title %></div>
	<div class="host">by: <%= suggestion.user.first_name.capitalize %> 
			<% if suggestion.user.last_name %>
				<%= suggestion.user.last_name.capitalize%>
			<% end %> 
	</div>
	<% if suggestion.family_friendly %>
		<div class="family_friendly"><i class="icon-home"></i></div>
	<% end %>
</div>