<div class="vendor_dash">
<h1><%= current_user.name %>'s vendor dashboard</h2>

<ul>
	<% @suggestions.each do |s| %>
	<li class="part">
		<%= image_tag s.promo_img.url(:medium), class:"suggestion_promo_img" %>
		<div class="vendorEventDetails">
			<div>
				<span style="font-weight:bold;"><%= s.start_time %></span>
			</div>
			<div class="suggestionTitle">
				<%= s.title %>
			</div>
			<div class="clones">
				<h4>Spin Offs</h4>
				<ul>
					<% s.events.each do |clone| %>
					<li>
						<table>
							<tr>
								<td><%= raster_profile_picture(clone.user) %></td>
								<td><%= clone.user.name %></td>
								<td>Invites: <%= clone.invitations.count %></td>
								<td>RSVPs: <%= clone.rsvps.count - 1 %></td>
							</tr>
						</table>
					</li>
					<% end %>
			</div>
		</div>
		<ul class="suggestion_options">
			<li>
	      <%= link_to edit_suggestion_path(s) do %>
	        <span class="fadeInOrange"><i class="icon-wrench"></i></span>
	      <% end %>
	    </li>
	    <li>
		<%= link_to s, method: :delete, confirm: "Cofirm: DESTROY this suggestion?" do %>
			<span class="fadeInRed"><i class="icon-trash"></i></span>
		<% end %>
	    </li>
	  </ul>
	</li>
	<% end %>
</ul>
</div>