<div id="new_suggestion" class="event_form">
	<h2>New Suggestion</h2>
	 <%= form_for @suggestion, html: { id: "new_event_form" } do |f| %>
	  <% if @suggestion.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <p>
	    <%= label :title, "Suggestion" %><br/>
	    <%= f.text_area :title, id: "new_idea_title", :rows => 2, class: "required", autocomplete: "off" %>
	  </p>  
	  <p>
	   <%= label :starts_at, "When does it start?" %>
	   <%= label :duration, "How Long?", class: "duration" %><br/>
	   <%= f.text_field :chronic_starts_at, id: "datetime", class: "required starts_at", autocomplete: "off" %>
	   <%= f.text_field :duration, placeholder:"#hrs", class: "required duration", autocomplete: "off"  %>
	  </p>
	  <p>
	    <%= label :category, "Category" %><br/>
	    <div id="categories">
	    	<% Suggestion::CATEGORIES.each do |c| %>
		      <%= radio_button "suggestion", :category, "#{c}", id:"radio#{(Suggestion::CATEGORIES.index(c) + 1)}" %>
		      <%= label_tag "radio#{(Suggestion::CATEGORIES.index(c) + 1)}", "#{c.humanize}" %>
	    	<% end %>
    	</div>
	  </p>  

	  <p>
	<div><%= f.label :display_image %><br />
  <%= f.file_field :promo_img %></div>
  	</p>
<p>
  <div class="invitation_options" style="display: block; clear:both;">
		<u>
			<%= f.label "Price" %><br>
			<span class="dollar">$ </span><%= f.text_field :price %>
		</u>

		<u>
		  <%= f.label :max_attendees, "Max Attendees" %> <br/>
		  <%= f.text_field :max, :class => 'input-mini', value: 50, autocomplete: "off" %>
		</u>
	</div>
</p>

		<p>
	  	<%= f.label "Family Friendly?" %><br>
			<i class="icon-home questionMark"></i>
			<%= f.check_box :family_friendly, class: "switch" %>
		</p>

	<div id="addLinkp">
		<%= label_tag "Link" %></br>
		http://<%= f.text_field :link, autocomplete: "off", class:"link" %>
	</div>

	<div id="addmapp" style="display: none;">
	  <%= label_tag "Map" %><br/>
	  <%= f.text_field :address, id: "addresspicker_map", class: "ui-autocomplete-input", placeholder: "Map location..." %>
	  <%= f.hidden_field :latitude, id: "lat" %>
	  <%= f.hidden_field :longitude, id: "lng" %>
	  <div id="map" class="new_idea_map"></div>
	</div>
	
	<% if false %>
	<div>
		<ul>
		  <li id="addLink" title="Add a Link"><i class="icon-link"></i></li>
		  <li id="addmap" title="Add a Map"><i class="icon-map-marker"></i></li>
		</ul>
	</div>
	<% end %>
	 

	<span class="new_idea_button"><%= f.submit 'Post Suggestion', :class => 'btn btn-large btn-primary' %></span>

	<% end %>
</div>