<footer>
	<p>
	  <nav>
	    <ul>
	      <li><%= link_to "About",   about_path %></li>
	      <li><%= link_to "Blog", "http://www.hoos.in/blog" %></li>
	      <li><%= link_to "Opportunities", careers_path %></li>
	      <li><%= link_to "Terms & Privacy", terms_path, :html => { :target => "_blank" } %></li>
	      <li><%= link_to "Works Best With Chrome", "https://www.google.com/intl/en/chrome/browser/?&brand=CHMB&utm_campaign=en&utm_source=en-ha-na-us-sk&utm_medium=ha", target: "_blank" %></li>
	      <% if user_signed_in? %>
	      	<% if current_user.admin? %>
	      		<li><%= link_to "Create a Vendor Account", vendor_splash_path, class:"red" %></li>
	      	<% end %>
	      <% end %>
	    </ul>
	  </nav>
	</p>
</footer>