<% if user_signed_in? %>
<header>
  <%= render partial: 'shalendar/joyride' %>
  <nav>
      <%= render 'layouts/logo' %>
      <div class="instructions">.instructions</div>
      <%= render 'shared/friend_search' %>
      <% if params[:action] == 'home' %>
      <div class="navigation">
        <span class="options">
<!--           <span id="reload"><i class="icon-repeat"></i></span> -->
          <% if current_user.admin? %>
            <%= link_to admin_dashboard_path do %>
              <span class="fadeInRed"><i class="icon-magic"></i></span>
            <% end %>
          <% end %>
          <span id="jrIdeas" class="bold">all</span> |
          <span id="jrFriendsIdeas"><%= current_user.relevant_invitations.count %> .invites</span> | 
          <span id="jrPlans"><%= current_user.ins_count %> .ins</span> |
          <span id="jrMine"><%= current_user.mine_count %> mine</span> |
          <span id="jrCityIdeas"><%= public_count %> public</span> ||
          <span id="jrCalendar"><i class="icon-calendar"></i> view</span>
        </span>
        <%= render 'shared/picture_dropdown' %>
      </div>
      <% else %>
      <div class="navigation">
        <%= render 'shared/picture_dropdown' %>
      </div>
      <% end %>
      <div class="new_idea_button"><%= render 'shared/new_idea_button' %></div>
<!--       <div class="friend_only hide_all" title="Only Show My Plans">
        <span class="fadeInBlue"><i class="icon-ok-sign"></i> <span class="only">only</span>
      </div> -->
<!--       <div id="hide_public" class="friend_only" title=".invites only">
        <span class="fadeInOrange"><i class="icon-envelope-alt"></i> <span class="only">only</span></span>
      </div> -->
  </nav>

    <% if false %>
      <!-- CITY ICON -->
      <div class="city-icon">
        <%= link_to yellow_pages_path, :remote => true, class:"city_vendors fancybox.ajax" do %>
          <%= image_tag @current_city.icon.url(:icon) %>
        <% end %>
      </div>
    <% end %>
    </div>
  </nav>
  <%= render 'layouts/alerts' %>
</header>

<% else %> 
<!-- IF NOT SIGNED IN -->
<header>
    <%= render partial: 'shalendar/joyride' %>
  <nav>
    <div class="sky">
      <%= render 'layouts/logo' %>
      <% unless params[:controller] == "sessions" || params[:controller] == "registrations" || params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
        <% unless params[:action] == "show" || user_signed_in? == false %>
        <div class="instructions">
          .instructions
        </div>
        <% end %>
      <% end %>
    </div>
    <% unless params[:action] == "landing" || params[:action] == "new" %>
    <div class="city_title">
      <%= @current_city.name %>
    </div>
    <% end %>
  </nav>
  <%= render 'layouts/alerts' %>
</header>
<% end %>
