<header>
    <%= render partial: 'shalendar/joyride' %>
  <nav>
    <div class="sky">
      <% unless current_user.vendor? %>
        <%= render 'shared/friend_search' %>
      <% end %>
      <%= render 'layouts/logo' %>

<% if user_signed_in? %>

  <div class="right_header">
    <div>
      <%= render 'shared/picture_dropdown' %>
    </div>
    <% if false %>
      <div class="name"><%= link_to user_path(current_user) do %><%= current_user.name %><% end %>
    <% end %>
      <% if current_user.admin? %>
        <%= link_to admin_dashboard_path do %>
          <span class="fadeInRed"><i class="icon-magic"></i></span>
        <% end %>
      <% end %>
    <div>
    <ul>
      <li id="jrActivity">
        <%= link_to user_path(current_user) do %>
          <span class="fadeInBlue">
            <%= current_user.events.count %> <i class="icon-cloud"></i> 
            <span id="headerText">ideas</span>
          </span>
        <% end %>
      </li>
      <li id="jrFriends">
        <a href="<%= manage_friends_path %>"> 
          <span class="fadeInGreen">
            <strong id="header_friend_count" class="friend_count"><%= current_user.followers.count %></strong>  <i class="icon-group"></i>
            <span id="headerText">friends</span></span>
          <% if current_user.reverse_relationships.where('relationships.confirmed = false').any? %>
          <% @friend_requests = current_user.reverse_relationships.where('relationships.confirmed = false') %>
            <span class="new_friends_count"><%= @friend_requests.count %></span>
          <% end %>
        </a>
      </li>
      <li id="jrInvites">
        <%= link_to new_invited_events_path, :remote => true do %>
          <% unless current_user.new_invited_events_count == 0 %>
            <span id="new_invited_events_count" class="new_invited_events_count"><%= current_user.new_invited_events_count %></span>
          <% end %>
          <span class="fadeInPurple">
            <%= current_user.invitations.count %><i class="icon-envelope-alt"></i>
            <span id="headerText">.invites</span>
          </span>
        <% end %>
      </li>
      <li id="jrPlans">
        <%= link_to plans_path, :remote => true do %>
          <% if current_user.plans.where('ends_at > ?', Time.now).any? %>
            <span class="fadeInPurple">
              <%= current_user.plans.where('ends_at > ?', Time.now).count %><i class="icon-envelope-alt"></i>
              <span id="headerText">.ins</span>
            </span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>

    <% if false %>
      <!-- CITY ICON -->
      <div class="city-icon">
        <%= link_to yellow_pages_path, :remote => true, class:"city_vendors fancybox.ajax" do %>
          <%= image_tag @current_city.icon.url(:icon) %>
        <% end %>
      </div>
    <% end %>
    </div>

<% else %> 
<!-- IF NOT SIGNED IN -->
  <% unless params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
    <ul class="left_header">
      <li><%= render 'shared/city_session_dropdown' %></li>

    </ul>

    <div class="city_title">
      <h2><%= params[:city] %></h2>
    </div>

    <div class="right_header">
      <%= link_to '.instructions', what_is_hoosin_path %>
    </div>
  <% end %>
<% end %>
  <% if false %>
    <div class="crowd_idea_banner">
      <%= link_to crowd_ideas_path do %>
        <%= image_tag "crowd_ideas_banner.png" %>
      <% end %>
    </div>
  <% end %>
    </div>
    <div class="crust">
      <div class="new_idea_button"><%= render 'shared/new_idea_button' %></div>
      <div class="instructions"><%= link_to '.instructions', what_is_hoosin_path %></div>
        <%= link_to 'all', root_path %> | 
        <%= link_to 'ideas', ideas_path %> | 
        <%= link_to 'calendar', calendar_path %> |
        <%= render 'shared/city_user_dropdown' %>
<!--       <div class="friend_only hide_all" title="Only Show My Plans">
        <span class="fadeInBlue"><i class="icon-ok-sign"></i> <span class="only">only</span>
      </div> -->
      <div class="friend_only hide_public" title=".invites only">
        <span class="fadeInOrange"><i class="icon-envelope-alt"></i> <span class="only">only</span></span>
      </div>
    </div>
  </nav>
  <span id="invitations"></span>
  <span id="plans"></span>

  <%= render 'layouts/alerts' %>
</header>