<% if user_signed_in? %>
<header>
  <nav class="clearfix">
     <%= render 'layouts/logo' %>
      <% if false %>
        <div class="instructions">.instructions</div>
      <% end %>
      <div class="city_name" id="cityName"><%= @current_city.name %><% if user_signed_in? %> <%= link_to "move", edit_registration_path(current_user), id:"editCity", style:"display:none;" %><% end %></div>
      <%= render 'shared/friend_search' %>
      <div class="navigation">
        <% if current_user.admin? %>
          <%= link_to admin_dashboard_path, style:"position: relative;bottom: 7px;" do %>
            <span class="fadeInRed"><i class="icon-magic"></i></span>
          <% end %>
        <% end %>
        <span class="options">
          <%= link_to user_path(current_user) do %>
            <span id="jrFriends"><i class="icon-circle-blank friend_star"></i> <%= current_user.friends.count %> <span class="hide_on_mobile"> </span></span> |
            <span id="jrFriends"><i class="icon-circle-blank inmate_star"></i> <%= current_user.inmates.count %> <span class="hide_on_mobile"> </span></span>
          <% end %>
        </span>
        <%= link_to user_path(current_user) do %>
          <%= raster_profile_picture(current_user) %>
        <% end %>
        <%= render 'shared/new_idea_button' %>
      </div>
  </nav>

    <% if false %>
      <!-- CITY ICON -->
      <div class="city-icon">
        <%= link_to yellow_pages_path, :remote => true, class:"city_vendors fancybox.ajax" do %>
          <%= image_tag @current_city.icon.url(:icon) %>
        <% end %>
      </div>
    <% end %>
    </div>
  </nav>
  <%= render 'layouts/alerts' %>
</header>

<% elsif params[:action] == 'home' || params[:action] == 'show' %> 
<!-- IF NOT SIGNED IN -->
<header class="not_signed_in">
  <%= render partial: 'shalendar/joyride' %>
  <div class="instagramFeed">
    <div class="instagram">
      <span class="hoosinstagram">#hoosin</span>
    </div>
    <div class="message clearfix">
      <div style="float:left;">
      <%= link_to root_path do %>
        <%= image_tag "logo_beta.png", width:"260", height:"116" %>
      <% end %>
      </div>
      <div class="text_buttons">
        <strong>hoos.in is an online social calendar</strong><br>
        Do great things with friends
        <div class="not_signed_in_buttons">
          <span class="buttons">
          <%= link_to "log.in", new_user_session_path, class:"btn btn-pitch btn-primary" %>
          <%= link_to new_user_registration_path, class:"btn btn-pitch btn-join" do %>
            sign up <icon class="icon-double-angle-right"></i>
          <% end %>
          </span>
        </div>
      </div>
      <% if false %>
      <div class="app_stores">
        <a href="http://www.appszoom.com/android_applications/social/hoosin_dfatz.html"><%= image_tag "email/android_store.png" %></a>
        <a href="http://itunes.com/apps/hoosin"><%= image_tag "email/iphone_store.png" %></a>
      </div>
      <% end %>
    </div>
  </div>

<% if false %>
  <%= image_tag "hoosin_mosaic.png", class:"hoosin_mosaic" %>
<% end %>
  <nav>
    <% unless params[:controller] == "sessions" || params[:controller] == "registrations" || params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
      <% unless params[:action] == "show" || user_signed_in? == false %>
      <div class="instructions">
        .instructions
      </div>
      <% end %>
    <% end %>
    <% if false %>
    <% unless params[:action] == "landing" || params[:action] == "new" %>
    <div class="city_title">
      <%= @current_city.name %>
    </div>
    <% end %>
    <% end %>
  </nav>
  <%= render 'layouts/alerts' %>
</header>

<% else %>
<header>
    <%= render partial: 'shalendar/joyride' %>
  <nav>
    <%= render 'layouts/logo' %>
    <% unless params[:controller] == "sessions" || params[:controller] == "registrations" || params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
      <% unless params[:action] == "show" || user_signed_in? == false %>
      <div class="instructions">
        .instructions
      </div>
      <% end %>
    <% end %>
    <% if false %>
    <% unless params[:action] == "landing" || params[:action] == "new" %>
    <div class="city_title">
      <%= @current_city.name %>
    </div>
    <% end %>
    <% end %>
  </nav>
  <%= render 'layouts/alerts' %>
</header>
<% end %>
