<% if user_signed_in? %>
<header>
  <%= render partial: 'shalendar/joyride' %>
  <nav>
      <%= render 'layouts/logo' %>
      <div class="instructions">.instructions</div>
      <%= render 'shared/friend_search' %>
      <% if params[:action] == 'home' %>
      <div class="navigation">
        <span class="options">
<!--           <span id="reload"><i class="icon-repeat"></i></span> -->
          <% if current_user.admin? %>
            <%= link_to admin_dashboard_path do %>
              <span class="fadeInRed"><i class="icon-magic"></i></span>
            <% end %>
          <% end %>
          <span id="jrIdeas" class="bold">all</span> |
          <span id="jrFriendsIdeas"><%= @invites.count %> .invites</span> | 
          <span id="jrPlans"><%= @ins.count %> .ins</span> |
          <span id="jrMine"><%= @mine.count %> mine</span> |
          <span id="jrCityIdeas"><%= @city_ideas.count %> public</span> ||
          <span id="jrCalendar"><i class="icon-calendar"></i> view</span>
        </span>
        <%= render 'shared/picture_dropdown' %>
      </div>
      <% else %>
      <div class="navigation">
        <%= render 'shared/picture_dropdown' %>
      </div>
      <% end %>
      <div class="new_idea_button"><%= render 'shared/new_idea_button' %></div>
<!--       <div class="friend_only hide_all" title="Only Show My Plans">
        <span class="fadeInBlue"><i class="icon-ok-sign"></i> <span class="only">only</span>
      </div> -->
<!--       <div id="hide_public" class="friend_only" title=".invites only">
        <span class="fadeInOrange"><i class="icon-envelope-alt"></i> <span class="only">only</span></span>
      </div> -->
  </nav>

    <% if false %>
      <!-- CITY ICON -->
      <div class="city-icon">
        <%= link_to yellow_pages_path, :remote => true, class:"city_vendors fancybox.ajax" do %>
          <%= image_tag @current_city.icon.url(:icon) %>
        <% end %>
      </div>
    <% end %>
    </div>
  </nav>
  <%= render 'layouts/alerts' %>
</header>

<% elsif params[:action] == 'home' || params[:action] == 'show' %> 
<!-- IF NOT SIGNED IN -->
<header class="not_signed_in">
  <%= render partial: 'shalendar/joyride' %>
  <div class="instagramFeed">
    <div class="instagram">
      <span class="hoosinstagram">#hoosin</span>
    </div>
    <div class="message clearfix">
      <div style="float:left;">
      <%= link_to root_path do %>
        <%= image_tag "logo_beta.png", width:"260", height:"116" %>
      <% end %>
      </div>
      <div class="text_buttons">
        <strong>hoos.in is an online social calendar</strong><br>
        Do great things with friends
        <div class="not_signed_in_buttons">
          <br>
          <span class="buttons">
          <%= link_to "log.in", new_user_session_path, class:"btn btn-pitch btn-primary" %>
          <%= link_to new_user_registration_path, class:"btn btn-pitch btn-join" do %>
            sign up <icon class="icon-double-angle-right"></i>
          <% end %>
          </span>
        </div>
      </div>
      <div class="app_stores">
        <a href="http://www.appszoom.com/android_applications/social/hoosin_dfatz.html"><%= image_tag "email/android_store.png", :style => "width:150px;" %></a>
        <a href="http://itunes.com/apps/hoosin"><%= image_tag "email/iphone_store.png", :style => "width:150px;" %></a>
      </div>
    </div>
  </div>

<% if false %>
  <%= image_tag "hoosin_mosaic.png", class:"hoosin_mosaic" %>
<% end %>
  <nav>
    <% unless params[:controller] == "sessions" || params[:controller] == "registrations" || params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
      <% unless params[:action] == "show" || user_signed_in? == false %>
      <div class="instructions">
        .instructions
      </div>
      <% end %>
    <% end %>
    <% if false %>
    <% unless params[:action] == "landing" || params[:action] == "new" %>
    <div class="city_title">
      <%= @current_city.name %>
    </div>
    <% end %>
    <% end %>
  </nav>
  <%= render 'layouts/alerts' %>
</header>

<% else %>
<header>
    <%= render partial: 'shalendar/joyride' %>
  <nav>
    <%= render 'layouts/logo' %>
    <% unless params[:controller] == "sessions" || params[:controller] == "registrations" || params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
      <% unless params[:action] == "show" || user_signed_in? == false %>
      <div class="instructions">
        .instructions
      </div>
      <% end %>
    <% end %>
    <% if false %>
    <% unless params[:action] == "landing" || params[:action] == "new" %>
    <div class="city_title">
      <%= @current_city.name %>
    </div>
    <% end %>
    <% end %>
  </nav>
  <%= render 'layouts/alerts' %>
</header>
<% end %>
