<header>
  <nav>
  <%= render 'layouts/logo' %>

<% if user_signed_in? %>

  <ul class="left_header">
    <% if false %><li class="discover_banner"><%= link_to "crowd ideas", discover_path %></li><% end %>
    <li><%= render 'shared/city_user_dropdown' %></li>
  </ul>

  <div class="right_header">
    <% if false %>
      <!-- CITY ICON -->
      <div class="city-icon">
        <%= link_to yellow_pages_path, :remote => true, class:"city_vendors fancybox.ajax" do %>
          <%= image_tag current_user.city.icon.url(:icon) %>
        <% end %>
      </div>
    <% end %>
    <div class="crowd_idea_banner">
      <%= link_to discover_path do %>
        <%= image_tag "crowd_ideas_banner.png" %>
      <% end %>
    </div>
  <div class="instructions"><%= link_to '.instructions', what_is_hoosin_path %></div>
    <% unless current_user.vendor? %>
      <%= render 'shared/friend_search' %>
    <% end %>
  </div>

<% else %> <!-- IF NOT SIGNED IN -->
  <% unless params[:action] == "landing" || params[:action] == "new_vendor" || params[:action] == "vendor_splash" %> 
    <ul class="left_header">
      <% if false %><li class="discover_banner"><%= link_to "crowd ideas", discover_path %></li> <% end %>
      <li><%= render 'shared/city_session_dropdown' %></li>

    </ul>

    <div class="city_title">
      <h2><%= params[:city] %></h2>
    </div>

    <div class="right_header">
      <%= link_to '.instructions', what_is_hoosin_path %>
    </div>
  <% end %>
<% end %>
  </nav>
</header>