<div class="navbar">
  <div class="navbar-inner clearfix">
    <div class="container">
    <%= render 'layouts/logo' %>
    <% if user_signed_in? %>
      <div class="text-right">
        <%= render 'shared/friend_search' %>
        <div class="city_name pull-right" id="cityName">
          <%= link_to "move", pick_city_path, id:"editCity", style:"display:none;" %> <%= @current_city.name %>
        </div>
      </div>
      <% if current_user.admin? %>
        <%= link_to admin_dashboard_path, style:"position: relative;bottom: 7px;" do %>
          <span class="fadeInRed"><i class="icon-magic"></i></span>
        <% end %>
      <% end %>
    <% else %>
    <div class="pull-right iphone-android">
      <%= image_tag "email/iphone_store.png", width:130 %>
      <%= image_tag "email/android_store.png", width:130 %>
    </div>
    <% end %>
    </div>
  </div>
</div>
