<%= render 'layouts/logo' %>
<div class="profile_pic_home">
	<div id="user-settings">
		<%= medium_profile_picture(current_user) %>
		<%= link_to edit_user_registration_path do %>
		<i class='icon-wrench user_settings' title="Edit User Settings" style="display:none;"></i>
		<% end %>
	</div>
	<p><%= current_user.name %></p>
</div>

<%= render 'shalendar/stats' %>