<nav class="clearfix">
   <%= render 'layouts/logo' %>
    <div class="city_name" id="cityName"><% if @current_city.present? %> <%= @current_city.name %><%= link_to "move", pick_city_path, id:"editCity", style:"display:none;" %><% end %></div>
    <div class="navigation">
      <% if current_user.admin? %>
        <%= link_to admin_dashboard_path, style:"position: relative;bottom: 7px;" do %>
          <span class="fadeInRed"><i class="icon-magic"></i></span>
        <% end %>
      <% end %>
    </div>
</nav>
  
<%= render 'users/profile' %>
<%= render 'users/inmates_bar' %>
<%= render 'shared/friend_search' %>
<%= render 'shared/new_idea_button' %>
<div class="navbars-set">
<% if @user == current_user  %>
	<div class="navbar active hover-purple" id="showInvitedIdeas">
		<i class="icon-cloud"></i><span id="invites_count"> <%= @invited_ideas_count %></span> ideas</span> <i class="icon-caret-right"></i> 
	</div>
	<div class="navbar hover-orange" id="showInvitedTimes">
		<i class="icon-calendar"></i><span id="invites_count"> <%= @invited_times_count %></span> .invites</span>
	</div>
	<div class="navbar hover-blue" id="showIns">
		<i class="icon-ok"></i><span id="ins_count"> <%= @ins_count %></span> .interested
	</div>
	<div class="navbar hover-blue" id="showPlans">
		<i class="icon-ok"></i><span id="plans_count"> <%= @plans_count %></span> .in
	</div>
	<div class="navbar hover-red" id="showOuts">
		<i class="icon-remove"></i> outs
	</div>
<!-- 	<div class="navbar hover-dark-blue" id="showOvers">
		<i class="icon-reply"></i> overs
	</div> -->

	<div class="upcoming-times clearfix" id="upcomingTimes">
		<h3 class="upcoming-times">upcoming plans</h3>
	</div>

	<%= link_to explanation_path(id: @user), remote:true do %>
		<div class="navbar hover-green" id="help">
			<i class="icon-question-sign"></i> help
		</div>
	<% end %>
	<%= link_to edit_user_registration_path do %>
		<div class="navbar hover-light-orange">
      <i class='icon-wrench user_settings'></i> settings
    </div>
  <% end %>
  <%= link_to destroy_user_session_path, :method => :delete do %>
  	<div class="navbar hover-red">
      <i class='icon-signout logout'></i> logout
    </div>
  <% end %>
<% end %>
</div>
<%= render 'layouts/footer' %>