<!DOCTYPE html>
<html>
  <head>
    <title><%= user_signed_in? && yield(:title).blank? ? "  " + current_user.name + " | " + "hoos.in"  : "hoos.in #{yield(:title)}" %></title>

    <meta name="description" content="An online social calendar">
    <meta name="keywords" content="events, fun, friends">
    <link rel="shortcut icon" href="/favicon.ico" />
    
    <link rel="apple-touch-icon" href="/assets/iphone_icons/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/iphone_icons/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/iphone_icons/114.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/iphone_icons/114.png" />

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>

    <% if @event %>
      <meta property="og:title" content="<%= @event.title %>"/>
      <meta property="og:type" content="activity" />
      <meta property="og:url" content="<%= event_url(@event)%>" />
      <meta property="og:site_name" content="hoos.in"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="<%= @event.image(:medium) %>"/>
    <% else %>
      <meta property="og:type" content="website" />
      <meta property="og:title" content="hoos.in"/>
      <meta property="og:url" content="http://www.hoos.in" />
      <meta property="og:site_name" content="hoos.in"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="http://hoos.in/assets/icon.png"/>
    <% end %> 
    <!-- <meta property="fb:app_id" content="327936950625049"/> -->   
      <meta property="fb:admins" content="327936950625049" />
    <!-- FOR RESPONSIVE DESIGN -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <%= render 'layouts/shim' %>  
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
    <div id="overlay" style="display:none;"></div>
    <%= render 'shared/get_time_zone_offset' %>
    <%= render 'layouts/fb_script' %> 
    <span id="shareAfterRsvp"></span>
    <div id='feedback'><a href="mailto:info@hoos.in" target="_blank">.inform us</a></div>
    <%= render 'layouts/header' %>
    <div class="layout clearfix" id="content">       
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= yield :scripts %>
    <%= javascript_include_tag "application" %>
  </body>
</html>