<!DOCTYPE html>
<html>
  <head>
    <title>hoos.in<%= yield(:title) %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "http://xilinus.com/jquery-addresspicker/src/jquery.ui.addresspicker.js" %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="fb:app_id" content="327936950625049"
    <meta property="og:title" content="hoos.in"/>
    <meta property="og:site_name" content="hoos.in"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://hoos.in/assets/icon.png"/>
    <!-- FOR RESPONSIVE DESIGN -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <%= render 'layouts/shim' %>  
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
    <%= render 'layouts/fb_script' %> 
    <div id="loading" style="display:none;"><%= image_tag('ajax-loader.gif') %></div> 
    <%= render 'layouts/header' %> 
    <div class="layout"> 
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
      <% if user_signed_in? %>
        <div id='feedback'><a href="mailto:info@hoos.in" target="_blank"> Feedback</a></div>
      <% end %>
    </div>
    <%= yield :scripts %>
  </body>
</html>