<!DOCTYPE html>
<html>
  <head>
    <title><%= user_signed_in? && yield(:title).blank? ? "  " + current_user.name + " | " + "hoos.in"  : "hoos.in #{yield(:title)}" %></title>

    <meta name="description" content="An online social calendar">
    <meta name="keywords" content="events, fun, friends">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/iphone_icons/114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/iphone_icons/114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/iphone_icons/72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/iphone_icons/29.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <% if @event %>
      <meta property="og:title" content="<%= @event.title %>"/>
      <meta property="og:type" content="activity" />
      <meta property="og:url" content="<%= event_url(@event)%>" />
      <meta property="og:site_name" content="hoos.in"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="<%= @event.image(:medium) %>"/>
    <% else %>
      <meta property="og:type" content="website" />
      <meta property="og:title" content="hoos.in"/>
      <meta property="og:url" content="http://www.hoos.in" />
      <meta property="og:site_name" content="hoos.in"/>
      <meta property="og:type" content="website"/>
      <meta property="og:image" content="http://hoos.in/assets/icon.png"/>
    <% end %> 
    <!-- <meta property="fb:app_id" content="327936950625049"/> -->   
      <meta property="fb:admins" content="327936950625049" />
    <!-- FOR RESPONSIVE DESIGN -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <%= render 'layouts/shim' %>  
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
    <div id="overlay" style="display:none;"></div>
    <%= render 'shared/get_time_zone_offset' %>
    <%= render 'layouts/fb_script' %> 
    <span id="shareAfterRsvp"></span>
    <div id='feedback'><a href="mailto:info@hoos.in" target="_blank">.inform us</a></div>
    <%= render 'layouts/header' %>
    <%= render 'layouts/alerts' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= yield :scripts %>
    <%= javascript_include_tag "application" %>

  </body>
</html>